
<div class="search">
  <div class="inputs">
    <form [formGroup]="searchForm" class="form">
      <div class="items">
        <app-smart-input
        #userInput
        [label]="'Player: '"
        [keepSelected]="true"
        [getter]="queryUserCallback"
        class="item smart-input-wrapper"
        ></app-smart-input>
        <app-smart-input
        #tournamentInput
        [label]="'Tournament: '"
        [keepSelected]="true"
        [getter]="queryTournamentCallback"
        class="item smart-input-wrapper"
        ></app-smart-input>
        <app-smart-input
        #regulationInput
        [label]="'Regulation: '"
        [keepSelected]="true"
        [getter]="queryRegulationCallback"
        class="item smart-input-wrapper"
        ></app-smart-input>
        <button>Reset: </button>
      </div>
      <div class="items">
        <app-smart-input
        #pokemonInput
        [label]="'Pokemon: '"
        [keepSelected]="false"
        [getter]="queryPokemonCallback"
        (selectEvent)="pokemonSelectEvent($event)"
        class="item smart-input-wrapper"
        ></app-smart-input>
        <app-smart-input
        #moveInput
        [label]="'Move: '"
        [keepSelected]="false"
        [getter]="queryMoveCallback"
        (selectEvent)="moveSelectEvent($event)"
        class="item smart-input-wrapper"
        ></app-smart-input>
        <app-smart-input
        #itemInput
        [label]="'Item: '"
        [keepSelected]="false"
        [getter]="queryItemCallback"
        (selectEvent)="itemSelectEvent($event)"
        class="item smart-input-wrapper"
        ></app-smart-input>    
        <button (click)="search()">Search: </button>
      </div>
      <div class="items">
        <app-result-storage #pokemonStorage class="item storage"></app-result-storage>
        <app-result-storage #moveStorage class="item storage"></app-result-storage>
        <app-result-storage #itemStorage class="item storage"></app-result-storage>   
      </div>
    </form>
  </div>
  <div class="results">
    <div>
      Total teams: {{teams.length}}
    </div>
    <div class="sorter">
      <div class="category">
        Date
        <div class="way">
          
        </div>
      </div>
    </div>
    <ng-container *ngIf="teams && teams.length > 0">
      <div class="table">
        <ng-container *ngFor="let team of teams">
          <div class="record">
            <app-team-preview [team]="team" [mode]="'six'"></app-team-preview>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="searched">
      <div class="loader-wrapper">
        <div class="loader"></div>
      </div>
    </ng-container>
  </div>
</div>