.result-storage
{
  display: flex;
  flex-wrap: wrap;
  gap: 0.2vw;
  padding: 0.4vw;
  height: inherit;
  max-height: inherit;
  overflow: auto;
  border-radius: 5px;
  border: 1px solid black;

  .result
  {
    height: 2vh;
    display: flex;
    gap: 0.1vw;
    align-items: center;
    padding: 0.2vw;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    background-color: white;
  }

  .remove
  {
    display: flex;
    align-items: center;
    width: 0.8em;
    height: 0.8em;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.2em;

    &:hover
    {
      background-color: rgb(165, 165, 165);
    }
  }
}

.icon
{
  width: 1.5em;
  height: 1.5em;
}