.editor-input
{
  width: 11em;
}

.tag-editor-wrapper
{
  position: relative;
}

.color-picker-wrapper
{
  position: relative;
}

.anon-warning
{
  position: absolute;
  left: -1.5em;
  bottom: 0.55em;
  margin-right: 0.2em;
}