.editor-input
{
  width: 11em;
}

.tag-editor-wrapper
{
  position: relative;
}

.color-picker-wrapper
{
  position: relative;
}

.tournament-editor-wrapper
{
  position: absolute;
  left: -50%;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  max-height: 0;
  min-width: 20vw;
  width: fit-content;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.tournamentEditorShow
{
  max-height: 40rem;
  overflow: hidden;
  transition: max-height 0.5s 0.1s ease-in;
}

.anon-warning
{
  position: absolute;
  left: -1.5em;
  bottom: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
  border: 0.1em solid var(--text-color);
  color: var(--text-color);
  border-radius: 100%;
  font-size: 1.5em;
  margin-right: 0.2em;
  cursor: pointer;

  &:hover
  {
    transition: .4s;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
  }
}