
.creator
{
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 5%;

  .form
  {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 3%;
    justify-content: end;
  }

  .preview
  {
    width: 100%;
    height: auto;
    border: 1px solid black;
  }

  .form-item
  {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8vh;
    width: inherit;
    //outline: 1px solid black;
  }

  .stat-selector
  {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    gap: 10%;
    padding: 0 3vw 0 3vw;

    .stat-box
    {
      padding: 0.2vw;
      background-color: white;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      width: 60%;

      &:hover
      {
        outline: 1px black dotted;
      }
    }

    .selectedStat
    {
      background-color: darkcyan;
    }
  }
}

.disabled
{
  opacity: 0.7;
  pointer-events: none;
}

.check-box
{
  display: flex;
  align-items: end;

  input
  {
    margin: 0;
    height: 2vh;
  }
}

.check-group
{
  padding: 0.2vw;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
}