
<div class="creator">
  <form class="form" [formGroup]="pokemonForm" >
    <div class="col">
      <div class="form-item">
        <app-smart-input
        #pokemonInput    
        [label]="'Pokemon '"
        [keepSelected]="true"
        [getter]="queryService.queryPokemonCallback"
        (selectEvent)="pokemonSelectEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Move 1 '"
        [keepSelected]="true"
        [getter]="queryService.queryMoveCallback"
        (selectEvent)="move1SelectEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Move 3 '"
        [keepSelected]="true"
        [getter]="queryService.queryMoveCallback"
        (selectEvent)="move3SelectEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item form-item-col">
        <div class="row">
          <label for="">Nickname</label>
          <input type="text" class="nickname" formControlName="nickname">
        </div>
        <div class="row-center">
          <div class="row">
            <label for="">Level</label>
            <input class="level" formControlName="level">
          </div>
          <app-checkbox
          [obj]="pokemon"
          [objSelector]="'shiny'"
          [label]="'Shiny'"
          ></app-checkbox>
        </div>
        <div class="row">
          <app-radio
          [obj]="pokemon"
          [objSelector]="'gender'"
          [options]="['male', 'female']"
          [optionNames]="['Male', 'Female']"
          [selected]="0"
          ></app-radio>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-item">
        <app-smart-input
        #userInput
        [value]="pokemons[selectedPokemonIndex].item"
        [label]="'Item '"
        [keepSelected]="true"
        [getter]="queryService.queryItemCallback"
        (selectEvent)="itemSelectEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Move 2 '"
        [keepSelected]="true"
        [getter]="queryService.queryMoveCallback"
        (selectEvent)="move2SelectEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Move 4 '"
        [keepSelected]="true"
        [getter]="queryService.queryMoveCallback"
        (selectEvent)="move4SelectEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item form-item-col">
        <div class="stat-selector" [ngClass]="{notAllowed: !pokemon.name}">
          <ng-container *ngFor="let stat of pokemon.ivs; index as i">
            <div class="stat-box" (click)="selectStat(i)"
            [ngClass]="{selectedStat: selectedStat === i, disabled: !pokemon.name}"
            >
              {{stat.name}}
            </div>
          </ng-container>
        </div>
        <ng-container *ngIf="!pokemon.name">
          <div class="formFeedbackError row-center">
            Select a pokemon first!
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col">
      <div class="form-item">
        <div class="smart-input-wrapper">
          <div class="smart-input-top">
            <div class="smart-input-label">
              Ability
            </div>
            <div class="checkbox-wrapper">
              <app-checkbox
              [option]="allAbilities"
              [label]="'Show all'"
              (checkEvent)="allAbilitiesSwitch()"
              ></app-checkbox>
            </div>
          </div>
          <ng-container *ngIf="allAbilities; else notAllAbilities">
            <app-smart-input
            #userInput
            [keepSelected]="true"
            [getter]="queryService.queryAbilityCallback"
            (selectEvent)="abilitySelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </ng-container>
          <ng-template #notAllAbilities>
            <app-smart-input
            #userInput
            [keepSelected]="true"
            [allGetter]="queryService.pokemonAbilitiesCallback"
            [allGetterIndex]="pokemon?.dexNumber"
            (selectEvent)="abilitySelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </ng-template>
        </div>
      </div>
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Nature '"
        [keepSelected]="true"
        [getter]="queryService.queryNatureCallback"
        [allGetter]="queryService.naturesAllCallback"
        (selectEvent)="natureSelectEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Teratype '"
        [keepSelected]="true"
        [getter]="queryService.queryTeratypeCallback"
        [allGetter]="queryService.teraTypesAllCallback"
        (selectEvent)="teraTypeSelectEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item col-center">
        <div class="range">
          <label for="">IV</label>
          <div class="range-slider">
            <input type="range" min="0" max="31" 
            value="{{pokemon.ivs ? pokemon.ivs[selectedStat].value : ''}}" 
            class="slider" id="myRange" formControlName="ivs" [ngStyle]="{background: ivSliders[this.selectedStat]}">
          </div>
          <input class="level" formControlName="ivs"
          value="{{pokemon.ivs ? pokemon.ivs[selectedStat].value : ''}}">
        </div>
        <div class="range">
          <label for="">EV</label>
          <div class="range-slider">
            <input type="range" min="0" max="{{currentMaxEVs}}" 
            value="{{pokemon.evs ? pokemon.evs[selectedStat].value : ''}}" 
            class="slider" id="myRange" formControlName="evs" [ngStyle]="{background: evSliders[this.selectedStat]}">
          </div>
          <input class="level" 
          value="{{pokemon.evs ? pokemon.evs[selectedStat].value : ''}}"
          formControlName="evs">
        </div>
        <div class="row-center">
          Remaining EVs: {{remainingEVs}}
        </div>
      </div>
    </div>
  </form>
  <div class="preview">
    <div class="selectors">
      <ng-container *ngFor="let pokemon of pokemons; index as i">
        <div 
        class="selector"
        [ngClass]="{selected: selectedPokemonIndex == i}"
        (click)="selectPokemon(i)"
        >
          {{i + 1}}
        </div>
      </ng-container>
      <ng-container *ngIf="pokemons.length < 6">
        <div class="selector" (click)="addEmptyPokemon()">
          +
        </div>
      </ng-container>
    </div>
    <app-pokemon [pokemon]="pokemons[selectedPokemonIndex]" [teamOptions]="teamOptions" ></app-pokemon>
  </div>
</div>
