
<div class="creator">
  <form class="form" [formGroup]="pokemonForm" >
    <div class="col">
      <div class="form-item">
        <app-smart-input
        #pokemonInput
        [label]="'Pokemon: '"
        [keepSelected]="true"
        [getter]="queryService.queryPokemonCallback"
        (selectEvent)="pokemonSelectEvent($event)"
        (removeSelectedEvent)="pokemonRemoveSelectedEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Move 1: '"
        [keepSelected]="true"
        [getter]="queryService.queryMoveCallback"
        (selectEvent)="move1SelectEvent($event)"
        (removeSelectedEvent)="move1RemoveSelectedEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Move 3: '"
        [keepSelected]="true"
        [getter]="queryService.queryMoveCallback"
        (selectEvent)="move3SelectEvent($event)"
        (removeSelectedEvent)="move3RemoveSelectedEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="col">
        <div class="row-center">
          <div class="form-item">
            <label for="">Shiny?</label>
            <input type="checkbox" name="" id="" formControlName="shiny">
          </div>
          <div class="form-item">
            <label for="">Level:</label>
            <input type="number" min="1" max="100" formControlName="level">
          </div>
        </div>
        <div class="form-item">
          <label for="">Gender</label>
          <fieldset id="group1" class="row">
            <input type="radio" [value]="" formControlName="gender">Male
            <input type="radio" [value]="'F'" formControlName="gender">Female
          </fieldset>
        </div>
        <div class="form-item">
          <label for="">Nick name</label>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Item: '"
        [keepSelected]="true"
        [getter]="queryService.queryItemCallback"
        (selectEvent)="itemSelectEvent($event)"
        (removeSelectedEvent)="itemRemoveSelectedEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Move 2: '"
        [keepSelected]="true"
        [getter]="queryService.queryMoveCallback"
        (selectEvent)="move2SelectEvent($event)"
        (removeSelectedEvent)="move2RemoveSelectedEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Move 4: '"
        [keepSelected]="true"
        [getter]="queryService.queryMoveCallback"
        (selectEvent)="move4SelectEvent($event)"
        (removeSelectedEvent)="move4RemoveSelectedEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="col" [ngClass]="{disabled: !pokemon.name}">
        <div class="stat-selector">
          <ng-container *ngFor="let stat of pokemon.ivs; index as i">
            <div class="stat-box" (click)="selectStat(i)"
            [ngClass]="{selectedStat: selectedStat === i}"
            >
              {{stat.name}}
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Ability: '"
        [keepSelected]="true"
        [getter]="queryService.queryAbilityCallback"
        (selectEvent)="abilitySelectEvent($event)"
        (removeSelectedEvent)="abilityRemoveSelectedEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Nature: '"
        [keepSelected]="true"
        [getter]="queryService.queryNatureCallback"
        [allGetter]="queryService.naturesAllCallback"
        (selectEvent)="natureSelectEvent($event)"
        (removeSelectedEvent)="natureRemoveSelectedEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="form-item">
        <app-smart-input
        #userInput
        [label]="'Teratype: '"
        [keepSelected]="true"
        [getter]="queryService.queryTeratypeCallback"
        [allGetter]="queryService.teraTypesAllCallback"
        (selectEvent)="teraTypeSelectEvent($event)"
        (removeSelectedEvent)="teraTypeRemoveSelectedEvent($event)"
        class="smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="col">
        <div class="form-item">
          <label for="">IVs </label>
          <input type="range" min="0" max="31" value="{{pokemon.ivs![selectedStat].value}}" 
          class="slider" id="myRange"
          formControlName="ivs">
          <label for="">{{pokemon.ivs![selectedStat].value}}</label>
        </div>
        <div class="form-item">
          <label for="">EVs {{remainingEVs}}</label>
          <input type="range" min="0" max="{{currentMaxEVs}}" value="{{pokemon.evs![selectedStat].value}}" 
          class="slider" id="myRange"
          formControlName="evs">
          <label for="">{{pokemon.evs![selectedStat].value}}</label>
        </div>
      </div>
    </div>
  </form>
  <div class="preview">
    <app-pokemon [pokemon]="pokemon" [editorOptions]="editorOptions" ></app-pokemon>
    <button (click)="addPokemon()">Add Pokemon</button>
  </div>
</div>
