<div 
class="checkbox tooltip-wrapper"
(click)="clickEvent()"
[ngClass]="{'checked-border': (icon || svg) && checked, 'checked-background': !(icon || svg) && checked}"
>
  <ng-container *ngIf="icon">
    <img src="{{icon}}" alt="{{label}}" class="big-icon">
  </ng-container>
  <ng-container *ngIf="svg" [ngTemplateOutlet]="svg"></ng-container>
  <ng-container *ngIf="!icon && !svg">
    {{label}}
  </ng-container>
  <ng-container *ngIf="tooltipText">
    <app-tooltip
    [text]="tooltipText"
    [side]="'top'"
    ></app-tooltip>
  </ng-container>
</div>
