
$cardWidth: 30em;
$cardheight: 20vh;
$moveHeight: calc($cardheight/4);
$statsHeight: 5vh;
$iconSize: 1.2em;
$spriteSize: 6em;
$paddingBig: 0.5vw;
$padding: 0.2vw;

.icon
{
  width: $iconSize;
  height: $iconSize;
}

.icon-big
{
  width: $iconSize * 1.5;
  height: $iconSize * 1.5;
}

.icon-name
{
  width: auto;
  height: $iconSize;
  border-radius: 10px;
}

.section
{
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  border: 1px solid transparent;
  padding: 2px;

  .section-content
  {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .section-name
    {
      text-align: start;
      white-space: nowrap;
      padding: 0 0.2em 0 0.2em;
    }
  }

  &:hover > .section-content > .poke-tooltip
  {
    visibility: visible;
  }
}

.pokemon
{
  width: $cardWidth;
  min-height: $cardheight;
  background-color: var(--bg-color-2);
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
  position: relative;

  .profile
  {
    display: grid;
    grid-template-columns: 35% 25% 40%;
    height: $cardheight;

    .left
    {
      text-align: left;
      padding: $paddingBig;

      display: grid;
      grid-template-rows: 25% 25% 25% 25%;
      align-items: center;

      .species
      {
        display: flex;
        align-items: center;
        position: relative;

        .dex-number
        {
          color: var(--primary);
          margin-right: 0.5vh;

          position: absolute;
          top: 0;
          left: 0.4em;
          font-size: 0.6em;
        }
      }

      .options
      {
        display: flex;
        justify-content: space-around;
        width: 80%;

        .option
        {
          width: 1.5vw;
          height: 1.5vw;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;

          .icon
          {
            width: $iconSize;
            height: $iconSize;
          }
        }

        .option-disabled
        {
          cursor: pointer;
          background-color: var(--bg-color-3);
        }
      }
    }

    .center
    {
      display: grid;
      grid-template-rows: 15% 70% 15%;
      padding: $paddingBig;

      .types
      {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .vertical-divider
        {
          border: 0.5px solid grey;
          height: $iconSize;
          margin: 0 4px;
        }

        .type
        {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;     
        }
      }

      .sprite-background
      {
        display: flex;
        align-items: center;
        justify-content: center;

        .sprite
        {
          width: $spriteSize;
          height: $spriteSize;
        }
      }

      .center-down
      {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .right
    {
      padding: $paddingBig;

      .moves
      {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(4, 23%);
        gap: 0.2em;

        .move
        {
          width: 100%;
          height: 100%;
          max-height: 100%;
          position: relative;
          border-radius:5px;
          display: grid;
          grid-template-columns: 20% 80% 0%;
          grid-template-rows: 100%;
          justify-items: start;
          align-content: center;
          
          .move-type
          {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80%;
            width: 100%;
            border-radius: 5px;
            margin-left: 0.2em;

            .move-type-icon
            {
              width: 1.6em;
              height: 1.6em;
            }
          }

          .name
          {
            margin-left: 0.6em;
            text-align: start;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .stats
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: $padding/2;
    padding: $padding;
    background-color: var(--bg-color-3);
    border-radius: 0 0 5px 5px;

    .stat
    {
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name
      {
        display: flex;
        justify-content: center;
        width: 2vw;
      }

      .values
      {
        height: 1.5vh;
        display: flex;
        justify-content: start;
        width: 100%;

        .bar
        {
          cursor: pointer;
          color: white;
          transition: visibility 1s ease;
        }

        .evs
        {
          border-radius: 0 15px 15px 0;
        }
        
        .maxed
        {
          border: 0.2em solid black;
        }
        
        .nature
        {
          margin-left: $padding;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius:50px;
          width: 0.8vw;
          height: 0.8vw;

          .icon
          {
            width: 0.5vw;
            height: 0.5vw;
          }

          .neutral
          {
            height: 30%;
            width: 80%;
            border-radius: 30px;
            background-color: grey;
          }
        }
      }

      .total
      {
        display: flex;
        justify-content: center;
        width: 2vw;
        margin-left: $padding;
      }
    }
  }

  .notes
  {
    background-color: var(--bg-color-3);
    height: $cardheight;
    padding: 1em;
    overflow-x: scroll;
  }

  .notes-editor
  {
    background-color: var(--bg-color-3);
    height: $cardheight;
    padding: 1em;

    textarea
    {
      width: 100%;
      height: 100%;
    }
  }
}

//----------------------------------------------------------------------------------------------------
//poke-tooltip 

.poke-tooltip-selected
{
  border: 1px solid var(--text-color);
  background: none !important;
  border-radius: 5px;
}

.poke-tooltip-wrapper
{
  position: relative; 
  width: 0;
  height: 0;

  .poke-tooltip-visible
  {
    visibility: visible !important;
  }

  .poke-tooltip
  {
    visibility: hidden;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--bg-color-2);
    z-index: 5;
    cursor: auto;
    position: absolute;

    &::before
    {
      //Arrow
      content: "";
      width: 10px; 
      height: 10px; 
      border: 1px solid black;
      background-color: var(--bg-color-2);
      position: absolute;
      transform: rotate(45deg);
      z-index: -1;
    }

    .head
    {
      background-color: var(--bg-color-3);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $paddingBig $paddingBig $paddingBig $paddingBig;
      border-radius: 5px 5px 0 0;

      .head-text
      {
        font-size: larger;
        text-align: center;
      }
    }

    .body
    {
      padding: $padding;
      background-color: var(--bg-color-2);
      border-radius: 0 0 5px 5px;
    }

    .one-piece
    {
      padding: $padding;
      background-color: var(--bg-color-2);
      border-radius: 5px;

      .one-line
      {
        background-color: var(--bg-color-2);
        padding: $padding;
        border-radius: 5px;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 5px;
      }
    }

    .link
    {
      text-decoration: none;
      cursor: pointer;
      color: var(--text-color-link);

      &:hover
      {
        text-decoration: underline ;
      }
    }
  }

  .poke-tooltip-top
  {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;

    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(round(-50%, 1px), -15px);

    &::before
    {
      //Arrow bottom
      bottom: -0.35em;
    }

    .poke-tooltip-types
    {
      display: flex;
      justify-content: center;
      background-color: var(--bg-color-2);
      border-radius: 5px;

      .category
      { 
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0.2vw;

        .text
        {
          display: flex;
          justify-content: end;
        }

        .icons
        {
          display: grid;
          grid-template-columns: 50% 50%;
        }
      }

      .divider
      {

      }
    }

    .family
    {
      display: flex;
      align-items: center;
      background-color: var(--bg-color-2);
      border-radius: 5px;

      .sprite-small
      {
        width: $iconSize*2;
        height: $iconSize*2;
      }
    }
  }

  .poke-tooltip-left
  {
    min-width: round(calc($cardWidth/1.5), 1px);
    height: fit-content;
    text-align: center;

    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate(-15px, round(calc(-50% - 0.4em), 1px));


    &::before
    {
      //Arrow right
      right: -0.4em;
      top: 50%;
    }
  }

  .poke-tooltip-move
  {
    min-width: round(calc($cardWidth/1.3), 1px);
    height: fit-content;
    
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(15px, round(calc(-50% - 0.4em), 1px));

    &::before
    {
      //Arrow left
      left: -0.4em;
      top: 50%;
    }

    .move-head
    {
      display: grid;
      grid-template-columns: auto 1fr 90px;
      gap: 0.4em;

      .poke-tooltop-move-type
      {
        display: flex;
        justify-content: start;
        align-items: center;
      }

      .head-class
      {
        display: flex;
        justify-content: end;

        .class-icon
        {
          width: auto;
          max-height: $iconSize*1.2;
        }
      }
    }

    .move-body
    {

      .primary
      {
        display: flex;
        justify-content: center;
        text-align: center;
        column-gap: $padding;
        padding: $padding;
        background-color: var(--bg-color-2);
        border-radius: 0 0 5px 5px;
      }
  
      .secondary
      {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 0.2em;
      }

      .atribute
      {
        padding: 0 $padding 0 $padding;
        display: flex;
        background-color: var(--bg-color-3);
        padding: $padding;
        border-radius: 5px;
        display: flex;
        align-items: center;
      }

      .properties
      {
        display: flex;
        flex-direction: column;
        padding: $padding;
      }
  
      .property
      {
        display: flex;
      }
  
      .property-title
      {
        font-weight: bold;
        margin-right: $padding;
      }
  
      .property-body
      {
      }
    }
  }

  .poke-tooltip-stat
  {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;

    &::before
    {
      //Arrow bottom
      left: 50%;
      bottom: -0.35em;
    }

    .col
    {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      padding: $padding;

      .item
      {
        width: 100%;
        min-width: 2vw;
        min-height: 1em;
        width: fit-content;
        display: flex;
        justify-content: center;
        overflow: hidden;
      }
    }

    .ivs
    {
      background-color: lightblue;
    }

    .evs
    {
      background-color: gold;
    }

    .maxed
    {
      outline: 0.3vh solid black;
    }
  }
}

.empty-icon
{
  width: $iconSize;
  height: $iconSize;
  cursor: auto !important;
}

.empty-section
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold
{
  font-weight: bold;
}

.odd-stat
{
  //background-color: var(--bg-color-2);
  //border-radius: 5px;
}

.empty-line
{
  width: 1em;
  height: 1px;
  padding: 0.05em;
  background-color: var(--text-color);
  border-radius: 20px;
}

.pokemon-loading
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $cardWidth/2;
  height: $cardWidth/2;
  display: flex;
  justify-content: center;
  align-items: center;
}