//General
$darkblue: #0A285F;
$blue: #0075BE;
$gold: #D5A100;
$yellow: #FFCC00;

$red: #FB1B1B;
$darkred: #a50000;
$black: #000000;
$grey: #DFDFDF;
$white: #FFFFFF;

$blue1: #DDF2FD;
$blue2: #9BBEC8;
$blue3: #427D9D;
$blue4: #164863;

$light1: #fafafa;
$light2: #e4e5f1;
$light3: #d2d3db;
$light4: #9394a5;
$light5: #484b6a;

$dark1: #232B32;
$dark2: #0A2647;
$dark3: #144272;
$dark4: #2C74B3;
$dark5: #0075BE;

//blue pack
$softwhite: #F1F6F9;
$deepblue: #14274E;
$dimblue: #394867;
$softgrey: #9BA4B4;

//Type colors
$normal: #A8A77A;
$fire: #EE8130;
$water: #6390F0;
$electric: #F7D02C;
$grass: #7AC74C;
$ice: #96d9d6;
$fighting: #C22E28;
$poison: #A33EA1;
$ground: #e2bf65;
$flying: #A98FF3;
$psychic: #F95587;
$bug: #A6B91A;
$rock: #B6A136;
$ghost: #735797;
$dragon: #6F35FC;
$dark: #705746;
$steel: #B7B7CE;
$fairy: #D685AD;

//stats
$hp: #FF0000;
$atk: #F08030;
$def: #F8D030;
$spa: #6890F0;
$spd: #78C850;
$spe: #F85888;