<div class="team-editor">
  <div class="row-center">
    <img src="assets/vgc.png">
  </div>
  <app-input></app-input>
  <div class="col-center s-gap">
    <div class="row">
      <div class="editor-input">
        <div class="anon-warning tooltip-wrapper">
          <div>!</div>
          <app-tooltip
          [text]="'You are not logged, the team wont be added to a user. Make sure to save the link!'"
          [side]="'left'"
          ></app-tooltip>
        </div>
        <app-smart-input
        #userInput
        [label]="'Player'"
        [logged$]="loggedUser$"
        [updateOnChange]="true"
        (updateEvent)="playerUpdateEvent($event)"
        class="item smart-input-wrapper"
        ></app-smart-input>
      </div>
      <div class="editor-input">
        <app-smart-input
        #tournamentInput
        [label]="'Tournament'"
        [keepSelected]="true"
        [allowNew]="true"
        [getter]="queryService.queryTournamentCallback"
        (selectEvent)="tournamentSelectEvent($event)"
        (newEvent)="toggleTournamentEditor()"
        class="item smart-input-wrapper"
        ></app-smart-input>
        <div class="tournament-editor-wrapper" [ngClass]="{tournamentEditorShow: showTournamentEditor}">
          <app-tournament-editor
          (addEvent)="tournamentAddEvent($event)"
          (closeEvent)="tournamentEditorCloseEvent()"
          ></app-tournament-editor>
        </div>
      </div>
      <div class="editor-input">
        <app-smart-input
        #tagInput
        (disabled)="team?.tags ? team?.tags!.length > 2 : false"
        [label]="tagLabel"
        [keepSelected]="false"
        [allowNew]="true"
        [getter]="queryService.queryTagCallback"
        [allGetter]="queryService.tagAllCallback"
        (selectEvent)="tagSelectEvent($event)"
        (newEvent)="toggleTagEditor()"
        class="item smart-input-wrapper"
        ></app-smart-input>
        <div class="tag-editor-wrapper" [ngClass]="{tagEditorShow: showTagEditor}">
          <app-tag-editor 
          (addEvent)="tagSelectEvent($event)"
          (closeEvent)="tagEditorCloseEvent()"
          ></app-tag-editor>
        </div>
      </div>
    </div>
    <div class="row-center s-gap">
      <app-checkbox
      [checked]="team.options.showEVs"
      [label]="'EVs'"
      (checkEvent)="showEVsCheckEvent($event)"
      ></app-checkbox>
      <app-checkbox
      [checked]="team.options.showIVs"
      [label]="'IVs'"
      (checkEvent)="showIVsCheckEvent($event)"
      ></app-checkbox>
      <app-checkbox
      [checked]="team.options.showNature"
      [label]="'Nature'"
      (checkEvent)="showNatureCheckEvent($event)"
      ></app-checkbox>
      <app-checkbox
      [checked]="team.options.showDexNumber"
      [label]="'Dex number'"
      (checkEvent)="showDexNumberCheckEvent($event)"
      ></app-checkbox>
      <app-checkbox
      [checked]="team.options.showNickname"
      [label]="'Nickname'"
      (checkEvent)="showNicknameCheckEvent($event)"
      ></app-checkbox>
    </div>
    <div class="feedback">
      <span class="formFeedbackError text-center">
        {{feedback}}
      </span>
    </div>
  </div>
  <div class="team-holder">
    <app-team 
    [team]="team" 
    [removableTags]="true" 
    (removeEvent)="removeTag()"
    ></app-team>
  </div>
  <div class="output">
    <button
    (click)="generateTeam()"
    class="generate button-primary-clear"
    >Generate Team</button>
  </div>
</div> 