

.switch
{
  position: relative;
  display: flex;

  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 10px;
  user-select: none;


  .option
  {
    display: flex;
    align-items: center;

    width: 3vw;
    height: 2vh;
    padding: 0.4vw;

    background-color: transparent;
    cursor: pointer;

    z-index: 2;
  }
  
  .selected
  {
    //color: white;
  }

  .selector
  {
    position: absolute;
    background-color: cyan;
    color: white;

    top: 0;
    left: 0;

    transition: transform 0.3s ease-in-out, border-radius 0.3s ease;

  }

  .selectedLeft
  {
    transform: translateX(100%);
    border-radius: 0 10px 10px 0;

  }

  .selectedRight
  {
    //transform: translateX(50%);
    border-radius: 10px 0 0 10px;
  }

  .left
  {
    border-radius: 10px 0 0 10px;
  }

  .right
  {
    border-radius: 0 10px 10px 0;
  }
}