<div class="details">
  <form class="form" [formGroup]="detailsForm" >
    <div class="item">
      <label for="">Author: </label>
      <input type="text" formControlName="player" value="{{(user$ | async)?.username}}" >
      <span *ngIf="isInvalid('player', 'detailsForm')" class="formFeedbackError">{{getError('player', 'detailsForm')}}</span>
    </div>
    <div class="item">
      <label for="">Tournament: </label>
      <input type="text" formControlName="tournament">
    </div>
    <div class="item">
      <label for="">Regulation: </label>
      <input type="text" formControlName="regulation">
    </div>
  </form>
  <div class="title">
    TAGS
  </div>
  <form class="form" [formGroup]="tagsForm" >
    <div class="item">
      <label for="">Name: </label>
      <input type="text" formControlName="name">
    </div>
    <div class="item">
      <label for="">Description: </label>
      <input type="text" formControlName="description">
    </div>
    <div class="item">
      <label for="">Color: </label>
      <input type="color" formControlName="color">
    </div>
    <button type="submit" (click)="addTag()">Add tag</button>
  </form>
</div>