<div class="details">
  <form class="form" [formGroup]="detailsForm" >
    <div class="item">
      <label for="">Author: </label>
      <input type="text" formControlName="player" value="{{(user$ | async)?.username}}" >
    </div>
    <div class="item">
      <label for="">Tournament: </label>
      <input type="text" formControlName="tournament">
    </div>
    <div class="item">
      <label for="">Regulation: </label>
      <input type="text" formControlName="regulation">
    </div>
  </form>
</div>