html,
body {
  height: 100%;
}

body 
{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background);
}

button
{
  border-radius: 5px;
  background-color: var(--bg-color-2);
  color: var(--text-color);
  border: 2px solid var(--bg-color-5);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.2vw;

  &:hover
  {
    //opacity: 0.7;
    border: 2px solid black !important;
  }
}

input
{
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  outline: none;     
  height: 1.5em;
  font-size: 1em;
}

.w-100
{
  width: 100%;
}

.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.row
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4vw;
}

.row-spread
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4vw;
}

.row-end
{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.4vw;
}

.col
{
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
}


.pad-s
{
  padding: 0.4vw;
}

.pad-b
{
  padding: 0.8vw;
}


$tooltipColor: rgba(32, 32, 32, 0.767);
$arrowSize: 0.4vw;

.tooltip-wrapper
{
  position: relative;

  &:hover .tooltip
  {
    width: max-content;
    height: fit-content;
    max-width: 5vw;
    padding: 0.4vw;
    
    display: flex;
    align-items: center;

    background-color: $tooltipColor;
    color: white;
    border-radius: 5px;

    visibility: visible;
    font-size: 0.80rem;
    text-align: center;
    cursor: default;
  }

  &:hover .top
  {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(calc(-50%), calc($arrowSize * -1.5));
  }

  &:hover .right
  {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(calc($arrowSize * 1.5), calc(-50%));
  }

  &:hover .bottom
  {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(calc(-50%), calc($arrowSize * 1.5));
  }

  &:hover .left
  {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate(calc($arrowSize * -1.5), calc(-50%));
  }
}

.arrowtop 
{
  width: 0; 
  height: 0; 
  border-left: $arrowSize solid transparent;
  border-right: $arrowSize solid transparent;
  border-bottom: $arrowSize solid $tooltipColor;

  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(calc(-50%), calc($arrowSize * -1 + 1px));
}

.arrowright 
{
  width: 0; 
  height: 0; 
  border-top: $arrowSize solid transparent;
  border-bottom: $arrowSize solid transparent;
  border-left: $arrowSize solid $tooltipColor;

  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(calc($arrowSize - 1px), calc(-50%));
}

.arrowbottom 
{
  width: 0; 
  height: 0; 
  border-left: $arrowSize solid transparent;
  border-right: $arrowSize solid transparent;
  border-top: $arrowSize solid $tooltipColor;

  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(calc(-50%), calc($arrowSize - 1px));
}

.arrowleft 
{
  width: 0; 
  height: 0; 
  border-top: $arrowSize solid transparent;
  border-bottom: $arrowSize solid transparent; 
  border-right: $arrowSize solid $tooltipColor;

  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(calc($arrowSize * -1 + 1px), calc(-50%));
}

.inside-shadow
{
  box-shadow: inset rgb(160, 160, 160) 0px 0px 5px; 
}

.controlInvalid
{
  outline: 3px solid rgba(255, 0, 0, 0.479) !important;
  border: none !important;
}

.formFeedbackError
{
  font-size: 0.8em;
  color: red;
}

.formFeedbackSuccess
{
  font-size: 0.8em;
  color: green;
}

.custom-scrollbar
{
  /* width */
  &::-webkit-scrollbar 
  {
    width: 0.4vw;
  }

  /* Track */
  &::-webkit-scrollbar-track 
  {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb 
  {
    background: var(--bg-color-5);
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover 
  {
    background: var(--bg-color-5);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: inherit;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: red;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
