
<div class="team">
  <ng-container *ngIf="getVisibility(); else private">
    <div class="top">
      <div class="team-details">
        <ng-container *ngIf="logged">
          <div class="visibility"><div class="check"></div></div>
          {{team?.visibility}}
        </ng-container>
        <div class="col">
          <div class="detail" [ngClass]="{unkownPlayer: team?.player === 'Unkown'}">
            &#64;{{team?.player}}
          </div>
        </div>
        <div class="detail">
          <img src="assets/regionals.png" alt="" class="icon">
        </div>
        <div class="row">
          <ng-container *ngIf="team?.tournament">
            <div class="detail">
              {{team?.tournament?.name}}
            </div>
          </ng-container>
          <ng-container *ngIf="team?.regulation">
            <div class="detail">
              {{team?.regulation?.name}}
            </div>
          </ng-container>
        </div>
      </div>
      <div class="center">
        <div>
          <div>
            {{team?.viewCount}}
          </div>
          <div>
            {{util.customFormatDate(team?.date!)}}
          </div>
        </div>    
      </div>
      <div class="buttons">
        <button (click)="copyPaste()" class="button">
          <img src="assets/copy.png" alt="" class="icon">
        </button>
        <button (click)="copyLink()" class="button">
          <img src="assets/link.png" alt="" class="icon">
        </button>
        <button class="button">
          <a [routerLink]="['/', team?.id]" target="_blank" class="button">
            <img src="assets/external-link.png" alt="" class="icon">
          </a>
        </button>
        <ng-container *ngIf="logged">
          <button class="button">
            <a [routerLink]="['/', team?.id]" target="_blank" class="button button-tertiary">
              <img src="assets/edit-white.png" alt="" class="icon">
            </a>
          </button>
          <button (click)="delete()" class="button button-primary">
            <img src="assets/trash-white.png" alt="" class="icon">
          </button>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="feedback">
      <div class="errors">
        {{feedback}}
      </div>
    </ng-container>
    <div class="pokemons"
    (mouseenter)="expand()"
    (mouseleave)="expand()"
    >
      <ng-container *ngFor="let pokemon of team?.pokemons">
        <app-pokemon-preview [pokemon]="pokemon"></app-pokemon-preview>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #private>
    TEAM IS PRIVATE
  </ng-template>
</div>

