.nav
{
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
  margin: 0 0.2vw 0 0.2vw;
  border-radius: 10px 10px 0 0;
  border: 1px solid black;
  border-width: 1px 1px 0 1px;
}

.tab
{
  //height: 80%;
  width: 50%;
  padding: 0.4vw;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: var(--bg-color-2);
  color: var(--text-color);
  white-space: nowrap;
}

.tab-left
{
  border-right: 1px solid black;
  border-radius: 10px 0 0 0;
}

.tab-right
{
  border-radius: 0 10px 0 0;
}

.tab-selected
{
  background-color: var(--primary);
  color: white;
}

.item
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;

  label
  {
    font-weight: 500;
  }

  input
  {
    width: 9em;
  }
}