<ng-container *ngIf="data$ | async as data">
  <div class="wrapper">
    <ng-container *ngIf="login">
      <div class="nav">
        <button class="tab tab-left tab-selected button-primary" (click)="showLogInForm()">
          Log In
        </button>
        <button class="tab tab-right" (click)="showSignUpForm()">
          Sign Up
        </button>
      </div>
      <form
      class="form" 
      [formGroup]="logInForm" 
      (ngSubmit)="logIn()"
      >
        <div class="inputs">
          <div class="item">
            <label for="">Username</label>
            <input type="text" 
            formControlName="userNameOrEmail"
            [ngClass]="{controlInvalid: isInvalid('userNameOrEmail', 'login')}"
            >
            <span *ngIf="isInvalid('userNameOrEmail', 'login')" class="formFeedbackError">{{getError('userNameOrEmail', 'login')}}</span>
          </div>
          <div class="item">
            <label for="">Password</label>
            <input type="password" 
            formControlName="password"
            [ngClass]="{controlInvalid: isInvalid('password', 'login')}"
            >
            <span *ngIf="isInvalid('password', 'login')" class="formFeedbackError">{{getError('password', 'login')}}</span>
          </div>
        </div>
        <div class="row-end s-gap">
          <div class="progress">
            <ng-container *ngIf="data.isSubmitting">
              <div class="loader-wrapper">
                <div class="pokemon-spinner"></div>
              </div>
            </ng-container>
            <ng-container *ngIf="logInFormSubmitted && data.backendError">
              <span class="formFeedbackError">{{data.backendError}}</span>
            </ng-container>
          </div>
          <button 
          type="submit" 
          class="button-primary"
          [disabled]="data.isSubmitting"
          >Log In</button>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="signup">
      <div class="nav">
        <button class="tab tab-left" (click)="showLogInForm()">
          Log In
        </button>
        <button class="tab tab-right tab-selected" (click)="showSignUpForm()">
          Sign Up
        </button>
      </div>
      <form class="form"
      [formGroup]="signUpForm" 
      (ngSubmit)="signUp()"
      >
        <div class="inputs">
          <div class="item">
            <label>Username*</label>
            <input type="text" 
            formControlName="username"
            [ngClass]="{controlInvalid: isInvalid('username', 'signup')}"
            >
            <span *ngIf="userNameAvailable" class="formFeedbackSuccess">This username is available</span>
            <span *ngIf="isInvalid('username', 'signup')" class="formFeedbackError">{{getError('username', 'signup')}}</span>
          </div>
          <div class="item">
            <label>Email*</label>
            <input type="text" 
            formControlName="email"
            [ngClass]="{controlInvalid: isInvalid('email', 'signup')}"
            >
            <span *ngIf="emailAvailable" class="formFeedbackSuccess">This email is available</span>
            <span *ngIf="isInvalid('email', 'signup')" class="formFeedbackError">{{getError('email', 'signup')}}</span>
          </div>
          <div class="item">
            <label>Password*</label>
            <input type="password" 
            formControlName="password"
            [ngClass]="{controlInvalid: isInvalid('password', 'signup')}"
            >
            <span *ngIf="isInvalid('password', 'signup')" class="formFeedbackError">{{getError('password', 'signup')}}</span>
          </div>
          <div class="item">
            <label>Confirm Password*</label>
            <input type="password" 
            formControlName="confirmPassword"
            [ngClass]="{controlInvalid: isInvalid('confirmPassword', 'signup')}"
            >
            <span *ngIf="isInvalid('confirmPassword', 'signup')" class="formFeedbackError">{{getError('confirmPassword', 'signup')}}</span>
          </div>
        </div>
        <div class="row-end">
          <div class="progress">
            <ng-container *ngIf="data.isSubmitting">
              <div class="loader-wrapper">
                <div class="loader"></div>
              </div>
            </ng-container>
            <ng-container *ngIf="signUpFormSubmitted && data.backendError">
              <span class="formFeedbackError">{{data.backendError}}</span>
            </ng-container>
          </div>
          <button 
          type="submit" 
          class="button-primary"
          [disabled]="data.isSubmitting"
          >Sign Up</button>
        </div>
      </form>
    </ng-container>
  </div>  
</ng-container>
