<div class="panel">
  <div class="section">
    <ng-container *ngIf="user$ | async as user; else anon">
      <div class="user-preview">
        <div class="row card">
          <div class="column">
            <div class="names">
              <div>
                {{user?.name}}
              </div>
              <div>
                &#64;{{user?.username}}
              </div>
            </div>
            <a routerLink="/@{{user?.username}}" class="linked-btn">Profile</a>
          </div>
          <div class="picture">
            <img src="{{user?.picture}}" alt="" class="picture">
          </div>
        </div>
        <div class="column">
          Last team/Pinned team:
          <ng-container *ngFor="let team of user?.teams; first as isFirst">
            <ng-container *ngIf="isFirst">
              <app-team-icons [team]="team"></app-team-icons>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-template #anon>
      <app-user-form></app-user-form>
    </ng-template>
  </div>
  <div class="section">
    POPULAR TEAMS
    (team preview thick)
  </div>
  <div class="section">
    RECENT TEAMS
  </div>
</div>

