

.panel
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  background-color: lightgray;
  padding-top: 2vh;
  height: 100%;

  .section
  {
    width: 80%;
    //min-height: 20vh;
    //border: 1px solid grey;
    padding: 0.4vw;
  }

  .user-preview
  {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;

    .row
    {
      display: flex;
      justify-content: start;
      align-items: center;
    }

    .picture
    {
      width: 4vw;
      height: 4vw;
      border: 1px solid black;
      margin-right: 1vw;
    }

    .names
    {
      display: flex;
      flex-direction: column;
      justify-content: start;

    }
  }
}