

.linked-btn
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gold;
  border: 2px goldenrod solid;
  border-radius: 10px;
  width: 4vw;
  height: 3vh;
  text-decoration: none;
  color: black;

  &:hover
  {
    border: 2px black solid;
  }
}

.panel
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  background-color: lightgray;
  padding-top: 2vh;
  height: 100%;

  .section
  {
    width: 80%;
    //min-height: 20vh;
    //border: 1px solid grey;
    padding: 0.4vw;
    border: 1px solid grey;
    border-radius: 5px;
  }

  .user-preview
  {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;

    .row
    {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.6vw;
    }

    .column
    {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0.6vw;
    }

    .picture
    {
      width: 4vw;
      height: 4vw;
      margin-right: 1vw;
      border-radius: 5px;
    }
  
    .names
    {
      display: flex;
      flex-direction: column;
      align-items: center;      
    }
  }
}