

.tag-editor
{
  background-color: var(--bg-color-2);
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 2;
  position: relative;
  width: 11em;
  overflow: hidden;
}

.close
{
  position: absolute;
  right: 0;
  top: 0;
}

.color
{
  height: 1.4em;
  width: 5em;
  border-radius: 5px;
  border: 1px solid black;
}

.color-picker-wrapper
{
  position: relative;
  bottom: -0.7em;
  right: 1.2em;
  max-width: 0;
  transition: max-width 0.3s ease;
  overflow: hidden;
  z-index: 0;
  margin-left: 1em;
}

.showColorPicker
{
  max-width: 20em;
  width: fit-content;
  overflow: visible;
  transition: max-width 0.5s ease-in;
}