
.tabs
{
  border-bottom: 1px solid var(--text-color);
  width: 20em;
}

.pasteBox
{
  width: 35em;
}

.input-text-area
{
  background-color: var(--bg-color-1);
  outline: 1px solid var(--text-color); 
}

.example
{
  position: absolute;
  top: 0;
  right: -2.8em;
}
