
.switch
{
  position: relative;
  display: flex;
  background-color: var(--bg-color-2);
  border-radius: 5px;
  user-select: none;
}

.option
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  opacity: 0.4;
}

.selected
{
  color: white;
  opacity: 1;
}

.not-selected
{
  color: white;
}

.selector
{
  position: absolute;
  background-color: var(--secondary);
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease;
  opacity: 1;
}

.selectedLeft
{
  transform: translateX(round(100%, 1px));
  border-radius: 0 5px 5px 0;
}

.selectedRight
{
  border-radius: 5px 0 0 5px;
}

.left
{
  border-radius: 5px 0 0 5px;
}

.right
{
  border-radius: 0 5px 5px 0;
}