$iconSize: 1vw;
$spriteSize: $iconSize * 3;
$leftOptionWidth: 6vw;
$padding: 0.2vw;

.left-option
{
  display: flex;
  width: $leftOptionWidth;
  background-color: var(--bg-color-3);
  border-radius: 15px 0 0 15px;
  padding: 0 0.2vw;
  border: 1px solid var(--bg-color-4);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .content
  {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 0.2vw;

    .label
    {
      margin-right: 0.2vw;
    }
  }

  .show-more
  {
    font-weight: 600;
    font-size: small;
    text-decoration: underline;
    padding: 0.2vw;
    cursor: pointer;

    &:hover
    {
      background-color: var(--bg-color-4);
      border-radius: 20px;
    }
  }

  .options
  {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0.2vw;
    max-height: 40vh;

    .active
    {
      background-color: var(--bg-color-4);
      border: 1px solid var(--bg-color-2);
    }
  }

  .option
  {
    border: 1px solid var(--bg-color-4);
    background-color: var(--bg-color-3);
    width: $iconSize;
    height: $iconSize;
    padding: 0.2vw;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    
    &:hover
    {
      background-color: var(--bg-color-2);
    }

    .name
    {
      overflow: auto;
      font-size: normal;
    }


    .icon
    {
      width: inherit;
      height: inherit;
    }
  }

  .sprites
  {
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: auto;
    margin-left: 0.6vw;
    padding-right: 0.2vw;

    .sprite
    {
      border: 1px solid var(--bg-color-4);
      background-color: var(--bg-color-3);
      width: calc($iconSize*4 - $padding*2);
      padding: $padding;
      border-radius: 5px;
      cursor: pointer;

  
      &:hover
      {
        background-color: var(--bg-color-2);
        border: dashed 1px black;
      }
  
      .sprite-img
      {
        width: $spriteSize;
        height: $spriteSize;
      }

      .name
      {
        overflow: hidden;
        font-size: smaller;
      }
    }

    /* width */
    &::-webkit-scrollbar 
    {
      width: 0.4vw;
    }

    /* Track */
    &::-webkit-scrollbar-track 
    {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb 
    {
      background: var(--bg-color-4);
      border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover 
    {
      background: var(--bg-color-5);
    }
  }
}

.selected
{
  display: flex;
  align-items: center;
}

.details
{
  width: $leftOptionWidth;
  background-color: var(--bg-color-3);
  z-index: 2;
  position: absolute;
  bottom: $iconSize * 2;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 5px;
  border: 1px solid var(--bg-color-4);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2vw;
}

.visible
{
  visibility: visible !important;
}

.expanded-icon
{
  width: 5vw;
  height: 5vw;
}