$optionHeight: 3vh;
$optionsMaxHeight: 25vh;

.text
{
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
}

.new
{
  position: absolute;
  bottom: 0.6em;
  right: 0.6em;
  width: 1.7em;
  height: 1.7em;
}

.results
{
  position: absolute;
  top: 100%;
  width: calc(100% - 0.4vw);
  max-height: 0;
  //max-height: 100%;
  margin-left: 0.2vw;
  padding: 0.2vw;
  box-sizing:border-box;

  background-color: var(--bg-color-1);
  color: var(--text-color);
  border: 1px solid black;
  border-radius: .25em;
  font-size: small;

  visibility: hidden;
  overflow-y: scroll;
  overflow-x: auto;
  z-index: 3;

  transition: all ease-in-out 500ms;
}

.results-visible 
{
  max-height: calc($optionHeight * 12);
  visibility: visible !important;
}

.result
{
  display: flex;
  align-items: center;
  min-height: calc($optionHeight + 0.4vw);
  padding: 0 0.2vw 0 0.2vw;

  border-radius: .25em;
  cursor: pointer;
  overflow: hidden;

  &:hover
  {
    background-color: var(--bg-color-3);
    color: var(--text-color);
    border-radius: 5px;
  }
}

.selected
{
  background-color: var(--bg-color-3);
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0.2vw 0 0.2vw;
}

.remove
{
  justify-self: end;
  margin-right: 0.2em;

  &:hover
  {
    background-color: var(--bg-color-2);
  }
}

.icon
{
  width: 2em;
  height: 2em;
  padding-right: 0.2vw;
}

.divider
{
  width: 80%;
  margin: 0.4vw auto 0.4vw auto;
  height: 2px;
  background-color: var(--bg-color-3);
  border-radius: 5px;
}

.count
{
  margin: 0.2vw auto 0.2vw auto;
}