<div 
class="flex" 
style="min-height: 100vh;" 
[ngClass]="{'flex-col w-100': window.isTabletLandscapeOrLess()}"
>
  <ng-container 
  [ngTemplateOutlet]="teamSection"
  [ngTemplateOutletContext]="{which: 'A'}"
  ></ng-container>
  <ng-container *ngIf="statList">
    <div class="relative">
      <div class="stat-list">
        <div class="flex flex-col align-i-c gap-m">
          <div class="flex wrap justify-c-c gap-l bor-rad-5 pad-l bg-1 bor-1-3" style="width: 10em; margin-bottom: 1em;">
            <ng-container *ngFor="let stat of statSelectors; index as i">
              <div class="pad-s bor-rad-5 pointer text-center no-select" (click)="selectStat(i)"
              style="color: white;"
              [ngStyle]="{backgroundColor: theme.getStatColor(util.getStatShortIdentifier(stat))}"
              [ngClass]="{selectedStat: selectedStatIndex === i}"
              >
                <div class="flex justify-c-c align-i-c gap-s text-center" style="width: 2em; height: 1.5em;">
                  {{util.getStatCode(stat)}}
                </div>
              </div>
            </ng-container>
          </div>
          <div class="flex flex-col justify-c-c gap-m" style="width: 10em;">
            <ng-container *ngFor="let item of statList; index as i">
              <div class="flex gap-s align-i-c bor-rad-5 bor-1-3 pad-s" style="width: 4em;"
              [ngClass]="
              {
                'blue-team': item.whichTeam === 'A' && teamASelectedIndex.includes(item?.sourceIndex ?? 0),
                'red-team': item.whichTeam === 'B' && teamBSelectedIndex.includes(item?.sourceIndex ?? 0),
                'justify-c-e': item.whichTeam === 'A',
                'justify-c-s': item.whichTeam === 'B'
              }"
              [ngStyle]="
              {
                'flex-direction': item.whichTeam === 'A' ? 'row' : 'row-reverse',
                'align-self': item.whichTeam === 'A' ? 'flex-start' : 'flex-end',
                'margin-top': statList | marginTopPipe:item:selectedStatIndex:i
              }">
                <ng-container *ngIf="item && item?.pokemon?.stats">
                  <span class="text-center" style="min-width: 1em;">{{item?.pokemon?.stats![selectedStatIndex]?.value ?? 0}}</span>
                </ng-container>
                <ng-container *ngIf="item?.pokemon?.dexNumber && item?.pokemon?.dexNumber !== -1">
                  <img class="icon-l" src="{{item?.pokemon?.sprite?.base}}" alt="">
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!window.isTabletLandscapeOrLess()">
    <div style="height: 80vh; width: 1px; margin-left: -1px;" class="bg-3"></div>
  </ng-container>
  <ng-container *ngIf="window.isTabletLandscapeOrLess()">
    <div style="border-bottom: 1px solid var(--bg-color-3);" class="mar-xl"></div>
  </ng-container>
  <ng-container 
  [ngTemplateOutlet]="teamSection"
  [ngTemplateOutletContext]="{which: 'B'}"
  ></ng-container>
</div>
<ng-template #teamSection let-which="which">
  <div class="w-40 flex flex-col align-i-c gap-l pad-l" 
  style="margin-right: auto;  padding-top: 2em;"
  [ngStyle]="{'margin-left': which === 'A' ? 'auto' : '0', 'margin-right': which === 'B' ? 'auto' : '0'}"
  >
    <span class="pad-m bor-rad-5" 
    [ngClass]="{'blue-team': which === 'A' ? 'var(--blue-team)' : '', 'red-team': which === 'B' ? 'var(--red-team)' : ''}"
    >Team {{which}}</span>
    <form [formGroup]="which === 'A' ? teamAForm : teamBForm">
      <input 
      type="text" 
      class="input-m" 
      style="width: 20em;"
      placeholder="Team {{which}} link" 
      formControlName="{{which === 'A' ? 'idA' : 'idB'}}"
      >
    </form>
    <ng-container *ngIf="which === 'A' ? !teamANotFound : !teamBNotFound; else notFound">
      <ng-container *ngIf="which === 'A' ? !teamALoading : !teamBLoading; else loading">
        <ng-container *ngIf="which === 'A' ? teamA : teamB">
          <app-team-battle 
          [team]="which === 'A' ? teamA : teamB"
          (selectedIndexesEvent)="selectIndexes($event, which === 'A' ? 'A' : 'B')"
          ></app-team-battle>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-template>
<ng-template #loading>
  <div class="flex justify-c-c align-i-c text-c-s bg-2 pokemons-placeholder">
    <div class="dot-pulse"></div>        
  </div>
</ng-template>
<ng-template #notFound>
  <div class="flex justify-c-c align-i-c text-c-s bg-2 pokemons-placeholder pad-m bor-rad-5">
    NOT FOUND
  </div>
</ng-template>