<div class="input">
  <div class="tabs">
    <div class="tab" (click)="selectTab(0)">
      Paste
    </div>
    <div class="tab" (click)="selectTab(1)">
      Creator
    </div>
  </div>
  <ng-container *ngIf="tabs[0]; else editor">
    <div class="title">
    </div>
    <div>
      <form [formGroup]="pasteBoxForm">
        <div class="pasteBox">
          <textarea 
          formControlName="paste"
          rows="20" 
          cols="60" 
          class="custom-scrollbar input-text-area" 
          spellcheck="false"
          [ngClass]="{controlInvalid: isInvalid('paste')}"
          >
          </textarea>
          <span *ngIf="isInvalid('paste')" class="formFeedbackError text-center">{{getError('paste')}}</span>
          <button (click)="load()" class="submit button-primary">Load</button>
        </div>
      </form>
    </div>
  </ng-container>
  <ng-template #editor>
    <div class="editor">
      <div class="selectors">
        <ng-container *ngFor="let pokemon of team.pokemons; index as i">
          <div 
          class="selector"
          [ngClass]="{selected: selectedPokemonIndex == i}"
          (click)="selectPokemon(i)"
          >
            {{i + 1}}
          </div>
        </ng-container>
        <ng-container *ngIf="team.pokemons.length < 6">
          <div class="selector" (click)="addEmptyPokemon()">
            +
          </div>
        </ng-container>
      </div>
      <div class="editors">
        <app-pokemon-editor
        [index]="selectedPokemonIndex"
        [pokemon]="team.pokemons[selectedPokemonIndex]"
        [teamOptions]="team.options"
        (deleteEvent)="deletePokemon($event)"
        ></app-pokemon-editor>
      </div>
    </div>
  </ng-template>
</div>