
.input
{
  display: flex;
  flex-direction: column;
  width: fit-content;

  .tabs
  {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    gap: 1vw;
    width: 60%;
    margin: auto;
    margin-bottom: 1vw;

    .tab
    {
      cursor: pointer;
      padding: 0.4vw;
      border-radius: 10px;
    }
  }

  .editor
  {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;

    .selectors
    {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.4vw;
  
      .selector
      {
        width: 2vw;
        height: 2vw;
  
        display: flex;
        justify-content: center;
        align-items: center;
  
        border-radius: 40px;
        border: 1px solid var(--bg-color-3);
        cursor: pointer;
        user-select: none;
  
        &:hover
        {
          background-color: var(--bg-color-3);
        }
      }
  
      .selected
      {
        background-color: var(--bg-color-3);
        border: 1px solid black;
      }
    }
  }
}

.pasteBox
{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin: auto;
  width: 30vw;
  position: relative;
}

.input-text-area
{
  background-color: var(--bg-color-1);
  outline: 1px solid black; 
}

.submit
{
  width: 5vw;
  height: 2vw;

  margin: auto;
}

.editors
{
  display: flex;
  justify-content: center;
}

.example
{
  position: absolute;
  top: 0;
  left: -2.8em;
}