

.item
{
  width: 15em;
  max-height: 10vh;
  max-width: 12em;
}

.top
{
  width: 75%;
  margin: 5vh auto auto auto;
}  

.storages
{
  position: relative;
  min-height: 4em;
  width: 70%;
}

.storage-settings
{
  position: absolute;
  top: -2.6em;
  left: 0;
}

.storage-buttons
{
  position: absolute;
  top: -2.2em;
  right: 0.2em;
}

@media only screen and (max-width: 768px) 
{
  .search
  {
    display: flex;
    flex-direction: column;
    height: fit-content;
  
    .top-background
    {
  
      .top
      {
        width: 90%;
      }
    }
  }
}