<div class="search">
  <div class="top-background">
    <div class="top">
      <div class="form">
        <div></div>
        <div class="inputs">
          <div class="row">
            <app-smart-input
            #userInput
            [label]="'Player'"
            [keepSelected]="false"
            [allowCustom]="true"
            [getter]="queryService.queryUserCallback"
            (selectEvent)="tagSelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
            <app-smart-input
            #tournamentInput
            [label]="'Tournament'"
            [keepSelected]="false"
            [allowCustom]="true"
            [getter]="queryService.queryTournamentCallback"
            (selectEvent)="tagSelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
            <app-smart-input
            #regulationInput
            [label]="'Regulation'"
            [keepSelected]="false"
            [getter]="queryService.queryRegulationCallback"
            [allGetter]="queryService.regulationAllCallback"
            (selectEvent)="tagSelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
            <app-smart-input
            #tagInput
            [label]="'Tag'"
            [keepSelected]="false"
            [getter]="queryService.queryTagCallback"
            [allGetter]="queryService.tagAllCallback"
            (selectEvent)="tagSelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="row-center">
            <app-smart-input
            #pokemonInput
            [label]="'Pokemon'"
            [keepSelected]="false"
            [getter]="queryService.queryPokemonCallback"
            (selectEvent)="tagSelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
            <app-smart-input
            #moveInput
            [label]="'Move'"
            [keepSelected]="false"
            [getter]="queryService.queryMoveCallback"
            (selectEvent)="tagSelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
            <app-smart-input
            #itemInput
            [label]="'Item '"
            [keepSelected]="false"
            [getter]="queryService.queryItemCallback"
            (selectEvent)="tagSelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
          </div>
        </div>
      </div>
      <div class="storages">
        <div class="storage-settings row">
          <app-radio
          [options]="unionTypeSettings"
          [optionIcons]="[
          (selectedTheme$ | async) === 'light' 
          ? 'assets/img/intersection.png' 
          : 'assets/img/intersection-white.png',
          (selectedTheme$ | async) === 'light' 
          ? 'assets/img/union.png' 
          : 'assets/img/union-white.png']"
          [optionNames]="['intersection', 'union']"
          [tooltipTexts]="['Teams that match all', 'Teams that match any']"
          [selectedIndex]="0"
          (selectEvent)="tagsSettingsSelectEvent($event)"
          ></app-radio>
        </div>
        <div class="storage-buttons row b-gap">
          <button class="button-primary" (click)="search()">
            <img src="assets/img/search-white.png" alt="" class="big-icon">
          </button>
          <button (click)="reset()">
            <img src="assets/img/reset.png" alt="" class="big-icon">
          </button>
        </div>
        <app-tag-list [tags]="tags" [removable]="true" (removeEvent)="tagRemoveEvent($event)"></app-tag-list>
      </div>
    </div>
  </div>
</div>