@use "/src/app/shared/styles/variables.scss" as *;

$pokemonCardWidth: var(--pokemonCardWidth);
$teamWidth: calc($pokemonCardWidth * 2 + 0.8em);

.full
{
  width: $teamWidth;
}

.half
{
  width: calc($teamWidth - 0.4em);
}

.detail
{
  width: fit-content;
  max-width: 12em;
  height: 1.2em;
  background-color: var(--bg-color-2);
  padding: 0.2em;
  border-radius: 5px;
  white-space: nowrap;
  text-align: start;
  gap: 0.2em;
  cursor: pointer;
}

.active
{
  outline: 1px solid var(--text-color);
}

.unregisteredPlayer
{
  color: var(--text-color-secondary);
}

.left-button
{
  width: 1.5em;
  text-align: center;
}

@media (max-width: $mobileBreakpoint) 
{
  .full
  {
    width: calc($pokemonCardWidth);
  }
}