$cardWidth: 25vw;

.team
{


  .team-row
  {
    margin: 0.5em auto;
  }

  .full
  {
    width: calc($cardWidth * 2 + 1.3em);
  }

  .half
  {
    width: 45%;
  }

  .detail
  {
    width: fit-content;
    max-width: 10vw;
    height: 1.2em;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: var(--bg-color-2);
    padding: 0.2vw;
    border-radius: 5px;
    white-space: nowrap;
    text-align: start;
    gap: 0.2em;
    cursor: pointer;

  }
  
  .options
  {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 3vw;

    .option
    {
      cursor: pointer;
      width: 2vw;
      height: 2vw;
    }

    .active
    {
      background-color: var(--bg-color-3);
    }
  }

  .tags
  {
    width: 40%;
  }

  .pokemons
  {
    display: flex;
    column-gap: 2vh;
    justify-content: center;
    justify-items: center;

    .col
    {
      display: flex;
      flex-direction: column;
      row-gap: 2vh;
    }
  }
}