

.tag-editor
{
  background-color: var(--bg-color-2);
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 2;
  //overflow: visible;
  position: relative;
  width: 11em;

  .close
  {
    position: absolute;
    right: 0.5em;
    top: 0.5em;

    .icon
    {
      width: 1.5em;
      height: 1.5em;
      border: none;
      border-radius: 20px;

      &:hover
      {
        transition: .4s;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
      }
    }
  }

  .title
  {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }

  .form
  {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .item
    {
      display: flex;
      flex-direction: column;
      gap: 0.2em;
    }
    
    .color
    {
      height: 1.4em;
      width: 5em;
      border-radius: 5px;
      border: 1px solid black;
    }
  }
}

.icon
{
  width: 1em;
  height: 1em;
  border: 1px solid black;
}

.color-picker-wrapper
{
  position: relative;
  bottom: 0;
  right: 1.2em;
  max-width: 0;
  transition: max-width 0.5s ease-out;
  overflow: hidden;
  z-index: 0;
  margin-left: 1em;
}

.showColorPicker
{
  max-width: 20em;
  width: fit-content;
  overflow: visible;
  transition: max-width 0.5s ease-in;
}

.tag-preview
{
  width: 4em;
  white-space: nowrap;
}