<div class="row">
  <div class="tag-editor">
    <button (click)="close()" class="close no-shadow">
      <svg class="icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5"></circle> <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>  
    </button>
    <div class="title">
      Tag Editor
    </div>
    <form class="form" [formGroup]="form">
      <div class="item">
        <label for="">Name</label>
        <input 
        #inputName 
        type="text" 
        formControlName="name" 
        [ngClass]="{controlInvalid: isInvalid('name')}"
        >
        <span *ngIf="isInvalid('name')" class="formFeedbackError">{{getError('name')}}</span>
      </div>
      <div class="item">
        <label for="">Description</label>
        <textarea 
          class="custom-scrollbar-dark" 
          rows="3" 
          formControlName="desc"
          spellcheck="false"
          [ngClass]="{controlInvalid: isInvalid('desc')}"
          ></textarea>
        <span *ngIf="isInvalid('desc')" class="formFeedbackError">{{getError('desc')}}</span>
      </div>
      <div class="row-around">
        <div class="tag-preview">
          <app-tag [tag]="tag"></app-tag>
        </div>
        <button 
        class="button-tertiary-clear" 
        (click)="toggleColorPicker()"
        >Show colors</button>
      </div>
      <button class="button-primary" (click)="add()">Add</button>
    </form>
  </div>
  <app-color-picker 
  class="color-picker-wrapper"
  [ngClass]="{showColorPicker: colorPickerOpen}"
  [colors]="themeService.tagBackgroundColors" 
  (chooseEvent)="chooseColor($event)"
  ></app-color-picker>
</div>