
.creator
{
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
  position: relative;

  .editor
  {
    display: flex;
    align-items: center;
    gap: 0.8vw;
    
    .form
    {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(3, 1fr);
      column-gap: 0.8vw;
      justify-content: end;
    }
  
    .preview
    {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start;
      gap: 1vw;
      position: relative;

      .delete
      {
        position: absolute;
        top: 0.2vw;
        right: 0.2vw;
        z-index: 4;

        button
        {
          width: 1vw;
          height: 1vw;
          background-color: var(--primary);
        }
      }
    }
  
    .form-item
    {
      display: flex;
      justify-content: center;
      min-height: 8vh;
      width: 100%;
      //outline: 1px solid black;
    }
  
    .form-item-col
    {
      flex-direction: column;
      align-items: center;
      gap: 0.4vw;
    }
  
    .col
    {
      width: 10vw;
    }

    .stat-col
    {
      grid-column: 2 / 4;
      gap: 0.2em;
    }
    
  
    .stat-selector
    {
      display: flex;
      justify-content: center;
      gap: 0.4vw;
  
      .stat-box
      {
        padding: 0.2vw;
        background-color: var(--bg-color-2);
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        width: 1.5vw;
        user-select: none;
  
        &:hover
        {
          outline: 1px black dotted;
        }
      }
  
      .selectedStat
      {
        background-color: var(--primary);
        color: white;
      }
    }
  }
}

.disabled
{
  opacity: 0.7;
  pointer-events: none;
}

.notAllowed
{
  cursor: not-allowed;
}

.check-box
{
  display: flex;
  align-items: end;

  input
  {
    margin: 0;
    height: 2vh;
  }
}

.check-group
{
  padding: 0.2vw;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
}

.checkbox-wrapper
{
  //height: 1em;
  //padding: 0 0.2vw 0 0.2vw;
  font-size: 0.7em;
}

.level
{
  width: 2vw;
  text-align: center;
}

.nickname
{
  width: 4vw;
}

.range
{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 10% 70% 10%;
  column-gap: 1%;
  width: 90%;
  gap: 0.2vw;

  .range-slider
  {

    input
    {
      min-height: 1vh;
      height: 1vh;
    }
  }
}

.error
{
  border: 1px solid red !important;
}