<div class="settings">
  <div class="section row b-gap">
    <div class="col s-gap">
      <div class="title">
        Profile picture
      </div>
      <div class="subtitle">
        Selected: {{getPictureKey(user?.picture)}}
      </div>
    </div> 
    <div class="row s-gap relative">
      <ng-container *ngIf="changePictureSubmitted">
        <ng-container *ngIf="(backendError$ | async) as error">
          <span class="formFeedbackError backendErrors">{{error}}</span>
        </ng-container>
      </ng-container>
      <img src="{{user?.picture}}" alt="" class="picture">
      <div class="picture-selector">
        <button (click)="clickPictureSelector()">Change</button>
        <div class="catalog-wrapper"
        [ngClass]="{catalogShow: showCatalog}"
        >
          <div class="catalog custom-scrollbar">
            <ng-container *ngFor="let pic of pictures">
              <img src="{{pic}}" alt="" class="picture animated-border" (click)="changePicture(pic)">
            </ng-container>
          </div>
        </div>
      </div>
      <ng-container *ngIf="changePictureSubmitted">
        <ng-container *ngIf="isSubmitting$ | async">
          <div class="feedback">
            <div class="pokemon-spinner"></div>
          </div>
        </ng-container>
        <ng-container *ngIf="(success$ | async) as error">
          <img src="assets/tick.png" alt="" class="feedback">
        </ng-container>
        <ng-container *ngIf="(backendError$ | async) as error">
          <img src="assets/x.png" alt="" class="feedback">
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="section row">
    <div class="col s-gap">
      <div class="title">
        Country
      </div>
      <div class="row s-gap">
        <ng-container *ngIf="user?.country">
          <img src="{{user?.country?.icon}}" alt="{{user?.country?.name}}" class="flag">
          <span class="subtitle">{{user?.country?.name}}</span>
        </ng-container>
        <ng-container *ngIf="!user?.country">
          <span class="error">No country selected</span>
        </ng-container>
      </div>
    </div>
    <div class="row relative">
      <ng-container *ngIf="changeCountrySubmitted">
        <ng-container *ngIf="(backendError$ | async) as error">
          <span class="formFeedbackError backendErrors">{{error}}</span>
        </ng-container>
      </ng-container>
      <app-smart-input
      [keepSelected]="false"
      [getter]="queryService.queryCountriesCallback"
      [allGetter]="queryService.countriesAllCallback"
      (selectEvent)="changeCountry($event)"
      class="smart-input-custom-wrapper"
      ></app-smart-input>
      <ng-container *ngIf="changeCountrySubmitted">
        <ng-container *ngIf="isSubmitting$ | async">
          <div class="feedback">
            <div class="pokemon-spinner"></div>
          </div>
        </ng-container>
        <ng-container *ngIf="(success$ | async) as error">
          <img src="assets/tick.png" alt="" class="feedback">
        </ng-container>
        <ng-container *ngIf="(backendError$ | async) as error">
          <img src="assets/x.png" alt="" class="feedback">
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="section row">
    <div class="col s-gap">
      <div class="title">
        Profile Visibility
      </div>
      <div class="subtitle">
        <ng-container *ngIf="user?.visibility">
          Public: anyone will be able to see your profile
        </ng-container>
        <ng-container *ngIf="!user?.visibility">
          Private: only you will be able to see your profile
        </ng-container>
      </div>
    </div>
    <div class="row s-gap relative">
      <ng-container *ngIf="changeVisibilitySubmitted">
        <ng-container *ngIf="(backendError$ | async) as error">
          <span class="formFeedbackError backendErrors">{{error}}</span>
        </ng-container>
      </ng-container>
      <app-switch
      [inputState]="user?.visibility"
      [leftText]="'Public'"
      [rightText]="'Private'"
      (checkEvent)="changeVisibility($event)"
      ></app-switch>
      <ng-container *ngIf="changeVisibilitySubmitted">
        <ng-container *ngIf="isSubmitting$ | async">
          <div class="feedback">
            <div class="pokemon-spinner"></div>
          </div>
        </ng-container>
        <ng-container *ngIf="(success$ | async) as error">
          <img src="assets/tick.png" alt="" class="feedback">
        </ng-container>
        <ng-container *ngIf="(backendError$ | async) as error">
          <img src="assets/x.png" alt="" class="feedback">
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="section row">
    <div class="col s-gap">
      <div class="title">
        Name
      </div>
      <div class="current">
        <ng-container *ngIf="user?.name">
          <span class="subtitle">{{user?.name}}</span>
        </ng-container>
        <ng-container *ngIf="!user?.name">
          <span class="error">No name</span>
        </ng-container>
      </div>
    </div>
    <form [formGroup]="changeNameForm" (ngSubmit)="changeName()">
      <div class="col">
        <div class="row-end b-gap relative">
          <span *ngIf="isInvalid('newName', 'changeNameForm')" class="formFeedbackError">{{getError('newName', 'changeNameForm')}}</span>
          <ng-container *ngIf="changeNameSubmitted">
            <ng-container *ngIf="(backendError$ | async) as error">
              <span class="formFeedbackError backendErrors">{{error}}</span>
            </ng-container>
          </ng-container>
          <input 
          type="text" 
          placeholder="New name" 
          formControlName="newName"
          [ngClass]="{controlInvalid: isInvalid('newName', 'changeNameForm')}"
          >
          <button type="submit">Change</button>
          <ng-container *ngIf="changeNameSubmitted">
            <ng-container *ngIf="isSubmitting$ | async">
              <div class="feedback">
                <div class="pokemon-spinner"></div>
              </div>
            </ng-container>
            <ng-container *ngIf="(success$ | async) as error">
              <img src="assets/tick.png" alt="" class="feedback">
            </ng-container>
            <ng-container *ngIf="(backendError$ | async) as error">
              <img src="assets/x.png" alt="" class="feedback">
            </ng-container>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
  <div class="section row">
    <div class="col s-gap">
      <div class="title">
        Username
      </div>
      <div class="subtitle">
        {{user?.username}}
      </div>
    </div>
    <form [formGroup]="changeUserNameForm" (ngSubmit)="changeUserName()">
      <div class="col">
        <div class="row-end s-gap">
          <span *ngIf="userNameAvailable" class="formFeedbackSuccess">This username is available</span>
          <span *ngIf="isInvalid('newUserName', 'changeUserNameForm')" class="formFeedbackError">{{getError('newUserName', 'changeUserNameForm')}}</span>
          <ng-container *ngIf="changeUserNameSubmitted">
            <ng-container *ngIf="(backendError$ | async) as error">
              <span class="formFeedbackError backendErrors">{{error}}</span>
            </ng-container>
          </ng-container>
          <input 
          type="text" 
          placeholder="New username" 
          formControlName="newUserName"
          [ngClass]="{controlInvalid: isInvalid('newUserName', 'changeUserNameForm')}"
          >
          <button type="submit">Change</button>
          <ng-container *ngIf="changeUserNameSubmitted">
            <ng-container *ngIf="isSubmitting$ | async">
              <div class="feedback">
                <div class="pokemon-spinner"></div>
              </div>
            </ng-container>
            <ng-container *ngIf="(success$ | async) as error">
              <img src="assets/tick.png" alt="" class="feedback">
            </ng-container>
            <ng-container *ngIf="(backendError$ | async) as error">
              <img src="assets/x.png" alt="" class="feedback">
            </ng-container>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
  <div class="section row">
    <div class="col s-gap">
      <div class="title">
        Email
      </div>
      <div class="row s-gap">
        <div class="subtitle">
          {{email}}
        </div>
        <ng-container *ngIf="emailConfirmed">
          <div class="tooltip-wrapper">
            <img src="assets/confirmed.png" alt="" class="big-icon selectable">
            <app-tooltip
            [text]="'Your email is confirmed'"
            [side]="'right'"
            ></app-tooltip>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="!emailConfirmed">
        <div class="col s-gap">
          <div class="formFeedbackError">
            Email not verified
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col b-gap">
      <form [formGroup]="changeEmailForm" (ngSubmit)="changeEmail()">
        <div class="row s-gap">
          <span *ngIf="isInvalid('newEmail', 'changeEmailForm')" class="formFeedbackError">{{getError('newEmail', 'changeEmailForm')}}</span>
          <ng-container *ngIf="changeEmailSubmitted">
            <ng-container *ngIf="(backendError$ | async) as error">
              <span class="formFeedbackError backendErrors">{{error}}</span>
            </ng-container>
          </ng-container>
          <input 
          type="text" 
          placeholder="New email" 
          formControlName="newEmail"
          [ngClass]="{controlInvalid: isInvalid('newEmail', 'changeEmailForm')}"
          >
          <button type="submit">Change</button>
          <ng-container *ngIf="changeEmailSubmitted">
            <ng-container *ngIf="isSubmitting$ | async">
              <div class="feedback">
                <div class="pokemon-spinner"></div>
              </div>
            </ng-container>
            <ng-container *ngIf="(success$ | async) as error">
              <img src="assets/tick.png" alt="" class="feedback">
            </ng-container>
            <ng-container *ngIf="(backendError$ | async) as error">
              <img src="assets/x.png" alt="" class="feedback">
            </ng-container>
          </ng-container>
        </div>
      </form>
      <ng-container *ngIf="!emailConfirmed">
        <div class="row-end s-gap relative">
          <ng-container *ngIf="sendEmailVerificationCodeSubmitted">
            <ng-container *ngIf="(backendError$ | async) as error">
              <span class="formFeedbackError backendErrors">{{error}}</span>
            </ng-container>
          </ng-container>
          <button (click)="sendEmailVerificationCode()">Send verification code</button>
          <ng-container *ngIf="sendEmailVerificationCodeSubmitted">
            <ng-container *ngIf="isSubmitting$ | async">
              <div class="feedback">
                <div class="pokemon-spinner"></div>
              </div>
            </ng-container>
            <ng-container *ngIf="(success$ | async) as error">
              <img src="assets/tick.png" alt="" class="feedback">
            </ng-container>
            <ng-container *ngIf="(backendError$ | async) as error">
              <img src="assets/x.png" alt="" class="feedback">
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="section row">
    <div class="col s-gap">
      <div class="title">
        Password
      </div>
      <div class="subtitle">
        Change password
      </div>
    </div>
    <form class="row b-gap" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <ng-container *ngIf="changePasswordSubmitted">
        <ng-container *ngIf="(backendError$ | async) as error">
          <span class="formFeedbackError backendErrors">{{error}}</span>
        </ng-container>
      </ng-container>
      <div class="col">
        <input 
        type="password" 
        placeholder="Current password" 
        formControlName="currentPassword"
        [ngClass]="{controlInvalid: isInvalid('currentPassword', 'changePasswordForm')}"
        >
        <div *ngIf="isInvalid('currentPassword', 'changePasswordForm')" class="formFeedbackError">{{getError('currentPassword', 'changePasswordForm')}}</div>
      </div>
      <div class="col">
        <input 
        type="password" 
        placeholder="New password" 
        formControlName="password"
        [ngClass]="{controlInvalid: isInvalid('password', 'changePasswordForm')}"
        >
        <div *ngIf="isInvalid('password', 'changePasswordForm')" class="formFeedbackError">{{getError('password', 'changePasswordForm')}}</div>
      </div>
      <div class="col">
        <input 
        type="password" 
        placeholder="Repeat password" 
        formControlName="confirmPassword"
        [ngClass]="{controlInvalid: isInvalid('confirmPassword', 'changePasswordForm')}"
        >
        <div *ngIf="isInvalid('confirmPassword', 'changePasswordForm')" class="formFeedbackError">{{getError('confirmPassword', 'changePasswordForm')}}</div>
      </div>
      <button type="submit">Change</button>
      <ng-container *ngIf="changePasswordSubmitted">
        <ng-container *ngIf="isSubmitting$ | async">
          <div class="feedback">
            <div class="pokemon-spinner"></div>
          </div>
        </ng-container>
        <ng-container *ngIf="(success$ | async) as error">
          <img src="assets/tick.png" alt="" class="feedback">
        </ng-container>
        <ng-container *ngIf="(backendError$ | async) as error">
          <img src="assets/x.png" alt="" class="feedback">
        </ng-container>
      </ng-container>
    </form>
  </div>
  <div class="buttons">
    <div class="logout">
      <button (click)="logOut()" class="button-primary-clear">Log Out</button>
    </div>
    <div class="delete">
      <button (click)="tryDeleteAccout()" class="button-primary">Delete Account</button>
    </div>
  </div>
</div>
<app-dialog 
[title]="'Are you sure you want to delete your account?'"
[body]="'All your teams will be removed'"
[trueButtonText]="'No'"
[falseButtonText]="'Yes'"
[visible]="deleteDialog"
(choose)="chooseEvent($event)"
*ngIf="deleteDialog"
></app-dialog>