@use "/src/app/core/styles/variables.scss" as *;

$pictureSize: 3em;

.settings
{
  width: 60vw;
}

.section
{
  padding: 0.4em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title
  {
    font-size: 1.2em;
  }

  .subtitle
  {
    color: var(--text-color-secondary);
    word-break: break-all;
  }

  input
  {
    width: 10em;
  }

  button
  {
    height: 2em;
  }
}

.smart-input-custom-wrapper
{
  width: 10em;
}

.visibility
{
  display: flex;
  align-items: center;
  padding-right: 0.4vw;

  .item
  {
    display: flex;
    align-items: center;
  }
}

.picture
{
  width: $pictureSize;
  height: $pictureSize;
  border-radius: 5px;
}

.backendErrors
{
  text-align: center;
}

.catalog-wrapper
{
  right: 50%;
  bottom: 0.2em;
  transform: translate(50%, calc(100% + 1em));
  z-index: 8;
  max-height: 0;
  width: fit-content;
  transition: max-height 0.3s ease;
  overflow: hidden;
  position: absolute;
}

.catalogShow
{
  max-height: 40rem;
  transition: max-height 0.5s ease-in;
  overflow: hidden;
}

.catalog
{
  background-color: var(--bg-color-2);
  padding: 0.4em;
  border-radius: 5px;
  border: 1px solid var(--bg-color-reverse-2);
  min-width: calc($pictureSize * 3 + 1.2em);
  width: fit-content;
  max-height: calc($pictureSize * 3 + 2em);
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, auto));
  justify-content: space-evenly;
  align-items: center;
  gap: 0.4em;

  .picture
  {
    cursor: pointer;
  }
}

input[type='checkbox']
{
  width: 2vh;
  height: 2vh;
}

.buttons
{
  display: flex;
  justify-content: space-around;
  margin: 1em;
  gap: 1em;
}

.visible
{
  visibility: visible !important;
}

.error
{
  color: red;
}

.feedback
{
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  right: -1.8em;
}

.passwordFeedback
{
  position: absolute;
  bottom: -1.5em;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0.5em);
  width: 100%;
  text-align: center;
}

@media (max-width: $mobileBreakpoint) 
{
  .settings
  {
    width: 90vw;
    margin: auto;
  }

  .passwordFeedback
  {
    position: absolute;
    bottom: -1.5em;
    left: -100%;
    top: 50%;
    transform: translate(-0.5em, -50%);
    width: 100%;
    text-align: center;
  }

  .feedback
  {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    left: -1.8em;
  }

  .catalog-wrapper
  {
    left: -100%;
    bottom: 100%;
    transform: translate(-100%, 50%);
  }
}

@media (max-width: $smallMobileBreakpoint) 
{
  .section
  {
    input
    {
      width: 8em;
    }
  }
}
