<div class="upload">
  <div class="flex justify-c-c align-i-c ">
    <img src="assets/img/vgc.png">
  </div>
  <app-paste-input></app-paste-input>
  <app-team-editor></app-team-editor>
  <div class="flex-col justify-c-c align-i-c gap-s">
    <div class="flex justify-c-c align-i-c relative">
      <button
      (click)="saveTeam()"
      class="button-primary-clear"
      >{{"team.upload.save-button" | translate}}</button>
    </div>
    <ng-container *ngIf="teamSubmitted">
      <div class="spinner-wrapper">
        <div class="pokemon-spinner"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="feedback">
      <span class="formFeedbackError text-center">{{feedback}}</span>
    </ng-container>
  </div>
</div>