<div class="email-confirmation row-center b-gap">
  <ng-container *ngIf="email && token; else noparams">
    <ng-container *ngIf="isSubmitting$ | async">
      <div class="feedback">
        <div class="pokemon-spinner"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="(success$ | async) as error">
      <div class="col-center b-gap">
        <div class="row-center b-gap">
          <img src="assets/tick.png" alt="" class="feedback">
          <span>Email successfully confirmed</span>
        </div>
        <button class="button-primary" [routerLink]="['/']">Go home</button>
      </div>
    </ng-container>
    <ng-container *ngIf="(backendError$ | async) as error">
      <div class="col-center b-gap">
        <div class="row-center b-gap">
          <img src="assets/x.png" alt="" class="feedback">
          <span class="formFeedbackError">{{error}}</span>
        </div>
        <button class="button-primary" [routerLink]="['/']">Go home</button>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #noparams>
    <div class="col-center b-gap">
      <div class="row-center b-gap">
        <img src="assets/x.png" alt="" class="feedback">
        <span class="formFeedbackError">Incorrect credentials</span>
      </div>
      <button class="button-primary" [routerLink]="['/']">Go home</button>
    </div>
  </ng-template>
</div>
