@use "/src/app/core/styles/variables.scss" as *;

.tabs
{
  border-bottom: 1px solid var(--bg-color-3);
  width: 12em;
  display: flex;
  justify-content: center;
}

.pasteBox
{
  width: 30em;
  height: 20em;
  background-color: var(--bg-color-1);
  outline: 1px solid var(--text-color); 
}

.example
{
  position: absolute;
  top: 0;
  right: -2.8em;
}

.selector
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0.2em;
  background-color: var(--primary);
  transition: transform 0.3s ease;
}

.right
{
  transform: translateX(100%);
}

@media (max-width: $bigMobile) 
{
  .pasteBox
  {
    width: 90vw;
  }

  .tabs
  {
    width: 60vw;
  }

  .example
  {
    position: absolute;
    top: unset;
    bottom: 0.4em;
    right: 3em;
  }
}