@let p = pokemon();
@let calculatedStats = p.calculatedStats;
@let i = index();
<div class="no-pad section animated-border poke-tooltip-wrapper" (click)="statClick.emit()"
  [ngClass]="{'poke-tooltip-selected': tooltipVisible() && !compareTeam()}">
  <div class="section-content">
    <app-poke-tooltip
      [content]="statTooltip"
      [side]="'top'"
      [visible]="tooltipVisible() && (!compareTeam() || window.isTabletPortraitOrLess())"
      class="tooltip-component"
      >
    </app-poke-tooltip>
    <ng-template #statTooltip>
      <div class="poke-tooltip-content" style="max-width: auto;">
        <div class="poke-tooltip-head" [ngStyle]="{backgroundColor: (stat() | getStatShortIdentifier) | getStatColor:theme.selectedThemeName}">
          {{stat().name?.content}}
          @if (stat().name?.content && stat().name?.language != (selectedLang$ | async)) {
            <app-no-translation></app-no-translation>
          }
        </div>
        <div class="poke-tooltip-body flex justify-c-c gap-s">
          <div class="flex-col bor-rad-5 pad-s" style="min-width: 2em;">
            <div style="min-height: 1em;"></div>
            <div>{{'pokemon.stat.initial' | translate}}</div>
            <div><span>LvL({{p.level ?? 50}})</span></div>
          </div>
          <div class="flex-col bor-rad-5 pad-s" style="min-width: 2em;" [ngStyle]="{backgroundColor: (stat() | getStatShortIdentifier) | getStatColor:theme.selectedThemeName}">
            <div>{{'pokemon.stat.base' | translate}}</div>
            <div>{{stat().value}}</div>
            <div>{{calculatedStats ? calculatedStats.base[i]?.value : ''}}</div>
          </div>
          <div class="flex-col bor-rad-5 pad-s" style="min-width: 2em;" [ngStyle]="{backgroundColor: 'iv' | getStatColor:theme.selectedThemeName}">
            <div>IVs</div>
            <div>{{teamOptions()?.ivsVisibility ? p.ivs ? p.ivs[i]?.value : "??" : "??"}}</div>
            <div>{{teamOptions()?.ivsVisibility ? p.ivs ? calculatedStats ? calculatedStats.ivs[i]?.value : '??' : "??" : "??"}}</div>
          </div>
          <div class="flex-col bor-rad-5 pad-s" style="min-width: 2em;"
            [ngClass]="{maxed: p.evs && p.evs[i] ? (p.evs[i].value == 252) ? true : false: false}"
            [ngStyle]="{backgroundColor: 'ev' | getStatColor:theme.selectedThemeName}"
            >
            <div>EVs</div>
            <div>{{teamOptions()?.evsVisibility ? p.evs ? p.evs[i]?.value : "??" : "??"}}</div>
            <div>{{teamOptions()?.evsVisibility ? p.evs ? calculatedStats ? calculatedStats.evs[i]?.value : '??' : '??' : "??"}}</div>
          </div>
          <div class="flex-col bor-rad-5 pad-s"  style="min-width: 2em;">
            <div>{{'pokemon.stat.nature' | translate}}</div>
            <div>{{teamOptions()?.naturesVisibility ? p.nature ? p.nature.name.content : '---' : "??"}}</div>
            <div>
              @if (teamOptions()?.naturesVisibility) {
                @if (!(stat().identifier===p.nature?.increasedStatIdentifier
                  && stat().identifier===p.nature?.decreasedStatIdentifier)) {
                  @if (stat().identifier===p.nature?.increasedStatIdentifier) {
                    +10%
                  }
                  @if (stat().identifier===p.nature?.decreasedStatIdentifier) {
                    -10%
                  }
                  @if (stat().identifier!==p.nature?.increasedStatIdentifier
                    && stat().identifier!==p.nature?.decreasedStatIdentifier) {
                    ---
                  }
                } @else {
                  <ng-template [ngTemplateOutlet]="neutral1"></ng-template>
                }
                <ng-template #neutral1>
                  {{'pokemon.stat.neutral' | translate}}
                </ng-template>
              } @else {
                ??
              }
            </div>
          </div>
          <div class="flex-col bor-rad-5 pad-s"  style="min-width: 2em;">
            <div>{{'pokemon.stat.total' | translate}}</div>
            <div>---</div>
            <div>{{calculatedStats ? calculatedStats.total?.[i]?.value : ''}}</div>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="stat">
      <div class="flex justify-c-c" style="width: 2em;">
        {{stat() | getStatCode}}
      </div>
      <div class="flex justify-c-s w-100" style="height: 0.8em;">
        <div
          class="bar"
          [ngStyle]="
          {
            width: (calculatedStats ? calculatedStats.base?.[i]?.value : undefined) | getPokemonStatSizePipe:teamOptions(),
            backgroundColor: (stat() | getStatShortIdentifier) | getStatColor:theme.selectedThemeName,
            borderRadius: p | getPokemonStatBorderRadiusPipe:i:'base':teamOptions()
          }"
          >
        </div>
        @if (teamOptions()?.showIVs && teamOptions()?.ivsVisibility) {
          <div
            class="bar"
            [ngStyle]="
            {
              width: p.ivs ? ((calculatedStats ? calculatedStats.ivs?.[i]?.value : undefined) | getPokemonStatSizePipe:teamOptions()) : 'none',
              backgroundColor: 'iv' | getStatColor:theme.selectedThemeName,
              borderRadius: p | getPokemonStatBorderRadiusPipe:i:'iv':teamOptions()
            }"
            >
          </div>
        }
        @if (teamOptions()?.showEVs && teamOptions()?.evsVisibility) {
          <div class="bar" style="border-radius: 0 15px 15px 0;"
            [ngStyle]="
            {
              width: p.evs ? ((calculatedStats ? calculatedStats.evs?.[i]?.value : undefined) | getPokemonStatSizePipe:teamOptions()) : 'none',
              backgroundColor: 'ev' | getStatColor:theme.selectedThemeName,
            }"
            [ngClass]="{maxed: p.evs?.[i]?.value == 252 ? true : false}"
            >
          </div>
        }
        @if (teamOptions()?.showNature && teamOptions()?.naturesVisibility) {
          @if (!(stat().identifier===p.nature?.increasedStatIdentifier
            && stat().identifier===p.nature?.decreasedStatIdentifier)) {
            @if (stat().identifier===p.nature?.increasedStatIdentifier) {
              <div class="flex justify-c-c align-i-c pointer" style="margin-left: 0.2em;">
                <svg class="icon-xs" version="1.0" xmlns="http://www.w3.org/2000/svg" width="64.000000pt" height="64.000000pt" viewBox="0 0 64.000000 64.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)" [attr.fill]="natureColors.up" stroke="none"> <path d="M302 628 c-18 -22 -292 -589 -292 -605 0 -27 28 -23 157 27 73 27 143 50 155 50 13 0 82 -23 153 -50 72 -28 136 -48 142 -45 7 2 13 12 12 22 0 25 -292 607 -305 611 -6 1 -16 -3 -22 -10z"/> </g> </svg>
              </div>
            }
            @if (stat().identifier === p.nature?.decreasedStatIdentifier) {
              <div class="flex justify-c-c align-i-c pointer" style="margin-left: 0.2em;">
                <svg class="icon-xs" version="1.0" xmlns="http://www.w3.org/2000/svg" width="64.000000pt" height="64.000000pt" viewBox="0 0 64.000000 64.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)" [attr.fill]="natureColors.down" stroke="none"> <path d="M16 621 c-9 -15 287 -606 304 -606 17 0 298 557 299 593 1 12 -5 22 -12 22 -7 0 -71 -22 -142 -50 -71 -27 -136 -50 -145 -50 -9 0 -74 22 -145 50 -136 52 -150 56 -159 41z"/> </g> </svg>
              </div>
            }
          } @else {
            <ng-template [ngTemplateOutlet]="neutral2"></ng-template>
          }
          <ng-template #neutral2>
            <div class="flex justify-c-c align-i-c pointer" style="margin-left: 0.2em;">
              <svg class="icon-xs" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M2 8a1 1 0 011-1h10a1 1 0 110 2H3a1 1 0 01-1-1z" fill="var(--text-color-secondary)"></path> </g></svg>
            </div>
          </ng-template>
        }
      </div>
      <div class="flex justify-c-c" style="width: 2em; margin-left: 0.2em;">
        {{calculatedStats?.total?.[i]?.value}}
      </div>
    </div>
  </div>
</div>
