<ng-container *ngIf="tournament">
  <div class="poke-tooltip-content">
    <div class="poke-tooltip-head">
      <ng-container *ngIf="tournament?.icon">
        <img src="{{tournament?.icon}}" alt="" class="icon-xl">
      </ng-container>
      <span>{{tournament?.name}}</span>
    </div>
    <div class="poke-tooltip-body flex justify-c-sa gap-m">
      <div class="flex flex-col align-i-c">
        <span>{{tournament?.city}}</span>
        <div class="flex align-i-c gap-s">
          <ng-container *ngIf="tournament?.countryCode">
            <img src="{{util.getFlagIconUrl(tournament?.countryCode)}}" alt="" class="icon-m">
          </ng-container>
          <span>{{tournament.countryName}}</span>
        </div>
      </div>
      <div class="flex flex-col gap-m">
        <span>{{util.customFormatDate(tournament?.startDate)}}</span>
        <div class="x-divider"></div>
        <span>{{util.customFormatDate(tournament?.endDate)}}</span>
      </div>
    </div>
  </div>
</ng-container>