
.bg-1
{
  background-color: var(--bg-color-1);
}

.bg-2
{
  background-color: var(--bg-color-2);
}

.bg-3
{
  background-color: var(--bg-color-3);
}

.text-c
{
  color: var(--text-color);
}

.text-c-s
{
  color: var(--text-color-secondary);
}

.text-white
{
  color: var(--white);
}

.darken-3
{
  filter: brightness(0.3);
}

.darken-5
{
  filter: brightness(0.5);
}