
.flex
{
  display: flex;
}

.flex-col
{
  display: flex;
  flex-direction: column;
}

.flex-inline
{
  display: inline-flex;
}

.flex-reverse
{
  flex-direction: row-reverse;
}

.wrap
{
  flex-wrap: wrap;
}

.wrap-reverse
{
  flex-wrap: wrap-reverse;
}

.justify-c-s
{
  justify-content: start;
}

.justify-c-c
{
  justify-content: center;
}

.justify-c-e
{
  justify-content: end;
}

.justify-c-sb
{
  justify-content: space-between;
}
.justify-c-sa
{
  justify-content: space-around;
}

.align-c-c
{
  align-content: center;
}

.justify-i-c
{
  justify-items: center;
}

.align-i-s
{
  align-items: flex-start;
}

.align-i-c
{
  align-items: center;
}

.align-i-e
{
  align-items: flex-end;
}