.grid
{
  display: grid;
}

.grid-force
{
  display: grid !important;
}

.row-1
{
  grid-template-rows: 1fr;
}

.col-1
{
  grid-template-columns: 1fr;
}

.col-2
{
  grid-template-columns: 1fr 1fr;
}

.col-3
{
  grid-template-columns: repeat(3, 1fr);
}

.col-gap-s
{
  column-gap: 0.2em;
}

.col-gap-m
{
  column-gap: 0.4em;
}

.col-gap-xl
{
  column-gap: 2em;
}