.font-s
{
  font-size: 0.7em;
}

.font-m
{
  font-size: 1.3em;
}

.bold
{
  font-weight: bold;
}

.relative
{
  position: relative;
}

.absolute
{
  position: absolute;
}

.text-start
{
  text-align: start;
}

.text-center
{
  text-align: center;
}

.no-overflow
{
  overflow: hidden;
  text-overflow: clip;
}

.no-overflow-text
{
  text-overflow: clip;
}

.space-nowrap
{
  white-space: nowrap;
}

.cursor-auto
{
  cursor: auto;
}

.pointer
{
  cursor: pointer;
}

.no-decoration
{
  text-decoration: none;
}

.no-select
{
  user-select: none;
}

.not-allowed
{
  cursor: not-allowed;
}

.no-shadow
{
  box-shadow: none;
  &:hover
  {
    box-shadow: none;  
  }
}

.disabled
{
  opacity: 0.7;
  cursor: not-allowed;
}

.formFeedbackError
{
  font-size: 0.8em;
  color: red;
}

.formFeedbackSuccess
{
  font-size: 0.8em;
  color: green;
}

.x-divider
{
  height: 1px;
  width: 100%;
  background-color: var(--bg-color-3);
}

.controlInvalid
{
  outline: 3px solid rgba(255, 0, 0, 0.479) !important;
  border: none !important;
}

.custom-scrollbar
{
  &::-webkit-scrollbar 
  {
    width: 0.4vw;
    height: 0.4vw;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track 
  {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb 
  {
    background: var(--bg-color-3);
    border-radius: 5px;
  }
}

.custom-scrollbar-dark
{
  &::-webkit-scrollbar 
  {
    width: 0.4vw;
    height: 0.4vw;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track 
  {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb 
  {
    background: grey;
    border-radius: 5px;
  }
}