

.tournament-editor
{
  background-color: var(--bg-color-2);
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid black;

  .title
  {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }

  .form
  {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .item
    {
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      height: 100%;

      .regulation-checkbox
      {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  .calendar
  {
    padding: 0;
  }

  .preview
  {
    max-width: 70%;
    width: fit-content;
    height: 1.2em;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: var(--bg-color-3);
    padding: 0.2vw;
    border-radius: 5px;
    white-space: nowrap;
    text-align: start;
    gap: 0.2em;
  }


  .add-button
  {
    padding-right: 1em;
    padding-left: 1em;
  }

  .close
  {
    position: absolute;
    right: 0.1em;
    top: 0.1em;

    .icon
    {
      width: 1.5em;
      height: 1.5em;
      border: none;
      border-radius: 20px;

      &:hover
      {
        transition: .4s;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
      }
    }
  }
}