

<div class="tournament-editor">
  <button (click)="close()" class="close no-shadow">
    <svg class="icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5"></circle> <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>  
  </button>
  <div class="title">
    Tournament Editor
  </div>
  <form class="form" [formGroup]="form">
    <div class="row b-gap">
      <div class="item">
        <label for="">Name</label>
        <input #inputName type="text" formControlName="name">
      </div>
      <div class="item col-center b-gap">
        <label for="">Regulation</label>
        <app-regulation-selector
        [allGetter]="queryService.regulationAllCallback"
        (selectEvent)="regulationSelectEvent($event)"
        ></app-regulation-selector>
      </div>
      <div class="item col-center b-gap">
        <label for="">Official</label>
        <div class="regulation-checkbox">
          <input type="checkbox" formControlName="official">
        </div>
      </div>
    </div>
    <div class="row b-gap">
      <div class="row b-gap">
        <div class="item">
          <label for="">City</label>
          <input type="text" formControlName="city">
        </div>
        <div class="item">
          <label for="">Country</label>
          <input type="text" formControlName="countryCode">
        </div>
      </div>
      <div class="item">
        <label for="">Date</label>
        <input type="text" formControlName="date">
      </div>
    </div>
    <div class="row b-gap">
      <ng-container *ngIf="tournament?.name; else empty">
        <div class="preview">
          <ng-container *ngIf="tournament?.official">
            <img src="assets/regionals.png" alt="" class="icon">
          </ng-container>
          {{tournament?.name}}
        </div>
      </ng-container>
      <ng-template #empty>
        <div></div>
      </ng-template>
      <button class="button-primary add-button" (click)="add()">Add</button>
    </div>
  </form>
</div>