<ng-container *ngIf="data$ | async as data">
  <div class="m-auto flex-col justify-c-c align-i-c pad-s no-overflow relative" style="width: 10em;">
    <div class="nav">
      <div class="pad-m flex justify-c-c align-i-c pointer bg-2 text-center tab-left"
      (click)="showLogInForm()"
      [ngClass]="{'tab-selected': login}"
      >
        {{'user.form.login' | translate}}
      </div>
      <div class="pad-m flex justify-c-c align-i-c pointer bg-2 text-center tab-right"
      style="word-break: break-all;" 
      (click)="showSignUpForm()"
      [ngClass]="{'tab-selected': signup}"
      >
        {{'user.form.signup' | translate}}
      </div>
    </div>
    <ng-container *ngIf="login">
      <form
      class="user-form flex-col justify-c-c align-i-c gap-m w-100" 
      [formGroup]="logInForm" 
      (ngSubmit)="logIn()"
      >
        <div class="flex-col gap-s bor-1-b bg-2 pad-m">
          <div class="item">
            <label for="">{{'user.form.username-label' | translate}}</label>
            <input type="text" 
            class="input-s"
            formControlName="userNameOrEmail"
            [ngClass]="{controlInvalid: isInvalid('userNameOrEmail', 'login')}"
            >
            <span *ngIf="isInvalid('userNameOrEmail', 'login')" class="formFeedbackError">{{getError('userNameOrEmail', 'login')}}</span>
          </div>
          <div class="item">
            <label for="">{{'user.form.password-label' | translate}}</label>
            <input type="password" 
            class="input-s"
            formControlName="password"
            [ngClass]="{controlInvalid: isInvalid('password', 'login')}"
            >
            <span *ngIf="isInvalid('password', 'login')" class="formFeedbackError">{{getError('password', 'login')}}</span>
          </div>
        </div>
        <button class="button-secondary" type="button" (click)="showForgotForm()">Forgot password?</button>
        <div class="flex-col align-i-c w-100 gap-m">
          <div class="flex justify-c-e align-i-c w-100 gap-m">
            <ng-container *ngIf="data.isSubmitting">
              <div class="icon-m">
                <div class="pokemon-spinner"></div>
              </div>
            </ng-container>
            <button 
            type="submit" 
            class="button-primary"
            [disabled]="data.isSubmitting"
            >{{'user.form.login' | translate}}</button>
          </div>
          <ng-container *ngIf="logInFormSubmitted && data.backendError">
            <span class="formFeedbackError">{{data.backendError}}</span>
          </ng-container>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="signup">
      <form class="user-form flex-col align-i-c gap-m"
      [formGroup]="signUpForm" 
      (ngSubmit)="signUp()"
      >
        <div class="flex-col gap-s bor-1-b bg-2 pad-m">
          <div class="item">
            <label>{{'user.form.username-label' | translate}}*</label>
            <input type="text" 
            class="input-s"
            formControlName="username"
            [ngClass]="{controlInvalid: isInvalid('username', 'signup')}"
            >
            <span *ngIf="userNameAvailable" class="formFeedbackSuccess">{{'user.form.username_available-feedback' | translate}}</span>
            <span *ngIf="isInvalid('username', 'signup')" class="formFeedbackError">{{getError('username', 'signup')}}</span>
          </div>
          <div class="item">
            <label>{{'user.form.email-label' | translate}}*</label>
            <input type="text" 
            class="input-s"
            formControlName="email"
            [ngClass]="{controlInvalid: isInvalid('email', 'signup')}"
            >
            <span *ngIf="emailAvailable" class="formFeedbackSuccess">{{'user.form.email_available-feedback' | translate}}</span>
            <span *ngIf="isInvalid('email', 'signup')" class="formFeedbackError">{{getError('email', 'signup')}}</span>
          </div>
          <div class="item">
            <label>{{'user.form.password-label' | translate}}*</label>
            <input type="password" 
            class="input-s"
            formControlName="password"
            [ngClass]="{controlInvalid: isInvalid('password', 'signup')}"
            >
            <span *ngIf="isInvalid('password', 'signup')" class="formFeedbackError">{{getError('password', 'signup')}}</span>
          </div>
          <div class="item">
            <label>{{'user.form.confirm_password-label' | translate}}*</label>
            <input type="password" 
            class="input-s"
            formControlName="confirmPassword"
            [ngClass]="{controlInvalid: isInvalid('confirmPassword', 'signup')}"
            >
            <span *ngIf="isInvalid('confirmPassword', 'signup')" class="formFeedbackError">{{getError('confirmPassword', 'signup')}}</span>
          </div>
        </div>
        <button class="button-secondary" type="button" (click)="showForgotForm()">Forgot password?</button>
        <div class="flex-col align-i-c gap-m w-100">
          <div class="flex justify-c-e align-i-c w-100 gap-m">
            <ng-container *ngIf="data.isSubmitting">
              <div class="icon-m">
                <div class="pokemon-spinner"></div>
              </div>
            </ng-container>
            <button 
            type="submit" 
            class="button-primary"
            [disabled]="data.isSubmitting"
            >{{'user.form.signup' | translate}}</button>
          </div>
          <ng-container *ngIf="signUpFormSubmitted && data.backendError">
            <span class="formFeedbackError">{{data.backendError}}</span>
          </ng-container>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="forgot">
      <form
      class="user-form flex-col justify-c-c align-i-c gap-m w-100" 
      [formGroup]="forgotForm" 
      (ngSubmit)="forgotPassword()"
      >
        <div class="flex-col gap-s bor-1-b bg-2 pad-m">
          <div class="item">
            <label>{{'user.form.email-label' | translate}}*</label>
            <input type="text" 
            class="input-s"
            formControlName="email"
            [ngClass]="{controlInvalid: isInvalid('email', 'forgot')}"
            >
            <span *ngIf="isInvalid('email', 'forgot')" class="formFeedbackError">{{getError('email', 'forgot')}}</span>
          </div>
        </div>
        <div class="flex-col align-i-c w-100 gap-m">
          <div class="flex justify-c-e align-i-c w-100 gap-m">
            <ng-container *ngIf="data.isSubmitting">
              <div class="icon-m">
                <div class="pokemon-spinner"></div>
              </div>
            </ng-container>
            <button 
            type="submit" 
            class="button-primary"
            [disabled]="data.isSubmitting"
            >{{'user.form.reset_request' | translate}}</button>
          </div>
          <ng-container *ngIf="forgotPasswordSubmitted && data.backendError">
            <span class="formFeedbackError">{{data.backendError}}</span>
          </ng-container>
        </div>
      </form>
    </ng-container>
  </div>  
</ng-container>
