$optionHeight: 3vh;
$optionsMaxHeight: 25vh;

.smart-input
{
  //padding: 0.2vw;
  position: relative;
  //width: calc(100% - 0.4vw);
  width: 100%;

  .search
  {
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
    align-items: start;
    width: 100%;
    box-sizing:border-box;
    padding: 0.2vw;

    .input-wrapper
    {
      border-radius: 5px;
      color: var(--text-color);
      background-color: var(--bg-color-3);
      border: none;
      height: calc($optionHeight + 0.4vw);
      width: 100%;
      padding: 0 0 0 0.2vw;
      display: flex;
      align-items: center;
    }
  }

  
  .results
  {
    position: absolute;
    top: 100%;
    width: 98%;
    max-height: 100%;
    margin-left: 0.2vw;
    padding: 0.2vw;
    box-sizing:border-box;

    background-color: var(--bg-color-1);
    color: var(--text-color);
    border: 1px solid black;
    border-radius: .25em;
    font-size: small;

    visibility: hidden;
    overflow-y: scroll;
    overflow-x: auto;
    z-index: 3;

    transition: all ease-in-out 0.5s;
    transition-delay: 0.1s;
  }

  .results-visible 
  {
    max-height: calc($optionHeight * 12);
    visibility: visible !important;
  }

  .result
  {
    display: flex;
    align-items: center;
    min-height: calc($optionHeight + 0.4vw);
    padding: 0 0.2vw 0 0.2vw;

    border-radius: .25em;
    cursor: pointer;
    overflow: hidden;

    &:hover
    {
      background-color: var(--bg-color-3);
      color: var(--text-color);
      border-radius: 5px;
    }
  }
}

.selected
{
  background-color: var(--bg-color-3);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  //padding: 0 0.2vw 0 0.2vw;

  .remove
  {
    display: flex;
    align-items: center;
    width: 0.8em;
    height: 0.8em;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.2em;
    justify-self: end;
    margin-right: 0.4vw;

    &:hover
    {
      background-color: var(--bg-color-2);
    }
  }
}

.icon
{
  width: 2em;
  height: 2em;
  padding-right: 0.2vw;
}

