<div class="team-editor">
  <div class="options">
    <app-option 
    [editorOptions]="editorOptions"
    [editorOptionsSwitchSelector]="'shiny'"
    [selectData]="editorData.shinyPaths"
    [selectDisable]="editorOptions.shiny"
    [editorOptionsSelectSelector]="'shinyPath'"
    [label]="'Display shiny icon?'"
    ></app-option>
    <app-option 
    [editorOptions]="editorOptions"
    [editorOptionsSwitchSelector]="'shiny'"
    [selectData]="editorData.shinyPaths"
    [selectDisable]="editorOptions.shiny"
    [editorOptionsSelectSelector]="'shinyPath'"
    [label]="'Display shiny icon?'"
    ></app-option>
    <app-option 
    [editorOptions]="editorOptions"
    [editorOptionsSwitchSelector]="'shiny'"
    [selectData]="editorData.shinyPaths"
    [selectDisable]="editorOptions.shiny"
    [editorOptionsSelectSelector]="'shinyPath'"
    [label]="'Display shiny icon?'"
    ></app-option>
  </div>
  
  <div class="team-holder">
    <app-team 
    [pokemons]="pokemons"  
    [editorOptions]="editorOptions"></app-team>
  </div>

  <div class="output">
    <button
    (click)="generateTeam()"
    class="generate"
    >Generate Team</button>
  </div>
</div> 