.team-editor
{
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .team-holder
  {
    border-radius: 5px;
    margin-bottom: 2vh;
    min-width: 75%;
    padding: 2vh 2vh;
    background-color: var(--bg-color-4);
  }
  
  .output
  {
    margin-bottom: 2vw;

    .generate
    {
      width: 5vw;
      height: 2vw;
      margin: auto;
    }
  }

  .editor-input
  {
    width: 11vw;
    position: relative;
  }

  .tag-editor-wrapper
  {
    position: absolute;
    left: calc(100% + 0.2em);
    bottom: 0.2em;
    z-index: 1;
    max-height: 0;
    min-width: 13em;
    width: fit-content;
    transition: max-height 0.3s ease;
    overflow: hidden;
  }

  .tagEditorShow
  {
    max-height: 40rem;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
  }

  .tournament-editor-wrapper
  {
    position: absolute;
    left: -50%;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    max-height: 0;
    min-width: 20vw;
    width: fit-content;
    transition: max-height 0.3s ease;
    overflow: hidden;
  }

  .tournamentEditorShow
  {
    max-height: 40rem;
    overflow: hidden;
    transition: max-height 0.5s 0.1s ease-in;
  }
}
