<div class="team-editor">
  <div class="col">
    <div class="row">
      <app-smart-input
      #userInput
      [label]="'Player: '"
      [keepSelected]="true"
      [getter]="queryUserCallback"
      class="item smart-input-wrapper"
      ></app-smart-input>
      <app-smart-input
      #tournamentInput
      [label]="'Tournament: '"
      [keepSelected]="true"
      [getter]="queryTournamentCallback"
      class="item smart-input-wrapper"
      ></app-smart-input>
      <app-smart-input
      #regulationInput
      [label]="'Regulation: '"
      [keepSelected]="true"
      [getter]="queryRegulationCallback"
      [allGetter]="regulationAllCallback"
      class="item smart-input-wrapper"
      ></app-smart-input>
      <app-smart-input
      #regulationInput
      [label]="'Tags: '"
      [keepSelected]="false"
      [getter]="queryRegulationCallback"
      class="item smart-input-wrapper"
      ></app-smart-input>
    </div>
    <div class="row-center">
      <app-checkbox
      [obj]="editorOptions"
      [objSelector]="'showEVs'"
      [label]="'EVs'"
      [hoverText]="'Show EVs'"
      ></app-checkbox>
      <app-checkbox
      [obj]="editorOptions"
      [objSelector]="'showIVs'"
      [label]="'IVs'"
      [hoverText]="'Show IVs'"
      ></app-checkbox>
      <app-checkbox
      [obj]="editorOptions"
      [objSelector]="'showNature'"
      [label]="'Nature'"
      [hoverText]="'Show nature'"
      ></app-checkbox>
      <app-checkbox
      [obj]="editorOptions"
      [objSelector]="'showDexNumber'"
      [label]="'Dex number'"
      [hoverText]="'Show showDexNumber'"
      ></app-checkbox>
      <app-checkbox
      [obj]="editorOptions"
      [objSelector]="'showNickname'"
      [label]="'Nickname'"
      [hoverText]="'Show nickname'"
      ></app-checkbox>
    </div>
  </div>
  <div class="team-holder">
    <app-team [team]="team"></app-team>
  </div>
  <div class="output">
    <button
    (click)="generateTeam()"
    class="generate button-primary-clear"
    >Generate Team</button>
  </div>
</div> 