.team-editor
{
  margin: 0 15% 0 15%;

  background-color: antiquewhite;
  .options
  {
    .option
    {
      display: flex;

      .toggle
      {

      }
    }
  }

  .team-holder
  {
    background-color: grey;
  }
}