
.detail
{
  width: fit-content;
  max-width: 8em;
  height: 1.2em;
  display: flex;
  align-items: center;
  background-color: var(--bg-color-2);
  padding: 0.2em;
  border-radius: 5px;
  white-space: nowrap;
  text-align: start;
  gap: 0.2em;
}

.views
{
  max-width: 4.5em;
}

.preview-button
{
  max-height: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;

  button
  {
    padding: 0.2em;
  }

  a
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.errors
{
  text-align: center;
  color: red;
}

.pokemons-placeholder
{
  min-height: 5em;
}

.unregisteredPlayer
{
  color: var(--text-color-secondary);
}

.deleting
{
  outline: 4px solid red;
}

@media only screen and (max-width: 768px) 
{
  .team-table
  {
    width: 90vw;
  }
}