
.details
{
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, auto));
  justify-content: space-evenly;
  row-gap: 2vh;
  margin-top: 2vh;
  
  .section
  {
    width: 20vw;
    height: 40vh;
    background-color: lightgrey;
    border: grey 1px solid;
    border-radius: 10px;

    .title
    {
      text-align: center;
      border-bottom: 1px solid black;
      border-width: 50%;
      padding: 0.2vw;
    }
  }
}