<div 
class="dropdown"
[ngClass]="{'disabled': disable}"
>
  <div 
  class="selector"
  [ngClass]="
  {
    'only-icon-options': onlyIcon
  }"
  (click)="toggleOptions()"
  >
    <div
    class="option selected"
    >
      <ng-container *ngIf="selectedOption?.icon">
        <img [attr.src]="selectedOption?.icon" alt="" class="icon" fill>
      </ng-container>
      {{selectedOption ? (selectedOption.name | translate) : ''}}
    </div>
    <ng-container *ngIf="!onlyIcon">
      <div 
      class="dropdown-arrow"
      >
        <img src="assets/img/down-arrow.png" alt="Dropdown arrow"
        class="arrow icon"
        [ngClass]="{up: showOptions}"
        >
      </div>
    </ng-container>
  </div>
  <div 
  class="options"
  [ngClass]="
  {
    'options-visible': showOptions && !disable,
    'only-icon-options': onlyIcon
  }"
  >
    <ng-container *ngFor="let option of options">
      <div
      class="option"
      [ngClass]="{'only-icon-option': onlyIcon}"
      (click)="onSelect(option)"
      >
        <ng-container *ngIf="option.icon">
          <img [attr.src]="option.icon" alt="" class="icon-small" fill>
        </ng-container>
        <ng-container *ngIf="!onlyIcon">
          {{option.name | translate}}
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>