$optionWidth: 9vw;
$optionHeight: 3vh;
$optionsMaxHeight: 30vh;

.icon
{
  width: 1vw;
  height: 1vw;
  padding-right: 0.25vw;
}

.disabled
{
  opacity: 0.4;
  pointer-events:none;
}

.dropdown
{
  .dropdown-selector
  {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: $optionWidth;
    height: calc($optionHeight + 0.4vw);
    padding: 0 0.4vw;

    background-color: white;
    color: var(--text-color);
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    input
    {
      color: var(--text-color);
      background-color: white;
      border: var(--bg-color-3) solid 1px;
      width: 90%;
    }

    .dropdown-arrow
    {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .arrow 
      {
        display: inline-block;
        padding: 3px;
        transition: all ease-in 0.5s;
      }

      .up 
      {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
      }
    }
  }

  .dropdown-options
  {
    position: absolute;
    align-items: center;

    width: calc($optionWidth + 0.2vw);
    max-height: 0;
    padding: 0.2vw;
    padding-left: 0.4vw;

    background-color: white;
    color: var(--text-color);
    border: 1px solid black;
    border-radius: .25em;
    font-size: small;

    visibility: hidden;
    overflow-y: scroll;
    overflow-x: auto;
    z-index: 2;
    cursor: pointer;

    transition: all ease-in 0.5s;

    .dropdown-option
    {
      display: flex;
      align-items: center;

      max-width: $optionWidth;
      height: 100%;
      height: $optionHeight;
      padding: 0.2vw 1em;
      border-radius: .25em;

      &:hover
      {
        background-color: var(--bg-color-2);
      }
    }
  }

  .dropdown-options-visible 
  {
    max-height: calc($optionHeight * 12);
    visibility: visible !important;
  }
}