<div class="details">
  <div class="section">
    <div class="title">
      TEAMS
    </div>
    <div class="body">
      <ul>
        <li>Number of teams</li>
      </ul>
    </div>
  </div>
  <div class="section">
    <div class="title">
      POKEMONS
    </div>
    <div class="body">
      <ul>
        <li>Most used pokemons</li>
      </ul>
    </div>
  </div>
  <div class="section">
    <div class="title">
      TOURNAMENTS
    </div>
    <div class="body">
      <ul>
        <li>Positions at tournaments played</li>
      </ul>
    </div>
  </div>
</div>