
.color-picker
{
  background-color: var(--bg-color-2);
  padding: 0.5em;
  border-radius: 0 5px 5px 0;
  border: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;

  .title
  {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 0.4em;
  }
  
  .colors
  {
    display: grid;
    grid-template-columns: repeat(4, 2.5em);
    justify-content: start;
    justify-items: center;
    gap: 0.5em;
    margin: auto;

    .color
    {
      width: 3em;
      height: 3em;
      border-radius: 5px;
    }
  }
}