<div class="search">
  <div class="top-background">
    <div class="top">
      <div class="form">
        <div></div>
        <div class="inputs">
          <div class="row">
            <app-smart-input
            #userInput
            [label]="'Player'"
            [keepSelected]="false"
            [allowCustom]="true"
            [getter]="queryService.queryUserCallback"
            (selectEvent)="querySelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
            <app-smart-input
            #tournamentInput
            [label]="'Tournament'"
            [keepSelected]="false"
            [allowCustom]="true"
            [getter]="queryService.queryTournamentCallback"
            (selectEvent)="querySelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
            <app-smart-input
            #regulationInput
            [label]="'Regulation'"
            [keepSelected]="false"
            [getter]="queryService.queryRegulationCallback"
            [allGetter]="queryService.regulationAllCallback"
            (selectEvent)="querySelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="row">
            <app-smart-input
            #pokemonInput
            [label]="'Pokemon'"
            [keepSelected]="false"
            [getter]="queryService.queryPokemonCallback"
            (selectEvent)="querySelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
            <app-smart-input
            #moveInput
            [label]="'Move'"
            [keepSelected]="false"
            [getter]="queryService.queryMoveCallback"
            (selectEvent)="querySelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
            <app-smart-input
            #itemInput
            [label]="'Item '"
            [keepSelected]="false"
            [getter]="queryService.queryItemCallback"
            (selectEvent)="querySelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
          </div>
        </div>
      </div>
      <div class="storages">
        <div class="storage-settings row">
          <app-radio
          [options]="unionTypeSettings"
          [optionIcons]="[
          (theme.selectedTheme$ | async)?.name === 'light' 
          ? 'assets/intersection.png' 
          : 'assets/intersection-white.png',
          (theme.selectedTheme$ | async)?.name === 'light' 
          ? 'assets/union.png' 
          : 'assets/union-white.png']"
          [optionNames]="['intersection', 'union']"
          [tooltipTexts]="['Teams that match all', 'Teams that match any']"
          [selectedIndex]="0"
          (selectEvent)="tagsSettingsSelectEvent($event)"
          ></app-radio>
        </div>
        <div class="storage-buttons row b-gap">
          <button class="button-primary" (click)="defaultSearch()">
            <img src="assets/search-white.png" alt="" class="big-icon">
          </button>
          <button (click)="reset()">
            <img src="assets/reset.png" alt="" class="big-icon">
          </button>
        </div>
        <app-tag-list [tags]="tags" [removable]="true" (removeEvent)="tagRemoveEvent($event)"></app-tag-list>
      </div>
    </div>
  </div>
  <div 
  class="results" 
  #results
  [ngClass]="{searched: searched}"
  >
    <div class="bar">
      <div class="row b-gap">
        <div 
        class="category tooltip-wrapper" 
        [ngClass]="{'selected': userSelected}"
        (click)="toggleLoggedUser()"
        >
          <ng-container *ngIf="(loggedUser$ | async) as user">
            <div class="row s-gap">
              <ng-container *ngIf="user.picture">
                <img src="{{user.picture}}" alt="Profile picture" class="icon">
              </ng-container>
              {{user.username}}
            </div>
            <app-tooltip
            [text]="'Show only your teams'"
            [side]="'top'"
            ></app-tooltip>
          </ng-container>
        </div>
        <ng-container *ngFor="let item of sortTypeNames; index as i">
          <div class="category sorter" (click)="changeSorter(i)">
            <div class="sorter-text">
              {{item}}
            </div>
            <div class="way">
              <ng-container *ngIf="sortOrder.type != i">
                <div class="col">
                  <img src="{{(theme.selectedTheme$ | async)?.name === 'light' 
                  ? 'assets/up-arrow.png' 
                  : 'assets/up-arrow-white.png'}}" alt="Sort up arrow" class="sort-icon up-arrow">
                  <img src="{{(theme.selectedTheme$ | async)?.name === 'light' 
                  ? 'assets/down-arrow.png' 
                  : 'assets/down-arrow-white.png'}}" alt="Sort down arrow" class="sort-icon down-arrow">
                </div>
              </ng-container>
              <ng-container *ngIf="sortOrder.type == i && sortOrder.way === 1">
                <div class="col">
                  <img src="{{(theme.selectedTheme$ | async)?.name === 'light' 
                  ? 'assets/up-arrow.png' 
                  : 'assets/up-arrow-white.png'}}" alt="Sort up arrow" class="sort-icon up-arrow">
                  <img src="{{(theme.selectedTheme$ | async)?.name === 'light' 
                  ? 'assets/down-arrow-clear.png' 
                  : 'assets/down-arrow-clear-white.png'}}" alt="Sort down arrow" class="sort-icon down-arrow">
                </div>
              </ng-container>
              <ng-container *ngIf="sortOrder.type == i && sortOrder.way === 0">
                <div class="col">
                  <img src="{{(theme.selectedTheme$ | async)?.name === 'light' 
                  ? 'assets/up-arrow-clear.png' 
                  : 'assets/up-arrow-clear-white.png'}}" alt="Sort up arrow" class="sort-icon up-arrow">
                  <img src="{{(theme.selectedTheme$ | async)?.name === 'light' 
                  ? 'assets/down-arrow.png' 
                  : 'assets/down-arrow-white.png'}}" alt="Sort down arrow" class="sort-icon down-arrow">
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row b-gap">
        <div class="category">{{totalTeams ?? '?'}} teams</div>
        <div 
        class="column-icon category"
        [ngClass]="{'selected': layout === 0}"
        (click)="changeLayout(0)"
        >
          <div class="column-drawing">
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
          </div>
        </div>
        <div 
        class="column-icon category"
        [ngClass]="{'selected': layout === 1}"
        (click)="changeLayout(1)"
        >
          <div class="column-drawing">
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
          </div>
          <div class="column-drawing">
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="table">
      <ng-container *ngIf="searched">
        <div class="loader-wrapper">
          <div class="pokemon-spinner"></div>
        </div>
      </ng-container>
      <ng-container *ngIf="teams && teams.length > 0">
        <div class="records" [ngClass]="
        {
          single: layout === 0,
          double: layout === 1
        }">
          <ng-container *ngFor="let team of teams">
            <div class="record">
              <app-team-preview 
              [team]="team" 
              [layout]="layout"
              [logged]="isTeamOwnerLogged(team)"></app-team-preview>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <div class="pagination">
        <div></div>
        <app-pagination
        [itemsPerPage]="paginationForm.controls.teamsPerPage.valid ? paginationForm.controls.teamsPerPage.value ?? 20 : 20"
        [totalItems]="totalTeams ?? 0"
        (pageChanged)="pageChange($event, results)"
        ></app-pagination>
        <form class="col s-gap" [formGroup]="paginationForm">
          <div class="row-center s-gap">
            <label for="">Teams per page: </label>
            <input 
            type="text" 
            class="teams-per-page"
            formControlName="teamsPerPage"
            [ngClass]="{controlInvalid: isInvalid('teamsPerPage')}"
            >
          </div>
          <span *ngIf="isInvalid('teamsPerPage')" class="formFeedbackError text-center">{{getError('teamsPerPage')}}</span>
        </form>
      </div>
    </div>
  </div>
</div>