<div class="search">
  <div class="top-background">
    <div class="top">
      <div class="form">
        <div></div>
        <div class="inputs">
          <div class="row">
            <app-smart-input
            #userInput
            [label]="'Player'"
            [keepSelected]="false"
            [allowCustom]="true"
            [getter]="queryService.queryUserCallback"
            (selectEvent)="querySelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
            <app-smart-input
            #tournamentInput
            [label]="'Tournament'"
            [keepSelected]="false"
            [allowCustom]="true"
            [getter]="queryService.queryTournamentCallback"
            (selectEvent)="querySelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
            <app-smart-input
            #regulationInput
            [label]="'Regulation'"
            [keepSelected]="false"
            [getter]="queryService.queryRegulationCallback"
            [allGetter]="queryService.regulationAllCallback"
            (selectEvent)="querySelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="row">
            <app-smart-input
            #pokemonInput
            [label]="'Pokemon'"
            [keepSelected]="false"
            [getter]="queryService.queryPokemonCallback"
            (selectEvent)="querySelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
            <app-smart-input
            #moveInput
            [label]="'Move'"
            [keepSelected]="false"
            [getter]="queryService.queryMoveCallback"
            (selectEvent)="querySelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
            <app-smart-input
            #itemInput
            [label]="'Item '"
            [keepSelected]="false"
            [getter]="queryService.queryItemCallback"
            (selectEvent)="querySelectEvent($event)"
            class="item smart-input-wrapper"
            ></app-smart-input>
          </div>
        </div>
        <div class="buttons">
          <button class="button-tertiary-clear search-button">Reset</button>
          <button (click)="defaultSearch()" class="button-primary search-button">Search</button>
        </div>
      </div>
      <div class="storages">  
        <app-tag-list [tags]="tags" [removable]="true" (removeEvent)="tagRemoveEvent($event)"></app-tag-list>
      </div>
    </div>
  </div>
  <div 
  class="results" 
  #results
  [ngClass]="{searched: searched}"
  >
    <div class="bar">
      <div class="row b-gap">
        <div 
        class="category tooltip-wrapper" 
        [ngClass]="{'selected': userSelected}"
        (click)="toggleLoggedUser()"
        >
          <ng-container *ngIf="(loggedUser$ | async) as user">
            <div class="row s-gap">
              <ng-container *ngIf="user.picture">
                <img src="{{user.picture}}" alt="Profile picture" class="icon">
              </ng-container>
              {{user.username}}
            </div>
            <app-tooltip
            [text]="'Show only your teams'"
            [side]="'top'"
            ></app-tooltip>
          </ng-container>
        </div>
        <div class="category" (click)="changeSorter(0)">
          Date
          <div class="way">
            <ng-container *ngIf="!sorterSettings[0] && sorterSettings[0] !== 0">
              <div class="neutral">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/></svg>
              </div>
            </ng-container>
            <ng-container *ngIf="sorterSettings[0] === 1">
              <div class="up">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M182.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128z"/></svg>
              </div>
            </ng-container>
            <ng-container *ngIf="sorterSettings[0] === 0">
              <div class="down">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M182.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="category" (click)="changeSorter(1)">
          Views
          <div class="way">
            <ng-container *ngIf="!sorterSettings[1]">
              <div class="neutral">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/></svg>
              </div>
            </ng-container>
            <ng-container *ngIf="sorterSettings[1] === 3">
              <div class="up">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M182.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128z"/></svg>
              </div>
            </ng-container>
            <ng-container *ngIf="sorterSettings[1] === 2">
              <div class="down">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M182.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row b-gap">
        <div class="category">{{totalTeams ?? '?'}} teams</div>
        <div 
        class="column-icon category"
        [ngClass]="{'selected': layout === 0}"
        (click)="changeLayout(0)"
        >
          <div class="column-drawing">
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
          </div>
        </div>
        <div 
        class="column-icon category"
        [ngClass]="{'selected': layout === 1}"
        (click)="changeLayout(1)"
        >
          <div class="column-drawing">
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
          </div>
          <div class="column-drawing">
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="table">
      <ng-container *ngIf="searched">
        <div class="loader-wrapper">
          <div class="pokemon-spinner"></div>
        </div>
      </ng-container>
      <ng-container *ngIf="teams && teams.length > 0">
        <div class="records" [ngClass]="
        {
          single: layout === 0,
          double: layout === 1
        }">
          <ng-container *ngFor="let team of teams">
            <div class="record">
              <app-team-preview 
              [team]="team" 
              [layout]="layout"
              [logged]="isTeamOwnerLogged(team)"></app-team-preview>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <div class="pagination">
        <div></div>
        <app-pagination
        [itemsPerPage]="paginationForm.controls.teamsPerPage.valid ? paginationForm.controls.teamsPerPage.value ?? 20 : 20"
        [totalItems]="totalTeams ?? 0"
        (pageChanged)="pageChange($event, results)"
        ></app-pagination>
        <form class="col s-gap" [formGroup]="paginationForm">
          <div class="row-center s-gap">
            <label for="">Teams per page: </label>
            <input 
            type="text" 
            class="teams-per-page"
            formControlName="teamsPerPage"
            [ngClass]="{controlInvalid: isInvalid('teamsPerPage')}"
            >
          </div>
          <span *ngIf="isInvalid('teamsPerPage')" class="formFeedbackError text-center">{{getError('teamsPerPage')}}</span>
        </form>
      </div>
    </div>
  </div>
</div>