html, body 
{
  height: 100%;
}

body 
{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color-1);
  color: var(--text-color);
}

a
{
  text-decoration: inherit;
  color: var(--text-color-link);

  &:hover
  {
    text-decoration: underline;
  }

  &:visited
  {
    color: var(--text-color-link);
  }
}

h3
{
  font-weight: 100;
  font-size: 2em;
  margin: 0.4em 0 0.4em 0;
  font-family: 'Segoe UI', sans-serif;
}

.blue-team
{
  background-color: var(--blue-team);
}

.red-team
{
  background-color: var(--red-team);
}