$laptop: 1600px;
$tabletLandscape: 1024px;
$tabletPortrait: 768px;
$bigMobile: 480px;
$mobile: 414px;
$smallMobile: 360px;

$desktopPokemonCardWidth: 30em;
$tabletPokemonCardWidth: 25em;
$mobilePokemonCardWidth: 95vw;

$pokemonCardHeight: 12em;

@media (min-width: $tabletLandscape) 
{
  :root 
  {
    --pokemonCardWidth: #{$desktopPokemonCardWidth};
  }
}

@media (min-width: $mobile) and (max-width: $tabletLandscape) 
{
  :root 
  {
    --pokemonCardWidth: #{$tabletPokemonCardWidth};
  }
}

@media (max-width: $mobile) 
{
  :root 
  {
    --pokemonCardWidth: #{$mobilePokemonCardWidth};
  }
}
