@use "/src/app/core/styles/variables.scss" as *;

.smart-input-wrapper
{
  display: flex;
  flex-direction: column;
  width: 100%;

  .smart-input-top
  {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 0.2em 0 0.2em;
  }
}

.spinner-wrapper
{
  width: 4em;
  height: 4em;
  margin: auto;
  margin-top: 3em;
}

$tooltipColor: var(--bg-color-tooltip);
$arrowSize: 0.4em;

.tooltip-wrapper
{
  position: relative;

  &:hover .tooltip
  {
    width: max-content;
    height: fit-content;
    max-width: 10em;
    padding: 0.4em;
    
    display: flex;
    align-items: center;

    background-color: $tooltipColor;
    
    color: var(--text-color-reverse);
    border-radius: 5px;

    font-size: 0.80rem;
    text-align: center;
    cursor: default;
    opacity: 1;

    transition: opacity 0.1s 0.5s ease;
  }
}

.poke-tooltip-wrapper
{
  position: relative;
}

@media (min-width: $tabletPortrait) 
{
  .poke-tooltip-wrapper
  {
  
    &:hover > .section-content > .tooltip-component > .poke-tooltip
    {
      width: max-content;
      height: fit-content;
      
      display: flex;
      align-items: center;
  
      background-color: var(--bg-color-2);
      color: var(--text-color);
      border-radius: 5px;
      border: 1px solid black;
  
      text-align: center;
      cursor: default;
      opacity: 1;
      overflow: visible;
    }
  }
}

@media (pointer: coarse) 
{
  .poke-tooltip-wrapper
  {
    position: relative;

    &:hover 
    {
      all: revert-layer;
    }
  }
}