@use "/src/app/core/styles/variables.scss" as *;

.smart-input-wrapper
{
  display: flex;
  flex-direction: column;
  width: 100%;

  .smart-input-top
  {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 0.2em 0 0.2em;
  }
}

.fake-smart-input
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2em;
  position: relative;

  input
  {
    padding: 0 0 0 0.2em;
    width: 100%;
  }
}

.spinner-wrapper
{
  width: 4em;
  height: 4em;
  margin: auto;
  margin-top: 3em;
}

.static-page
{
  font-size: 1.3rem;
}

$tooltipColor: var(--bg-color-tooltip);
$arrowSize: 0.4em;

.tooltip-wrapper
{
  position: relative;

  &:hover .tooltip
  {
    width: max-content;
    height: fit-content;
    max-width: 10em;
    padding: 0.4em;
    
    display: flex;
    align-items: center;

    background-color: $tooltipColor;
    
    color: var(--text-color-reverse);
    border-radius: 5px;

    font-size: 0.80rem;
    text-align: center;
    cursor: default;
    opacity: 1;
    z-index: 5;

    transition: opacity 0.1s 0.5s ease;
  }
}

.poke-tooltip-wrapper
{
  position: relative;
}

.poke-tooltip-selected-outline
{
  outline: 1px solid var(--text-color);
  background: none !important;
  border-radius: 5px;
}

.poke-tooltip-content
{
  background-color: var(--bg-color-2);
  border-radius: 5px;
}

.poke-tooltip-content-bound
{
  max-width: 18em;
}

.poke-tooltip-head
{
  background-color: var(--bg-color-3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
  border-radius: 5px 5px 0 0;
}

.poke-tooltip-head-text
{
  font-size: larger;
  text-align: center;
}

.poke-tooltip-body
{
  padding: 0.4em;
  border-radius: 0 0 5px 5px;
}

@media (min-width: $tabletPortrait) 
{
  .poke-tooltip-wrapper
  {
  
    &:hover > .section-content > .tooltip-component > .poke-tooltip
    {
      width: max-content;
      max-width: 95vw;
      height: fit-content;
      
      display: flex;
      align-items: center;
  
      background-color: var(--bg-color-2);
      color: var(--text-color);
      border-radius: 5px;
      border: 1px solid var(--text-color);
  
      text-align: center;
      cursor: default;
      opacity: 1;
      overflow: visible;
    }
  }
}

@media (max-width: $tabletLandscape) 
{
  .static-page
  {
    margin: 0 2em 0 2em;
  }
}

@media (min-width: $tabletLandscape) 
{
  .static-page
  {
    margin: 2em 15em 0 15em;
  }
}

@media (pointer: coarse) 
{
  .poke-tooltip-wrapper
  {
    position: relative;

    &:hover 
    {
      all: revert-layer;
    }
  }
}