<div class="options">
  <div class="settings">
    <form action="">
      <div class="item">
        <label for="">Profile Visibility: </label>
        <span>
          <label for="">Public</label>
          <input type="checkbox" name="" id="">
        </span>
        <span>
          <label for="">Private</label>
          <input type="checkbox" name="" id="">
        </span>
      </div>
    </form>
  </div>
  <div class="logout">
    <button (click)="logOut()">Log Out</button>
  </div>
  <div class="delete">
    <button (click)="tryDeleteAccout()">Delete Account</button>
  </div>
</div>
<app-dialog 
[title]="'Are you sure you want to delete your account?'"
[body]="'All your teams will be removed.'"
[trueButtonText]="'Decline'"
[falseButtonText]="'Accept'"
[visible]="deleteDialog"
(choose)="chooseEvent($event)"
*ngIf="deleteDialog"
></app-dialog>