<div class="pokemon">
  <div class="profile">
    <div class="left">
      <div class="extra">
        <div 
        class="species section"
        (click)="clickMeta(0, 'middle')"
        [ngClass]="{'meta-selected':  metaMiddle[0]}"
        >
          <div class="meta-wrapper">
            <div class="meta meta-top evol" (click)="clickMeta(0, 'middle')" [ngClass]="{'meta-visible':  metaMiddle[0]}">
              <div class="family">
                <ng-container *ngIf="pokemon.preEvolution">
                  <ng-container *ngIf="pokemon.preEvolution.preEvolution">
                    <app-evolution [sourcePokemon]="pokemon" [pokemon]="pokemon.preEvolution.preEvolution" [editorOptions]="editorOptions"></app-evolution>
                    <img src="assets/right-arrow.png" alt="" class="icon">
                  </ng-container>
                  <app-evolution [sourcePokemon]="pokemon" [pokemon]="pokemon.preEvolution" [editorOptions]="editorOptions"></app-evolution>
                  <img src="assets/right-arrow.png" alt="" class="icon">
                </ng-container>
                <app-evolution [sourcePokemon]="pokemon" [pokemon]="pokemon" [editorOptions]="editorOptions"></app-evolution>
                <ng-container *ngIf="pokemon.evolutions ? pokemon.evolutions.length > 0 ? true : false : false">
                  <img src="assets/right-arrow.png" alt="" class="icon">
                  <ng-container *ngFor="let evolution of pokemon.evolutions">
                    <app-evolution [sourcePokemon]="pokemon" [pokemon]="evolution" [editorOptions]="editorOptions"></app-evolution>
                    <ng-container *ngIf="evolution.evolutions ? evolution.evolutions.length > 0 ? true : false : false">
                      <img src="assets/right-arrow.png" alt="" class="icon">
                      <ng-container *ngFor="let evolution of evolution.evolutions">
                        <app-evolution [sourcePokemon]="pokemon" [pokemon]="evolution" [editorOptions]="editorOptions"></app-evolution>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
          <div *ngIf="editorOptions.showDexNumber; else void">
            <div class="dex-number">
              #{{pokemon.dexNumber}} 
            </div>
          </div>
          <div class="name">
            {{pokemon.name}}
            <div *ngIf="editorOptions.showNickname; else void">
              <div class="nickname">
                {{pokemon.nickname}}
              </div>
            </div>
          </div>
        </div>
        <div 
        class="item section"
        (click)="clickMeta(0, 'left')"
        [ngClass]="{'meta-selected':  metaLeft[0]}"
        >
          <div class="meta-wrapper" (click)="clickMeta(0, 'left')">
            <div class="meta meta-left" [ngClass]="{'meta-visible':  metaLeft[0]}">
              <div class="head">
                {{pokemon.item?.name}}
              </div>
              <div class="body">
                {{pokemon.item?.prose}}
              </div>
            </div>
          </div>
          <div>
            {{pokemon.item?.name}}
          </div>
          <div>
            <img src="{{pokemon.item?.iconPath}}" alt="">
          </div>
        </div>
        <div 
        class="section"
        (click)="clickMeta(1, 'left')"
        [ngClass]="{'meta-selected':  metaLeft[1]}"
        >
          <div class="meta-wrapper" (click)="clickMeta(1, 'left')">
            <div class="meta meta-left" [ngClass]="{'meta-visible':  metaLeft[1]}">
              <div class="head">
                {{pokemon.ability?.name}}
              </div>
              <div class="body">
                {{pokemon.ability?.prose}}
              </div>
            </div>
          </div>
          {{pokemon.ability?.name}} 
        </div>
        <div 
        class="item options"
        [ngClass]=""
        >
          <div 
          class="option"
          (click)="clickMeta(0, 'showStats')"
          [ngClass]="{active: showStats[0]}"
          >
            <img src="assets/align-left.png" alt="" class="icon">
          </div>
          <div 
          class="option" 
          (click)="clickMeta(0, 'showNotes')"
          [ngClass]="{active: showNotes[0]}"
          >
            <img src="assets/edit.png" alt="" class="icon">
          </div>
          <div 
          class="option" 
          (click)="clickMeta(2, 'options')"
          [ngClass]="{active: metaDown[2]}"
          >
            <img src="assets/copy.png" alt="" class="icon">
          </div>
        </div>
      </div>
      <div class="picture">
        <div class="types">
          <ng-container *ngIf="pokemon.teraType; else empty">
            <div 
            class="type section"
            (click)="clickMeta(1, 'middle')"
            [ngClass]="{'meta-selected':  metaMiddle[1]}"
            >
              <div class="meta-wrapper" (click)="clickMeta(1, 'middle')">
                <div 
                class="meta meta-top single-type" 
                [ngClass]="{'meta-visible':  metaMiddle[1]}"
                >
                  <div class="meta-types">
                    <ng-container *ngIf="pokemon.teraType?.effectivenessDefense?.superEffective?.length ?? false">
                      <div class="category">
                        <div class="text">
                          <span class="title">x2</span>
                        </div>
                        <div class="icons">
                          <ng-container *ngFor="let type of pokemon.teraType?.effectivenessDefense?.superEffective">
                            <img src="{{type.iconPath}}" title="{{type.name}}" alt="{{type.name}}" class="icon">
                          </ng-container>
                        </div>
                      </div>
                      <hr class="divider">
                    </ng-container>
                    <ng-container *ngIf="pokemon.teraType?.effectivenessDefense?.notVeryEffective?.length ?? false">
                      <div class="category">
                        <div class="text">
                          <span class="title">x0.5</span>
                        </div>
                        <div class="icons">
                          <ng-container *ngFor="let type of pokemon.teraType?.effectivenessDefense?.notVeryEffective">
                            <img src="{{type.iconPath}}" title="{{type.name}}" alt="{{type.name}}" class="icon">
                          </ng-container>
                        </div>
                      </div>
                      <ng-container *ngIf="pokemon.teraType?.effectivenessDefense?.inmune?.length ?? false">
                        <hr class="divider">
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="pokemon.teraType?.effectivenessDefense?.inmune?.length ?? false">
                      <div class="category">
                        <div class="text">
                          <span class="title">x0</span> 
                        </div>
                        <div class="icons">
                          <ng-container *ngFor="let type of pokemon.teraType?.effectivenessDefense?.inmune">
                            <img src="{{type.iconPath}}" title="{{type.name}}" alt="{{type.name}}" class="icon">
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <img src="{{pokemon.teraType.iconPath}}" alt="" class="icon">
            </div>
            <div class="vertical-divider"></div>
          </ng-container>
          <div
          class="type section"
          (click)="clickMeta(2, 'middle')"
          [ngClass]="{'meta-selected':  metaMiddle[2]}"
          >
            <div class="meta-wrapper" (click)="clickMeta(2, 'middle')">
              <div class="meta meta-top" [ngClass]="
              {
                'meta-visible':  metaMiddle[2], 
                'single-type': !pokemon.types?.dualEffectiveness,
                'dual-type': pokemon.types?.dualEffectiveness,
              }"
              >
                <div class="meta-types">
                  <ng-container *ngIf="pokemon.types?.dualEffectiveness ?? false; else monotypeMeta">
                    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.doubleSuperEffective?.length ?? false">
                      <div class="category">
                        <div class="text">
                          <span class="title">x4</span>
                        </div>
                        <div class="icons">
                          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.doubleSuperEffective">
                            <img src="{{type.iconPath}}" title="{{type.name}}" alt="{{type.name}}" class="icon">
                          </ng-container>
                        </div>
                      </div>
                      <hr class="divider">
                    </ng-container>
                    
                    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.superEffective?.length ?? false">
                      <div class="category">
                        <div class="text">
                          <span class="title">x2</span>
                        </div>
                        <div class="icons">
                          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.superEffective">
                            <img src="{{type.iconPath}}" title="{{type.name}}" alt="{{type.name}}" class="icon">
                          </ng-container>
                        </div>
                      </div>
                      <hr class="divider">
                    </ng-container>
                    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.notVeryEffective?.length ?? false">
                      <div class="category">
                        <div class="text">
                          <span class="title">x0.5</span>
                        </div>
                        <div class="icons">
                          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.notVeryEffective">
                            <img src="{{type.iconPath}}" title="{{type.name}}" alt="{{type.name}}" class="icon">
                          </ng-container>
                        </div>
                      </div>
                      <hr class="divider">
                    </ng-container>
                    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.doubleNotVeryEffective?.length ?? false">
                      <div class="category">
                        <div class="text">
                          <span class="title">x0.25</span>
                        </div>
                        <div class="icons">
                          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.doubleNotVeryEffective">
                            <img src="{{type.iconPath}}" title="{{type.name}}" alt="{{type.name}}" class="icon">
                          </ng-container>
                        </div>
                      </div>
                      <ng-container *ngIf="pokemon.types?.dualEffectiveness?.inmune?.length ?? false">
                        <hr class="divider">
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.inmune?.length ?? false">
                      <div class="category">
                        <div class="text">
                          <span class="title">x0</span>
                        </div>
                        <div class="icons">
                          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.inmune">
                            <img src="{{type.iconPath}}" title="{{type.name}}" alt="{{type.name}}" class="icon">
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-template #monotypeMeta>
                    <ng-container *ngIf="pokemon.types?.type1?.effectivenessDefense?.superEffective?.length ?? false">
                      <div class="category">
                        <div class="text">
                          <span class="title">x2</span>
                        </div>
                        <div class="icons">
                          <ng-container *ngFor="let type of pokemon.types?.type1?.effectivenessDefense?.superEffective">
                            <img src="{{type.iconPath}}" title="{{type.name}}" alt="{{type.name}}" class="icon">
                          </ng-container>
                        </div>
                      </div>
                      <hr class="divider">
                    </ng-container>
                    <ng-container *ngIf="pokemon.types?.type1?.effectivenessDefense?.notVeryEffective?.length ?? false">
                      <div class="category">
                        <div class="text">
                          <span class="title">x0.5</span>
                        </div>
                        <div class="icons">
                          <ng-container *ngFor="let type of pokemon.types?.type1?.effectivenessDefense?.notVeryEffective">
                            <img src="{{type.iconPath}}" title="{{type.name}}" alt="{{type.name}}" class="icon">
                          </ng-container>
                        </div>
                      </div>
                      <ng-container *ngIf="pokemon.types?.type1?.effectivenessDefense?.inmune?.length ?? false">
                        <hr class="divider">
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="pokemon.types?.type1?.effectivenessDefense?.inmune?.length ?? false">
                      <div class="category">
                        <div class="text">
                          <span class="title">x0</span> 
                        </div>
                        <div class="icons">
                          <ng-container *ngFor="let type of pokemon.types?.type1?.effectivenessDefense?.inmune">
                            <img src="{{type.iconPath}}" title="{{type.name}}" alt="{{type.name}}" class="icon">
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
            </div>
            <ng-container *ngIf="pokemon.types?.dualEffectiveness ?? false; else monotype">
              <img src="{{pokemon.types?.type1?.iconPath}}" title="{{pokemon.types?.type1?.name}}" alt="{{pokemon.types?.type1?.name}}" class="icon">
              <img src="{{pokemon.types?.type2?.iconPath}}" title="{{pokemon.types?.type2?.name}}" alt="{{pokemon.types?.type2?.name}}" class="icon">
            </ng-container>
            <ng-template #monotype>
              <img src="{{pokemon.types?.type1?.iconPath}}" title="{{pokemon.types?.type1?.name}}" alt="{{pokemon.types?.type1?.name}}" class="icon">
            </ng-template>
          </div>
        </div>
        <div 
        class="section sprite-background"
        (click)="clickMeta(3, 'middle')"
        [ngClass]="{'meta-selected':  metaMiddle[3]}"
        >
          <img src={{pokemonSpritePath}} alt="" class="sprite">
        </div>
        <div class="picture-extra">
          <div 
          class="shiny section"
          (click)="clickMeta(4, 'middle')"
          [ngClass]="{'meta-selected':  metaMiddle[4]}"
          >
            <div *ngIf="pokemon.shiny && editorOptions.shinyPath?.identifier!='none'; else empty">
              <img src={{editorOptions.shinyPath?.path}} alt="" class="icon">
            </div>
          </div>
          <div 
          class="level section"
          (click)="clickMeta(5, 'middle')"
          [ngClass]="{'meta-selected':  metaMiddle[5]}"
          >
            {{pokemon.level}}
          </div>
          <div 
          class="gender section"
          (click)="clickMeta(6, 'middle')"
          [ngClass]="{'meta-selected':  metaMiddle[6]}"
          >
            <div *ngIf="pokemon.gender==='F'; else gender">
              <img src={{femaleIconPath}} alt="" class="icon">
            </div>
            <ng-template #gender>
              <img src={{maleIconPath}} alt="" class="icon">
            </ng-template>          
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="moves">
        <div class="move section" 
        *ngFor="let move of pokemon.moves; index as i" 
        (click)="clickMeta(i, 'right')"
        [ngClass]="{'meta-selected':  metaRight[i]}">
          <div class="move-icons">
            <div class="type-icon">
              <img src="{{move.pokeType?.iconPath}}" title="{{move.pokeType?.name}}" alt="{{move.pokeType?.name}}" class="icon">
            </div>
            <div class="type-icon">
              <img src="{{move.damageClass?.iconPath}}" alt="" class="icon">
            </div>
          </div>
          <div class="name">
            {{move.name}}
          </div>
          <div class="meta-wrapper" 
          (click)="clickMeta(i, 'right')"
          >
            <div class="meta meta-right" [ngClass]="{'meta-visible':  metaRight[i]}">
              <div class="head move-head">
                <div class="meta-move-type">
                  <img src="{{move.pokeType?.iconPath}}" title="{{move.pokeType?.name}}" alt="{{move.pokeType?.name}}" class="icon">
                  <div class="meta-wrapper">
                    <div class="meta meta-top meta-top-move">
                      <div class="meta-types">
                        <ng-container *ngIf="move.pokeType?.effectivenessAttack?.superEffective?.length ?? false">
                          <div class="category">
                            <div class="text">
                              <span class="title">x2</span>
                            </div>
                            <div class="icons">
                              <ng-container *ngFor="let type of move.pokeType?.effectivenessAttack?.superEffective">
                                <img src="{{type.iconPath}}" title="{{type.name}}" alt="{{type.name}}" class="icon">
                              </ng-container>
                            </div>
                          </div>
                          <hr class="divider">
                        </ng-container>
                        <ng-container *ngIf="move.pokeType?.effectivenessAttack?.notVeryEffective?.length ?? false">
                          <div class="category">
                            <div class="text">
                              <span class="title">x0.5</span>
                            </div>
                            <div class="icons">
                              <ng-container *ngFor="let type of move.pokeType?.effectivenessAttack?.notVeryEffective">
                                <img src="{{type.iconPath}}" title="{{type.name}}" alt="{{type.name}}" class="icon">
                              </ng-container>
                            </div>
                          </div>
                          <ng-container *ngIf="move.pokeType?.effectivenessAttack?.inmune?.length ?? false">
                            <hr class="divider">
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="move.pokeType?.effectivenessAttack?.inmune?.length ?? false">
                          <div class="category">
                            <div class="text">
                              <span class="title">x0</span> 
                            </div>
                            <div class="icons">
                              <ng-container *ngFor="let type of move.pokeType?.effectivenessAttack?.inmune">
                                <img src="{{type.iconPath}}" alt="" class="icon">
                              </ng-container>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  {{move?.name}}
                </div>
                <div>
                  <img src="{{move.damageClass?.iconPath}}" alt="" class="icon">
                </div>
              </div>
              <div class="body">
                <div class="property">
                  <span class="title">Effect:</span>{{move.effect?.short}}
                </div>
                <ng-container *ngIf="move.effect?.chance">
                  <div class="property">
                    <span class="title">Effect Chance:</span>{{move.effect?.chance}}%
                  </div>
                </ng-container>
                <div class="property">
                  <span class="title">Target:</span>{{move.target?.description}}
                </div>
                <div class="move-bottom">
                  <div class="primary">
                    <div class="atribute"><span class="title">Power</span>{{move?.power}}</div>
                    <div class="atribute"><span class="title">PP</span>{{move?.pp}}</div>
                    <div class="atribute"><span class="title">Accuracy</span>{{move?.accuracy}}%</div>
                    <div class="atribute"><span class="title">Priority</span>{{move?.priority}}</div>
                  </div>
                  <div class="secondary">
                    <ng-container *ngIf="move.meta?.minHits">
                      <div class="atribute"><span class="title">minHits</span>{{move.meta?.minHits}}</div>
                    </ng-container>
                    <ng-container *ngIf="move.meta?.maxHits">
                      <div class="atribute"><span class="title">maxHits</span>{{move.meta?.maxHits}}</div>
                    </ng-container>
                    <ng-container *ngIf="move.meta?.minTurns">
                      <div class="atribute"><span class="title">minTurns</span>{{move.meta?.minTurns}}</div>
                    </ng-container>
                    <ng-container *ngIf="move.meta?.maxTurns">
                      <div class="atribute"><span class="title">maxTurns</span>{{move.meta?.maxTurns}}</div>
                    </ng-container>
                    <ng-container *ngIf="move.meta?.drain">
                      <div class="atribute"><span class="title">drain</span>{{move.meta?.drain}}</div>
                    </ng-container>
                    <ng-container *ngIf="move.meta?.healing">
                      <div class="atribute"><span class="title">healing</span>{{move.meta?.healing}}</div>
                    </ng-container>
                    <ng-container *ngIf="move.meta?.statusChance">
                      <div class="atribute"><span class="title">statusChance</span>{{move.meta?.statusChance}}</div>
                    </ng-container>
                    <ng-container *ngIf="move.meta?.flinchChance">
                      <div class="atribute"><span class="title">flinchChance</span>{{move.meta?.flinchChance}}</div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>    
          <div class="move-footer" 
          [ngStyle]="{'background': getMoveColor(move)}"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showStats[0]; else void">
    <div class="stats-wrapper">
      <div class="stats">
        <ng-container *ngIf="pokemon.stats">
          <ng-container *ngFor="let stat of pokemon.stats; index as i">
            <div class="stat section" (click)="clickMeta(i, 'stat')" [ngClass]="{'meta-selected':  metaStats[i]}">
              <div class="meta-wrapper" (click)="clickMeta(i, 'stat')">
                <div class="meta meta-stat" [ngClass]="{'meta-visible':  metaStats[i]}">
                  <div class="meta-name" [ngStyle]="{backgroundColor: getStatColor(stat)}">{{stat.name}}</div>
                  <div class="content">
                    <div class="col">
                      <div class="item"></div>
                      <div class="item">Initial</div>
                      <div class="item"><span>LvL({{pokemon.level ?? 50}})</span></div>
                    </div>
                    <div class="col"  [ngStyle]="{backgroundColor: getStatColor(stat)}">
                      <div class="item">Base</div>
                      <div class="item">{{stat.value}}</div>
                      <div class="item">{{calculatedStats.base[i].value}}</div>
                    </div>
                    <div class="col ivs">
                      <div class="item">IVs</div>
                      <div class="item">{{editorOptions.showIVs ? pokemon.ivs ? pokemon.ivs[i].value : "??" : "??"}}</div>
                      <div class="item">{{editorOptions.showIVs ? pokemon.ivs ? calculatedStats.ivs[i].value : "??" : "??"}}</div>
                    </div>
                    <div class="col evs" [ngClass]="{maxed: pokemon.evs ? (pokemon.evs[i].value == 252) ? true : false: false}">
                      <div class="item">EVs</div>
                      <div class="item">{{editorOptions.showEVs ? pokemon.evs ? pokemon.evs[i].value : "??" : "??"}}</div>
                      <div class="item">{{editorOptions.showEVs ? pokemon.evs ? calculatedStats.evs[i].value : '??' : "??"}}</div>
                    </div>
                    <div class="col">
                      <div class="item">Nature</div>
                      <div class="item">{{editorOptions.showNature ? pokemon.nature ? pokemon.nature.name : '---' : "??"}}</div>
                      <div class="item">
                        <ng-container *ngIf="editorOptions.showNature; else notNature">
                          <ng-container *ngIf="!(stat.identifier===pokemon.nature?.increasedStat?.identifier
                          && stat.identifier===pokemon.nature?.decreasedStat?.identifier); else metaNeutral">
                            <ng-container *ngIf="stat.identifier===pokemon.nature?.increasedStat?.identifier">
                              +10%
                            </ng-container>
                            <ng-container *ngIf="stat.identifier===pokemon.nature?.decreasedStat?.identifier">
                              -10%
                            </ng-container>
                            <ng-container *ngIf="stat.identifier!==pokemon.nature?.increasedStat?.identifier
                            && stat.identifier!==pokemon.nature?.decreasedStat?.identifier">
                              ---
                            </ng-container>
                          </ng-container>
                          <ng-template #metaNeutral>
                            Neutral
                          </ng-template>
                        </ng-container>
                        <ng-template #notNature>
                          ??
                        </ng-template>
                      </div>
                    </div>
                    <div class="col">
                      <div class="item">Total</div>
                      <div class="item">---</div>
                      <div class="item">{{calculatedStats.total[i].value}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="name">
                {{getStatName(stat)}}
                </div>
              <div class="values">
                <div 
                class="base bar"
                [ngStyle]="
                {
                  width: getStatSize(calculatedStats.base[i].value),
                  backgroundColor: getStatColor(stat),
                  borderRadius: (editorOptions.showIVs && pokemon.ivs ? (pokemon.ivs[i].value / 4) === 0 ? false : true : false)  ||
                   (editorOptions.showEVs && pokemon.evs ? (pokemon.evs[i].value / 4) === 0 ? false : true : false) ? ('15px 0 0 15px') : '15px'
                }"
                >
                </div>
                <ng-container *ngIf="editorOptions.showIVs">
                  <div 
                  class="ivs bar"
                  [ngStyle]="
                  {
                    width: pokemon.ivs ? getStatSize(calculatedStats.ivs[i].value) : 'none',
                    borderRadius: editorOptions.showEVs && (pokemon.evs ? (pokemon.evs[i].value / 4) == 0 ? false : true : false) ? '0' : '0 15px 15px 0'
                  }"
                  >
                  </div>
                </ng-container>
                <ng-container *ngIf="editorOptions.showEVs">
                  <div class="evs bar" 
                  [ngStyle]="{width: pokemon.evs ? getStatSize(calculatedStats.evs[i].value) : 'none'}"
                  [ngClass]="{maxed: pokemon.evs ? (pokemon.evs[i].value == 252) ? true : false: false}"
                  >
                  </div>
                </ng-container>
                <div class="total">
                  {{calculatedStats.total[i].value}}
                </div>
                <ng-container *ngIf="editorOptions.showNature">
                  <ng-container *ngIf="!(stat.identifier===pokemon.nature?.increasedStat?.identifier
                  && stat.identifier===pokemon.nature?.decreasedStat?.identifier); else neutral">
                    <ng-container *ngIf="stat.identifier===pokemon.nature?.increasedStat?.identifier">
                      <div class="nature">
                        <img src="assets/up-arrow.png" alt="" class="icon">
                      </div>
                    </ng-container>
                    <ng-container *ngIf="stat.identifier===pokemon.nature?.decreasedStat?.identifier">
                      <div class="nature">
                        <img src="assets/down-arrow.png" alt="" class="icon">
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-template #neutral>
                    <div class="nature">
                      <div class="neutral"></div>
                    </div>
                  </ng-template>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="showNotes[0]; else void">
    <div class="notes">
      NOTES
    </div>
  </div>
</div>
<ng-template #empty><div class="empty"></div></ng-template>
<ng-template #void></ng-template>
