
$cardWidth: 25vw;
$cardheight: 20vh;
$metaWidth: calc($cardWidth/1.5);
$moveHeight: calc($cardheight/4);
$statsHeight: 5vh;
$iconSize: 1vw;
$spriteSize: $iconSize * 4;
$paddingBig: 0.5vw;
$padding: 0.2vw;

.pokemon
{
  width: $cardWidth;
  min-height: $cardheight;
  background-color: var(--bg-color-3);
  color: var(--text-color);
  border-radius: 5px;

  .profile
  {
    display: grid;
    grid-template-columns: 60% 40%;
    height: $cardheight;
    .left
    {
      text-align: left;
      display: grid;
      justify-content: left;
      grid-template-columns: 60% 40%;
      padding: $paddingBig;

      .extra
      {
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        align-items: center;

        .species
        {
          display: flex;
          align-items: center;

          .dex-number
          {
            color: rgb(255, 85, 85);
            margin-right: 0.5vh;
          }
          .nickname
          {
            color: rgba(255, 255, 255, 0.7);
            text-align: center;
          }
        }

        .item
        {
          display: flex;
          align-items: center;
        }
      }

      .picture
      {
        display: grid;
        grid-template-rows: 15% 70% 15%;

        .types
        {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .vertical-divider
          {
            border: 0.5px solid grey;
            height: $iconSize;
            margin: 0 4px;
          }

          .type
          {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;     
          }
        }

        .sprite-background
        {
          display: flex;
          align-items: center;
          justify-content: center;

          .sprite
          {
            width: $spriteSize;
            height: $spriteSize;
          }
        }

        .picture-extra
        {
          display: flex;
          justify-content: space-between;
          align-items: center;
          
        }
      }
    }

    .right
    {
      padding: $paddingBig;

      .moves
      {
        height: 100%;
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;

        .move
        {
          height: 100%;
          width: calc(100% - 1vw);
          position: relative;

          .move-icons
          {
            display: flex;

            .type-icon
            {

            }
          }
          .name
          {
            width: 100%;
          }

          .move-footer
          {
            position: absolute;
            width: 100%;
            height: 20%;
            bottom: 0;
            left: 0;
            //background-color: $fire;
          }
        }
      }
    }
  }

  .stats
  {

  }
}

.icon
{
  width: $iconSize;
  height: $iconSize;
}



.meta-selected
{
  outline: 1px solid black;
  outline-offset: 0.1vw;
  border-radius: 5px;
  background-color: var(--bg-color-2);
}

.meta-wrapper
{
  position: relative; 
  width: 0;
  height: 0;
  overflow: visible;

  .meta
  {
    visibility: hidden;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--bg-color-2);
    z-index: 3;
    cursor: auto;

    .head
    {
      background-color: var(--bg-color-3);
      font-size: larger;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $paddingBig;
      border-radius: 5px 5px 0 0;
    }

    .body
    {
      padding: $padding;

      .property
      {
        display: flex;
        margin-bottom: $padding;

        .title
        {
          font-weight: bold;
          margin-right: $padding;
        }

        .content
        {

        }
      }

      .move-bottom
      {
        display: grid;

  
        .primary
        {
          display: grid;
          justify-content: center;
          text-align: center;
          grid-template-columns: 25% 15% 30% 25%;
          margin-bottom: $padding;
          column-gap: $padding;
          margin: $padding;
        }

        .secondary
        {
          display: flex;
          justify-content: center;
        }

        .atribute
        {
          padding: 0 $padding 0 $padding;
          display: flex;
          flex-direction: column;
          border: 1px solid black;
          border-radius: 5%;
          background-color: var(--bg-color-3);
          cursor: pointer;
        }
      }
    }

    .link
    {
      text-decoration: none;
      cursor: pointer;
      color: var(--text-color-link);

      &:hover
      {
        text-decoration: underline ;
      }
    }
  }

  .meta-left
  {
    min-width: $metaWidth;
    height: fit-content;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(calc(-100% - $paddingBig - $padding), calc(-50% - $padding*2));
    text-align: center;
  }

  .meta-right
  {
    min-width: $metaWidth;
    height: fit-content;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(calc($paddingBig*3 + $padding), calc(-50% - $padding*2));
    
    .move-head
    {
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;
      overflow: visible;

      .meta-move-type
      {
        cursor: pointer;
        &:hover .meta-top-move
        {
          visibility: visible;
        }
      }
    }
  }

  .meta-top-move
  {
    transform: translate(-(calc($iconSize/2)), calc(-100% - $iconSize - 1vw)) !important;
    visibility: hidden;
  }

  .single-type
  {
    position: relative;
    left: 50%;
    top: 100%;
    transform: translate(calc(-50% - $iconSize/2), calc(-100% - $iconSize - $padding*2));
  }

  .dual-type
  {
    position: relative;
    left: 50%;
    top: 100%;
    transform: translate(calc(-50% - $iconSize), calc(-100% - $iconSize - $padding*2));
  }

  .evol
  {
    position: relative;
    left: 50%;
    top: 130%;
    transform: translate(calc(-50% + $cardWidth/6), calc(-130%));
  }

  .meta-top
  {
    width: fit-content;
    height: fit-content;
    padding: $padding;
    display: flex;
    justify-content: center;
    z-index: 5;

    .meta-types
    {
      display: flex;
      justify-content: center;


      .category
      { 
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0.2vw;

        .text
        {
          display: flex;
          justify-content: end;
        }

        .icons
        {
          display: grid;
          grid-template-columns: 50% 50%;
        }
      }

      .divider
      {

      }
    }

    .family
    {
      display: flex;
      align-items: center;

      .sprite-small
      {
        width: $iconSize*2;
        height: $iconSize*2;
      }
    }
  }

  .meta-sprite
  {
    min-width: $cardWidth/3;
    z-index: 5;
    text-align: center;
    display: flex;
    flex-direction: column;

    position: relative;
    left: 50%;
    top: 140%;
    transform: translate(calc(-30%), calc(-140%));

    .name
    {
      padding: $padding;
      background-color: var(--bg-color-3);
      border-radius: 5px 5px 0 0;
    }
  
    .spriteBig
    {
      width: $spriteSize*2;
      height: $spriteSize*2;
    }
  }

  .meta-middle
  {
    width: $cardWidth/3;
    z-index: 5;
    padding: $padding;
    text-align: center;

    position: relative;
    left: 50%;
    top: 100%;
    transform: translate(calc(-50% + $iconSize/2), calc(-100% - $iconSize));
  }

  .meta-stat
  {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    z-index: 5;

    position: relative;
    left: 50%;
    top: 130%;
    transform: translate(calc(-50% + $cardWidth/2), calc(-130%));
    
    .meta-name
    {
      text-align: center;
      border-radius: 5px 5px 0 0 ;
      padding: $padding 0 ;
    }

    .content
    {
      display: flex;
      padding: $padding;
      gap: $padding;

      .col
      {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding: $padding;

        .item
        {
          width: 100%;
          min-width: 2vw;
          min-height: 1em;
          width: fit-content;
          display: flex;
          justify-content: center;
          overflow: hidden;
        }
      }

      .ivs
      {
        background-color: lightblue;
      }

      .evs
      {
        background-color: gold;
      }

      .maxed
      {
        outline: 0.3vh solid black;
      }
    }


  }

  .meta-visible
  {
    visibility: visible !important;
  }

  .title
  {
    font-weight: bold;
    margin-right: $padding;
  }
}

.section
{
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover .meta
  {
    visibility: visible;
  }

  &:hover
  {
    outline: dashed black 1px;
    border-radius: 5px;
  }

}

.stats-wrapper
{
  background-color: var(--bg-color-2);
  width: 100%;
  border-radius: 0 0 5px 5px;

  .stats
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: $padding/2;
    padding: $padding;

    .stat
    {
      height: inherit;
      display: flex;
      align-items: center;

      .name
      {
        display: flex;
        justify-content: center;
        width: 2vw;
      }

      .values
      {
        height: 1.5vh;
        display: flex;

        .bar
        {
          cursor: pointer;
          color: white;
          transition: visibility 1s ease;
        }

        .base
        {

        }

        .ivs
        {
          background-color: lightblue;
        }

        .evs
        {
          background-color: gold;
          border-radius: 0 15px 15px 0;
          border-radius: none;
        }

        .total
        {
          margin-left: $padding;
        }
        
        .maxed
        {
          border: 0.4vh solid black;
        }
        
        .nature
        {
          margin-left: $padding;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius:50px;
          width: 0.8vw;
          height: 0.8vw;

          .icon
          {
            width: 0.5vw;
            height: 0.5vw;
          }

          .neutral
          {
            height: 30%;
            width: 80%;
            border-radius: 30px;
            background-color: grey;
          }
        }
      }
    }
  }
}

.options
{
  display: flex;
  justify-content: space-around;
  width: 80%;

  .option
  {
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    .icon
    {
      width: 1vw;
      height: 1vw;
    }
  }
  
  .active
  {
    background-color: var(--bg-color-4);
  }
}

.notes
{
  background-color: var(--bg-color-2);
  height: $cardheight;
}



.empty
{
  width: $iconSize;
  height: $iconSize;
  cursor: auto !important;
}

.bold
{
  font-weight: bold;
}

