<div class="pokemon">
  <div class="profile">
    <div class="left">
      <div class="extra">
        <div class="name">
          <div class="species">
            <div class="dex-number">
              000
            </div>
            species
          </div>
          <div class="nickname">
            [nickname]
          </div>    
        </div>
        <div class="item">
          <div>
            picture 
          </div>
          <div>
            item
          </div>
        </div>
        <div>
          ability
        </div>
        <div>
          nature
        </div>
      </div>
      <div class="picture">
        <div class="types">
          <div class="base-types">
            <div class="type">
              type1
            </div>
            <div class="type">
              type2
            </div>
          </div>
          <div class="tera-type">
            teratype
          </div>
        </div>
        <div class="photo">
          photo
        </div>
        <div class="photo-extra">
          <div class="shiny">
            shiny
          </div>
          <div class="level">
            level
          </div>
          <div class="gender">
            gender
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="moves">
        <div class="move">
          <div class="icons">
            <div class="type">
              type
            </div>
            <div class="class">
              class
            </div>
          </div>
          <div class="name">
            move
          </div>
          <div class="meta-move">
              
          </div>
        </div>
        <div class="move">
          move
        </div>
        <div class="move">
          move
        </div>
        <div class="move">
          move
        </div>
      </div>
    </div>
  </div>
  <div class="stats">
    stats <br>
    evs <br>
    ivs
  </div>
</div>