
$cardWidth: 25vw;
$iconSize: 1vw;
$padding: 0.5vw;
$profileHeight: 20vh;
$statsHeight: 5vh;
$cardheight: $profileHeight;

$metaWidth: calc($cardWidth/1.5);
$moveHeight: calc($profileHeight/4);
$metaMoveHeight: $profileHeight;

.pokemon
{
  width: $cardWidth;
  min-height: $cardheight;
  background-color: var(--bg-color-3);
  color: var(--text-color);
  border-radius: 5px;

  .profile
  {
    display: grid;
    grid-template-columns: 60% 40%;
    height: $cardheight;
    .left
    {
      text-align: left;
      display: grid;
      justify-content: left;
      grid-template-columns: 60% 40%;
      padding: 0.5vw;

      .extra
      {
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        align-items: center;

        .species
        {
          display: flex;
          align-items: center;

          .dex-number
          {
            color: rgb(255, 85, 85);
            margin-right: 0.5vh;
          }
          .nickname
          {
            color: rgba(255, 255, 255, 0.7);
            text-align: center;
          }
        }

        .item
        {
          display: flex;
          align-items: center;
        }
      }

      .picture
      {
        display: grid;
        grid-template-rows: 15% 70% 15%;

        .types
        {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .vertical-divider
          {
            border: 0.5px solid grey;
            height: $iconSize;
            margin: 0 4px;
          }

          .base-types
          {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;            
          }
        }

        .sprite-background
        {
          display: flex;
          align-items: center;
          justify-content: center;

          .sprite
          {
            width: 100%;
            height: 100%S;
          }
        }

        .picture-extra
        {
          display: flex;
          justify-content: space-between;
          align-items: center;
          
        }
      }
    }

    .right
    {
      padding: 0.5vw;

      .moves
      {
        height: 100%;
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;

        .move
        {
          height: 100%;
          width: calc(100% - 1vw);
          position: relative;

          .icons
          {
            display: flex;

            .type-icon
            {

            }
          }
          .name
          {
            width: 100%;
          }

          .move-footer
          {
            position: absolute;
            width: 100%;
            height: 20%;
            bottom: 0;
            left: 0;
            //background-color: $fire;
          }
        }
      }
    }
  }

  .stats
  {

  }
}

.icon
{
  width: $iconSize;
  height: $iconSize;
}



.meta-selected
{
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--bg-color-2);
}

.meta-wrapper
{
  position: relative; 
  width: 0; 
  height: 0;

  .meta
  {
    visibility: visible;
    height: 20vh;
    width: $metaWidth;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--bg-color-2);
    padding: 0.2vw;
    outline: gold 0.4vw double;
    //box-shadow: 0 0 0 3px #000, 0 0 0 6px gold, 0 0 0 9px #000;
  }

  .meta-left
  {
    position: relative;
    right: calc($metaWidth + $padding *2);
    bottom: 2vw;
    visibility: hidden;
  }

  .meta-right
  {
    visibility: hidden;
    position: relative;
    left: calc($padding + 0.5vw);
    bottom: calc($metaMoveHeight/4 - $padding*1.5);
    height: $metaMoveHeight;

    .meta-move-top
    {
      display: flex;
      overflow: hidden;
      justify-content: space-between;
    }

    .meta-move-body
    {
      text-align: center;
    }

    .meta-move-bottom
    {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      .atribute
      {
        padding: 0 0.2vw 0 0.2vw;
      }

      .primary
      {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }

    .meta-move-highlight
    {
      color: gold;
      font-weight: bold;
    }
  }

  .meta-visible
  {
    visibility: visible !important;
  }
  }

.section
{
  height: 100%;
  //width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  //padding: 0 0.5vw 0 0.5vw;


  &:hover .meta
  {
    //visibility: visible;
  }

}

.stats-wrapper
{
  //height: $cardheight/2;
  background-color: var(--bg-color-2);
  width: 100%;
  border-radius: 0 0 5px 5px;

  .stats
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.2vw;

    .stat
    {
      height: inherit;
      display: grid;
      align-items: center;
      grid-template-columns: 10% 90%;

      &:hover
      {
        background-color: lightgrey;
      }

      .values
      {
        height: 1.5vh;
        display: flex;


        .bar
        {
          cursor: pointer;
          color: white;
          transition: visibility 1s ease;

          &:hover .value
          {
            visibility: visible;
          }

          &:hover
          {
            filter:brightness(0.7);
          }
        }

        .base
        {
          //border-radius: 15px 0 0 15px;
        }

        .ivs
        {
          background-color: lightblue;
        }

        .evs
        {
          background-color: gold;
          border-radius: 0 15px 15px 0;
          border-radius: none;
        }

        .total
        {
          margin-left: 0.2vw;
        }
        
        .maxed
        {
          border: 0.4vh solid black;
        }
        
        .nature
        {
          margin-left: 0.2vw;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius:50px;
          width: 0.8vw;
          height: 0.8vw;
          
          &:hover
          {
            background-color: var(--bg-color-4);
          }

          .icon
          {
            width: 0.5vw;
            height: 0.5vw;
          }

          .neutral
          {
            height: 30%;
            width: 80%;
            border-radius: 30px;
            background-color: grey;
            
          }
        }
      }

      .value
      {
        visibility: hidden;
      }
    }
  }
}

.options
{
  display: flex;
  justify-content: space-around;
  width: 80%;

  .option
  {
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    .icon
    {
      width: 1vw;
      height: 1vw;
    }
  }
  
  .active
  {
    background-color: var(--bg-color-4);
  }
}

.notes
{
  background-color: var(--bg-color-2);
  height: $cardheight;
}



.empty
{
  width: $iconSize;
  height: $iconSize;
  cursor: auto !important;
}


