<div class="font-m flex justify-c-c align-i-c w-100 h-100v">
  <div class="flex justify-c-c align-i-c gap-m" [ngClass]="{'flex-col': window.isMobile()}">
    @if (window.isMobile()) {
      <img src="assets/img/notfound.webp" alt="">
    }
    <div class="flex-col align-i-c gap-m">
      @if (resourceName()) {
        {{'shared.user_not_found' | translate:{resourceName: resourceName()} }}
      } @else {
        {{'shared.page_not_found' | translate}}
      }
      <button class="button-primary w-fit pad-0">
        <a class="pad-m button-link" [routerLink]="['']" style="color: var(--white)">{{'shared.go_home-button' | translate}}</a>
      </button>
    </div>
    @if (!window.isMobile()) {
      <img src="assets/img/notfound.webp" alt="">
    }
  </div>
</div>