<ng-container *ngIf="loading; else loaded">
  <div class="spinner-wrapper">
    <div class="pokemon-spinner"></div>
  </div>
</ng-container>
<ng-template #loaded>
  <ng-container *ngIf="team; else noteam">
    <div class="team-view">
      <app-team [team]="team"></app-team>
      <div class="buttons">
        <button 
        class="button-primary"
        (click)="copyPaste()"
        >{{"team.view.copy_paste-button" | translate}}</button>
        <button
        class="button-tertiary"
        (click)="copyLink()"
        >{{"team.view.copy_link-button" | translate}}</button>
      </div> 
    </div>
  </ng-container>
  <ng-template #noteam>
    <app-not-found></app-not-found>
  </ng-template>
</ng-template>