<ng-container *ngIf="loading; else loaded">
  <div class="spinner-wrapper">
    <div class="pokemon-spinner"></div>
  </div>
</ng-container>
<ng-template #loaded>
  <ng-container *ngIf="team; else noteam">
    <div class="m-auto flex-col justify-c-c align-i-c" [ngStyle]="{'margin-top': window.isMobile() ? '0.4em' : '7em'}">
      <app-team [team]="team"></app-team>
      <div class="buttons flex justify-c-c gap-s w-100">
        <button 
        class="button-primary relative"
        (click)="copyPaste()"
        >
          {{"team.view.copy_paste-button" | translate}}
          <app-tooltip
          [text]="'shared.copySuccess' | translate"
          [side]="'top'"
          [visible]="pasteCopied"
          [instant]="!window.isMobile()"
          ></app-tooltip>
        </button>
        <ng-container *ngIf="loggedUser?.username && team.player?.username === loggedUser?.username">
          <button
          class="button relative"
          (click)="editTeam()"
          [routerLink]="['/edit/', teamKey]"
          >
            Edit Team
          </button>
        </ng-container>
        <button
        class="button relative"
        (click)="copyLink()"
        >
          {{"team.view.copy_link-button" | translate}}
          <app-tooltip
          [text]="'shared.copySuccess' | translate"
          [side]="'top'"
          [visible]="linkCopied"
          [instant]="!window.isMobile()"
          ></app-tooltip>
        </button>
      </div> 
    </div>
  </ng-container>
  <ng-template #noteam>
    <app-not-found></app-not-found>
  </ng-template>
</ng-template>