@use "/src/app/shared/styles/variables.scss" as *;

.team-view
{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;


}

.buttons
{
  margin: 2.5em 0 2.5em 0;
  gap: 3em;

  button
  {
    width: 6em;
  }
}

.spinner-wrapper
{
  width: 4em;
  height: 4em;
  margin: auto;
}

@media (max-width: $mobileBreakpoint) 
{
  .buttons
  {
    gap: 3em;
  }
}
