<div 
class="team-table flex-col align-i-c w-80" 
#results
[ngClass]="{searched: searched}"
>
  <div class="bar w-100 pad-m flex justify-c-sb">
    <div class="flex justify-c-c gap-m">
      <ng-container *ngFor="let item of sortTypeIds; index as i">
        <div class="flex pad-0 gap-s bor-1-3 bor-rad-10 pointer no-select" (click)="changeSorter(i)">
          <div class="sorter-text">
            {{'search.team_table.sort_' + item | translate}}
          </div>
          <div class="way flex justify-c-s relative w-100">
            <ng-container *ngIf="sortOrder.type != i">
              <div class="col">
                <svg class="icon absolute up-arrow" version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="var(--text-color)" stroke="none"> <path d="M1658 2652 c-475 -488 -880 -906 -900 -930 -43 -48 -47 -77 -17 -116 l20 -26 1799 0 1799 0 20 26 c30 39 26 67 -18 118 -22 25 -427 444 -901 931 -848 871 -862 885 -900 885 -38 0 -52 -14 -902 -888z"/> </g> </svg>
                <svg class="icon absolute down-arrow" version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="var(--text-color)" stroke="none"> <path d="M783 3543 c-29 -6 -63 -49 -63 -79 0 -15 20 -46 52 -81 29 -32 434 -451 901 -930 834 -858 849 -873 887 -873 38 0 53 15 887 873 467 479 872 898 901 930 59 65 64 91 28 134 l-24 28 -1774 1 c-975 1 -1783 -1 -1795 -3z"/> </g> </svg> 
              </div>
            </ng-container>
            <ng-container *ngIf="sortOrder.type == i && sortOrder.way === 1">
              <div class="col">
                <svg class="icon absolute up-arrow" version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="var(--text-color)" stroke="none"> <path d="M1658 2652 c-475 -488 -880 -906 -900 -930 -43 -48 -47 -77 -17 -116 l20 -26 1799 0 1799 0 20 26 c30 39 26 67 -18 118 -22 25 -427 444 -901 931 -848 871 -862 885 -900 885 -38 0 -52 -14 -902 -888z"/> </g> </svg>
                <svg class="icon absolute down-arrow" version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="var(--text-color)" stroke="none"> <path d="M783 3543 c-29 -6 -63 -49 -63 -79 0 -15 20 -46 52 -81 29 -32 434 -451 901 -930 834 -858 849 -873 887 -873 38 0 53 15 887 873 467 479 872 898 901 930 59 65 64 91 28 134 l-24 28 -1774 1 c-975 1 -1783 -1 -1795 -3z m3335 -164 c-4 -12 -1550 -1607 -1558 -1607 -8 0 -1554 1595 -1558 1607 -3 8 448 11 1558 11 1095 0 1561 -3 1558 -11z"/> </g> </svg>
              </div>
            </ng-container>
            <ng-container *ngIf="sortOrder.type == i && sortOrder.way === 0">
              <div class="col">
                <svg class="icon absolute up-arrow" version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="var(--text-color)" stroke="none"> <path d="M1658 2652 c-475 -488 -880 -906 -900 -930 -43 -48 -47 -77 -17 -116 l20 -26 1799 0 1799 0 20 26 c30 39 26 67 -18 118 -22 25 -427 444 -901 931 -848 871 -862 885 -900 885 -38 0 -52 -14 -902 -888z m1686 -107 l777 -800 -780 -3 c-430 -1 -1132 -1 -1562 0 l-780 3 778 802 c428 441 780 801 784 800 3 -1 355 -362 783 -802z"/> </g> </svg>
                <svg class="icon absolute down-arrow" version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="var(--text-color)" stroke="none"> <path d="M783 3543 c-29 -6 -63 -49 -63 -79 0 -15 20 -46 52 -81 29 -32 434 -451 901 -930 834 -858 849 -873 887 -873 38 0 53 15 887 873 467 479 872 898 901 930 59 65 64 91 28 134 l-24 28 -1774 1 c-975 1 -1783 -1 -1795 -3z"/> </g> </svg> 
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="flex justify-c-c gap-m">
      <div class="flex pad-m gap-m bor-1-3 bor-rad-10 pointer">{{totalTeams ?? '?'}} {{'search.team_table.total_teams' | translate}}</div>
      <ng-container *ngIf="window.currentDevice === window.DeviceType.desktop">
        <div 
        class="flex justify-c-c pad-m gap-m bor-1-3 bor-rad-10 pointer"
        [ngClass]="{'selected': layout === 0}"
        (click)="changeLayout(0)"
        >
          <div class="column-drawing">
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
          </div>
        </div>
        <div 
        class="flex justify-c-c flex pad-m gap-m bor-1-3 bor-rad-10 pointer"
        [ngClass]="{'selected': layout === 1}"
        (click)="changeLayout(1)"
        >
          <div class="column-drawing">
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
          </div>
          <div class="column-drawing">
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
            <span class="row-drawing"></span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="relative flex-col align-i-c gap-l m-auto w-100">
    <ng-container *ngIf="searched">
      <div class="loader-wrapper">
        <div class="pokemon-spinner"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="teams && teams.length > 0">
      <div class="w-100 flex wrap align-i-c justify-c-sb gap-l" [ngClass]="
      {
        single: layout === 0,
        double: layout === 1
      }">
        <ng-container *ngFor="let team of teams">
          <div class="w-100 record">
            <app-team-preview 
            [team]="team" 
            [layout]="layout"
            [logged]="logged"
            (deleteEvent)="deleteTeam()"
            ></app-team-preview>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <div class="pagination">
      <div></div>
      <app-pagination
      [itemsPerPage]="paginationForm.controls.teamsPerPage.valid ? paginationForm.controls.teamsPerPage.value ?? 20 : 20"
      [totalItems]="totalTeams ?? 0"
      (pageChanged)="pageChange($event, results)"
      ></app-pagination>
      <ng-container *ngIf="window.currentDevice === window.DeviceType.desktop">
        <form class="flex-col align-i-c gap-s" [formGroup]="paginationForm">
          <div class="flex justify-c-c gap-s">
            <label for="">{{'search.team_table.teams_per_page' | translate}}</label>
            <input 
            type="text" 
            class="teams-per-page"
            formControlName="teamsPerPage"
            [ngClass]="{controlInvalid: isInvalid('teamsPerPage')}"
            >
          </div>
          <span *ngIf="isInvalid('teamsPerPage')" class="formFeedbackError text-center">{{getError('teamsPerPage')}}</span>
        </form>
      </ng-container>
    </div>
  </div>
</div>