

.pasteBox
{
  display: flex;
  flex-direction: column;
  gap: 2vh;

}

.input-textArea
{
  resize: none;
  background-color: var(--bg-color-1);
  color: var(--text-color);
}

.submit
{
  width: 5vw;
  height: 2vw;

  margin: auto;
}
