
.input
{
  display: flex;
  flex-direction: column;
  width: 70vw;

  .selectors
  {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    gap: 1vw;

    .selector
    {
      cursor: pointer;
      padding: 0.4vw;
      border-radius: 10px;
    }
  }
}

.pasteBox
{
  display: flex;
  flex-direction: column;
  gap: 2vh;

}

.input-textArea
{
  resize: none;
  background-color: var(--bg-color-1);
  color: var(--text-color);
}

.submit
{
  width: 5vw;
  height: 2vw;

  margin: auto;
}
