

<div class="multi-search">
  <div class="top-row section">
    <div 
    class="selector pad-s"
    (click)="showCategories()"
    >
      {{selectedCategory}}
    </div>
    <form [formGroup]="searchForm" class="search">
      <input 
      type="text" 
      placeholder="Search..." 
      formControlName="key"
      class="input"
      >
    </form>
  </div>
  <div>
    <ng-container *ngIf="displayCategories">
      <div class="categories section pad-s">
        <ng-container *ngFor="let category of categories">
          <div 
          class="item category pad-s"
          (click)="selectCategory(category)"
          >
            {{category}}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div>
    <ng-container *ngIf="results">
      <div class="results section pad-s">
        <ng-container *ngFor="let result of results">
          <div 
          class="item result pad-s"
          (click)="selectResult(result)"
          >
            {{result.userName}}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

