<div class="radio">
  <ng-container *ngFor="let option of options; index as i">
    <div class="option tooltip-wrapper" (click)="select(i)" 
    [ngClass]="{'selected-background': selectedIndex == i && !(optionIcons[i] || optionSVGs[i]),
    'selected-border': selectedIndex == i && (optionIcons[i] || optionSVGs[i])}"
    >
      <ng-container *ngIf="optionIcons[i]">
        <img src="{{optionIcons[i]}}" alt="{{optionNames[i]}}" class="big-icon">
      </ng-container>
      <ng-container *ngIf="optionSVGs[i]" [ngTemplateOutlet]="optionSVGs[i]"></ng-container>
      <ng-container *ngIf="!optionIcons[i] && !optionSVGs[i]">
        {{optionNames[i]}}
      </ng-container>
      <ng-container *ngIf="tooltipTexts && tooltipTexts[i]">
        <app-tooltip
        [text]="tooltipTexts[i]"
        [side]="'top'"
        ></app-tooltip>
      </ng-container>
    </div>
  </ng-container>
</div>
