
<div class="radio">
  <ng-container *ngFor="let option of options; index as i">
    <div class="option" (click)="select(i)" 
    [ngClass]="{selected: selectedIndex == i && !optionIcons[i],
    'checked-border': selectedIndex == i && optionIcons[i]}"
    >
      <ng-container *ngIf="optionIcons[i]">
        <img src="{{optionIcons[i]}}" alt="{{optionNames[i]}}" class="icon">
      </ng-container>
      <ng-container *ngIf="!optionIcons[i]">
        {{optionNames[i]}}
      </ng-container>
    </div>
  </ng-container>
</div>