.types
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;


  .category
  { 
    display: grid;
    grid-template-columns: 65% 35%;
    width: 100%;

    .text
    {
      display: flex;
      justify-content: end;
    }

    .icons
    {
      display: flex;
      justify-content: start;
    }
  }
}