<div class="types">
  <ng-container *ngIf="pokemon.types?.dualEffectiveness ?? false; else monotypeMeta">
    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.doubleSuperEffective?.length ?? false">
      <div class="category">
        <div class="text">
          Double Super Effective <span class="title"> (x4)</span>:
        </div>
        <div class="icons">
          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.doubleSuperEffective">
            <img src="{{type.iconPath}}" alt="" class="icon">
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.superEffective?.length ?? false">
      <div class="category">
        <div class="text">
          Super Effective <span class="title"> (x2)</span>: 
        </div>
        <div class="icons">
          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.superEffective">
            <img src="{{type.iconPath}}" alt="" class="icon">
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.notVeryEffective?.length ?? false">
      <div class="category">
        <div class="text">
          Not Very Effective <span class="title"> (x0.5)</span>:
        </div>
        <div class="icons">
          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.notVeryEffective">
            <img src="{{type.iconPath}}" alt="" class="icon">
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.doubleNotVeryEffective?.length ?? false">
      <div class="category">
        <div class="text">
          Double Not Very Effective <span class="title"> (x0.25)</span>:
        </div>
        <div class="icons">
          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.doubleNotVeryEffective">
            <img src="{{type.iconPath}}" alt="" class="icon">
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.inmune?.length ?? false">
      <div class="category">
        <div class="text">
          Inmune <span class="title"> (x0)</span>:
        </div>
        <div class="icons">
          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.inmune">
            <img src="{{type.iconPath}}" alt="" class="icon">
          </ng-container>
        </div>
      </div>
    </ng-container>

  <!--
  <div class="types">
    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.doubleSuperEffective?.length ?? false">
      <div class="category">
        <div class="text">
          Double Super Effective <span class="title"> (x4)</span>:
        </div>
        <div class="icons">
          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.doubleSuperEffective">
            <img src="{{type.iconPath}}" alt="" class="icon">
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.superEffective?.length ?? false">
      <div class="category">
        <div class="text">
          Super Effective <span class="title"> (x2)</span>: 
        </div>
        <div class="icons">
          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.superEffective">
            <img src="{{type.iconPath}}" alt="" class="icon">
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.notVeryEffective?.length ?? false">
      <div class="category">
        <div class="text">
          Not Very Effective <span class="title"> (x0.5)</span>:
        </div>
        <div class="icons">
          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.notVeryEffective">
            <img src="{{type.iconPath}}" alt="" class="icon">
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.doubleNotVeryEffective?.length ?? false">
      <div class="category">
        <div class="text">
          Double Not Very Effective <span class="title"> (x0.25)</span>:
        </div>
        <div class="icons">
          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.doubleNotVeryEffective">
            <img src="{{type.iconPath}}" alt="" class="icon">
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="pokemon.types?.dualEffectiveness?.inmune?.length ?? false">
      <div class="category">
        <div class="text">
          Inmune <span class="title"> (x0)</span>:
        </div>
        <div class="icons">
          <ng-container *ngFor="let type of pokemon.types?.dualEffectiveness?.inmune">
            <img src="{{type.iconPath}}" alt="" class="icon">
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  -->
  </ng-container>

  <ng-template #monotypeMeta>
    <ng-container *ngIf="pokemon.types?.type1?.effectivenessDefense?.superEffective?.length ?? false">
      Super Effective: 
      <ng-container *ngFor="let type of pokemon.types?.type1?.effectivenessDefense?.superEffective">
        <img src="{{type.iconPath}}" alt="" class="icon">
      </ng-container>
    </ng-container>
    <ng-container *ngIf="pokemon.types?.type1?.effectivenessDefense?.notVeryEffective?.length ?? false">
      Not Very Effective: 
      <ng-container *ngFor="let type of pokemon.types?.type1?.effectivenessDefense?.notVeryEffective">
        <img src="{{type.iconPath}}" alt="" class="icon">
      </ng-container>
    </ng-container>
    <ng-container *ngIf="pokemon.types?.type1?.effectivenessDefense?.inmune?.length ?? false">
      Inmune: 
      <ng-container *ngFor="let type of pokemon.types?.type1?.effectivenessDefense?.inmune">
        <img src="{{type.iconPath}}" alt="" class="icon">
      </ng-container>
    </ng-container>
  </ng-template>
</div>