@use "/src/app/core/styles/variables.scss" as *;

.editor-input
{
  width: 12em;
}

.tag-editor-wrapper
{
  position: relative;
}

.color-picker-wrapper
{
  position: relative;
}

.anon-warning
{
  position: absolute;
  left: -1.5em;
  bottom: 0.55em;
  margin-right: 0.2em;
}

@media (max-width: $mobile) 
{
  .editor-input
  {
    width: 9em;
  }
}