
<div class="user">
  <div class="profile">
    <div class="picture">
      <img src="{{user?.picture}}" alt="" class="picture">
    </div>
    <div class="names">
      <div class="name">
        {{user?.name}}
      </div>
      <div class="username">
        <a href=""> @{{user?.username}}</a>
      </div>
    </div>
    
  </div>
  <hr>
  <div class="sections">
    <div class="section" (click)="changeSection(0)" [ngClass]="{selected: sections[0]}">
      TEAMS
    </div>
    <div class="section" (click)="changeSection(1)" [ngClass]="{selected: sections[1]}">
      USER DETAILS
    </div>
    <ng-container *ngIf="logged">
      <div class="section" (click)="changeSection(2)" [ngClass]="{selected: sections[2]}">
        OPTIONS
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="sections[0]">
    <app-user-teams [teams]="user?.teams"></app-user-teams>
  </ng-container>
  <ng-container *ngIf="sections[1]">
    <app-user-details></app-user-details>
  </ng-container>
  <ng-container *ngIf="logged">
    <ng-container *ngIf="sections[2]">
      <app-user-options></app-user-options>
    </ng-container>
  </ng-container>
</div>