

.user
{
  margin: auto;
  width: 80%;

  .profile
  {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2vh;
    gap: 0.4vw;

    .picture
    {
      width: 4vw;
      height: 4vw;
      margin-right: 1vw;
      border-radius: 5px;
    }
  
    .names
    {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }

    .flag
    {
      width: 2vw;
      height: 2vw;
    }
  }

  .sections
  {
    display: flex;
    justify-content: center;
    height: 2em;


    .section
    {
      width: 8vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: lightgrey;


      &:hover
      {
        border-bottom: grey 2px solid;
      }
    }

    .selected
    {
      border-bottom: grey 2px solid;
    }
  }

  .private
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 20vh;
    background-color: lightgrey;
    font-size: x-large;
  }
}