.chip
{
  height: 1.2em;
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 0.2em;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  background-color: var(--bg-color-3);
  width: fit-content;
  white-space: nowrap;
}

.remove
{

  &:hover
  {
    opacity: 0.6;
  }
}