<div class="team">
  <div class="top">
    <div class="info">
      <div class="autor">
        Author: {{team?.player}}
      </div>
      <div class="tournament">
        Tournament: 
      </div>
      <div class="tournament">
        Views: {{team?.viewCount}} 
      </div>
    </div>
    <div class="tags">
      <ng-container *ngFor="let tag of team?.tags">
        <app-tag [tag]="tag"></app-tag>
      </ng-container>
    </div>
    <div class="options">
      <div 
      class="option"
      (click)="clickOptions(0)"
      [ngClass]="{active: showAllStats}"
      >
        <img src="assets/align-left.png" alt="" class="icon">
      </div>
      <div 
      class="option" 
      (click)="clickOptions(1)"
      [ngClass]="{active: showAllNotes}"
      >
        <img src="assets/edit.png" alt="" class="icon">
      </div>
      <div 
      class="option" 
      (click)="clickOptions(2)"
      >
        <img src="assets/copy.png" alt="" class="icon">
      </div>
    </div>
  </div>
  <div class="pokemons">
    <div class="col">
      <ng-container *ngFor="let pokemon of team?.pokemons; index as i">
        <ng-container *ngIf="i % 2 === 0">
          <app-pokemon [pokemon]="pokemon" [editorOptions]="team?.options"></app-pokemon>
        </ng-container>
      </ng-container>
    </div>
    <div class="col">
      <ng-container *ngFor="let pokemon of team?.pokemons; index as i">
        <ng-container *ngIf="i % 2 !== 0">
          <app-pokemon [pokemon]="pokemon" [editorOptions]="team?.options"></app-pokemon>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>