.team
{

  
  .top
  {
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 1vh;

    .options
    {
      display: flex;
      justify-content: space-around;

      .option
      {
        cursor: pointer;


        .icon
        {
          width: 1.5vw;
          height: 1.5vw;
        }
      }

      .active
      {
        background-color: var(--bg-color-3);
      }
    }
  }

  .pokemons
  {
    display: flex;
    column-gap: 2vh;
    justify-content: center;
    justify-items: center;

    .col
    {
      display: flex;
      flex-direction: column;
      row-gap: 2vh;
    }
  }
}


