<div class="team">
  <div class="top">
    <div class="row-between w-100">
      <div class="row s-gap">
        <ng-container *ngIf="team?.player">
          <div class="detail">
            <div class="row">
              <img src="{{team?.player?.picture}}" alt="" class="icon">
              &#64;{{team?.player?.username}}
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="team?.tournament">
          <div class="detail tournament">
            <ng-container *ngIf="team?.tournament?.official">
              <img src="assets/regionals.png" alt="" class="icon">
            </ng-container>
            {{team?.tournament?.name}}
          </div>
        </ng-container>
        <ng-container *ngIf="team?.regulation">
          <div class="detail regulation">
            {{team?.regulation?.identifier}}
          </div>
        </ng-container>
      </div>
      <div class="row-end s-gap">
        <ng-container *ngIf="team?.viewCount">
          <div class="detail">
            {{team?.viewCount}}
          </div>
        </ng-container>
        <ng-container *ngIf="team?.date">
          <div class="detail">
            {{util.customFormatDate(team?.date!)}} 
          </div>
        </ng-container>
        <div class="options">
          <div 
          class="option"
          (click)="clickOptions(0)"
          [ngClass]="{active: showAllStats}"
          >
            <img src="assets/align-left.png" alt="" class="icon">
          </div>
          <div 
          class="option" 
          (click)="clickOptions(1)"
          [ngClass]="{active: showAllNotes}"
          >
            <img src="assets/edit.png" alt="" class="icon">
          </div>
        </div>
      </div>
    </div>
    <div class="tags">
      <app-result-storage [results]="team?.tags"></app-result-storage>
    </div>
  </div>
  <div class="pokemons">
    <div class="col">
      <ng-container *ngFor="let pokemon of team?.pokemons; index as i">
        <ng-container *ngIf="i % 2 === 0">
          <app-pokemon [pokemon]="pokemon" [teamOptions]="team?.options"></app-pokemon>
        </ng-container>
      </ng-container>
    </div>
    <div class="col">
      <ng-container *ngFor="let pokemon of team?.pokemons; index as i">
        <ng-container *ngIf="i % 2 !== 0">
          <app-pokemon [pokemon]="pokemon" [teamOptions]="team?.options"></app-pokemon>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>