.team
{

  
  .top
  {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin-bottom: 1vh;
    align-items: center;

    .info
    {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 0.2vw;

      .autor
      {
        justify-self: start;
      }

      .piece
      {
        display: flex;
        padding: 0.2vw;
        border-radius: 15px;
        max-width: 15vw;
        overflow: hidden;
        max-height: 1em;
      }

      .tournament
      {
        background-color: var(--bg-color-3);
      }
    }

    .options
    {
      display: flex;
      justify-content: space-around;

      .option
      {
        cursor: pointer;

      }

      .active
      {
        background-color: var(--bg-color-3);
      }
    }

    .tags
    {
      display: flex;
      gap: 0.4vw;
    }
  }

  .pokemons
  {
    display: flex;
    column-gap: 2vh;
    justify-content: center;
    justify-items: center;

    .col
    {
      display: flex;
      flex-direction: column;
      row-gap: 2vh;
    }
  }
}

.icon
{
  width: 1.5vw;
  height: 1.5vw;
}