<div class="team">
  <div class="top">
    <div class="autor">
      <ng-container *ngIf="team?.player">
        &#64;{{team?.player}}
      </ng-container>
    </div>
    <div class="info">
      <div class="row-center">
        <ng-container *ngIf="team?.tournament">
          <div class="piece tournament">
            <ng-container *ngIf="team?.tournament?.official">
              <img src="assets/regionals.png" alt="" class="icon">
            </ng-container>
            {{team?.tournament?.name}}
          </div>
        </ng-container>
        <ng-container *ngIf="team?.regulation">
          <div class="piece tournament">
            {{team?.regulation?.name}}
          </div>
        </ng-container>
        <ng-container *ngIf="team?.viewCount">
          <div class="piece tournament">
            {{team?.viewCount}} visits
          </div>
        </ng-container>
        <ng-container *ngIf="team?.date">
          <div class="piece tournament">
            {{util.customFormatDate(team?.date!)}} 
          </div>
        </ng-container>
      </div>
      <div class="tags">
        <app-result-storage [results]="team?.tags"></app-result-storage>
      </div>
    </div>
    <div class="options">
      <div 
      class="option"
      (click)="clickOptions(0)"
      [ngClass]="{active: showAllStats}"
      >
        <img src="assets/align-left.png" alt="" class="icon">
      </div>
      <div 
      class="option" 
      (click)="clickOptions(1)"
      [ngClass]="{active: showAllNotes}"
      >
        <img src="assets/edit.png" alt="" class="icon">
      </div>
      <div 
      class="option" 
      (click)="clickOptions(2)"
      >
        <img src="assets/copy.png" alt="" class="icon">
      </div>
    </div>
  </div>
  <div class="pokemons">
    <div class="col">
      <ng-container *ngFor="let pokemon of team?.pokemons; index as i">
        <ng-container *ngIf="i % 2 === 0">
          <app-pokemon [pokemon]="pokemon" [teamOptions]="team?.options"></app-pokemon>
        </ng-container>
      </ng-container>
    </div>
    <div class="col">
      <ng-container *ngFor="let pokemon of team?.pokemons; index as i">
        <ng-container *ngIf="i % 2 !== 0">
          <app-pokemon [pokemon]="pokemon" [teamOptions]="team?.options"></app-pokemon>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>