<div class="pokemon-editor">
  <div class="selectors">
    <ng-container *ngFor="let pokemon of team.pokemons; index as i">
      <div 
      class="selector"
      [ngClass]="{selected: selectedPokemonIndex == i}"
      (click)="selectPokemon(i)"
      >
        {{i + 1}}
      </div>
    </ng-container>
    <ng-container *ngIf="team.pokemons && team.pokemons!.length < 6">
      <div class="selector" (click)="addEmptyPokemon()">
        +
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="pokemon">
    <div class="editor">
      <form class="form" [formGroup]="pokemonForm">
          <div class="form-item">
            <app-smart-input
            #pokemonInput 
            [value]="util.getPokemonTag(pokemon)"
            [label]="'Pokemon '"
            [keepSelected]="true"
            [getter]="queryService.queryPokemonCallback"
            (selectEvent)="pokemonSelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="pokemon.item"
            [label]="'Item '"
            [keepSelected]="true"
            [getter]="queryService.queryItemCallback"
            (selectEvent)="itemSelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <div class="col-center w-100">
              <div class="smart-input-wrapper">
                <div class="smart-input-top">
                  <div class="smart-input-label">
                    Ability
                  </div>
                  <div class="checkbox-wrapper">
                    <app-checkbox
                    [checked]="allAbilities"
                    [label]="'Show all'"
                    (checkEvent)="allAbilitiesSwitch()"
                    ></app-checkbox>
                  </div>
                </div>
                <ng-container *ngIf="allAbilities; else notAllAbilities">
                  <app-smart-input
                  [value]="util.getAbilityTag(pokemon.ability)"
                  [keepSelected]="true"
                  [getter]="queryService.queryAbilityCallback"
                  [allGetter]="queryService.abilityAllCallback"
                  (selectEvent)="abilitySelectEvent($event)"
                  class="smart-input-wrapper"
                  ></app-smart-input>
                </ng-container>
                <ng-template #notAllAbilities>
                  <app-smart-input
                  [value]="util.getAbilityTag(pokemon.ability)"
                  [keepSelected]="true"
                  [allGetter]="queryService.pokemonAbilitiesCallback"
                  [allGetterIndex]="this.pokemon?.dexNumber"
                  [disabled]="!this.pokemon?.dexNumber"
                  (selectEvent)="abilitySelectEvent($event)"
                  class="smart-input-wrapper"
                  ></app-smart-input>
                </ng-template>
              </div>
              <ng-container *ngIf="!pokemon.name && !allAbilities">
                <div class="formFeedbackError row-center">
                  Select a pokemon or show all
                </div>
              </ng-container>
            </div>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="util.getMoveTag(pokemon.moves ? pokemon.moves[0] : undefined)"
            [label]="'Move 1 '"
            [keepSelected]="true"
            [getter]="queryService.queryMoveCallback"
            (selectEvent)="move1SelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="util.getMoveTag(pokemon.moves ? pokemon.moves[1] : undefined)"
            [label]="'Move 2 '"
            [keepSelected]="true"
            [getter]="queryService.queryMoveCallback"
            (selectEvent)="move2SelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="util.getNatureTag(pokemon.nature)"
            [label]="'Nature '"
            [keepSelected]="true"
            [getter]="queryService.queryNatureCallback"
            [allGetter]="queryService.naturesAllCallback"
            (selectEvent)="natureSelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="util.getMoveTag(pokemon.moves ? pokemon.moves[2] : undefined)"
            [label]="'Move 3 '"
            [keepSelected]="true"
            [getter]="queryService.queryMoveCallback"
            (selectEvent)="move3SelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="util.getMoveTag(pokemon.moves ? pokemon.moves[3] : undefined)"
            [label]="'Move 4 '"
            [keepSelected]="true"
            [getter]="queryService.queryMoveCallback"
            (selectEvent)="move4SelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="util.getTypeTag(pokemon.teraType)"
            [label]="'Teratype '"
            [keepSelected]="true"
            [getter]="queryService.queryTeratypeCallback"
            [allGetter]="queryService.teraTypesAllCallback"
            (selectEvent)="teraTypeSelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item form-item-col">
            <div class="col">
              <div class="row-center s-gap">
                <label for="">Nickname</label>
                <input type="text" class="nickname" formControlName="nickname"
                [ngClass]="{controlInvalid: isInvalid('nickname')}"
                value="pokemon.nickname ?? 'error'"
                >
              </div>
              <span *ngIf="isInvalid('nickname')" class="formFeedbackError text-center">{{getError('nickname')}}</span>
            </div>
            <div class="row-center s-gap">
              <div class="col">
                <div class="row-center s-gap">
                  <label for="">Level</label>
                  <input 
                  type="text" 
                  class="level" 
                  formControlName="level" 
                  value="pokemon.level ?? 0"
                  [ngClass]="{controlInvalid: isInvalid('level')}"
                  >
                </div>
                <span *ngIf="isInvalid('level')" class="formFeedbackError text-center">{{getError('level')}}</span>
              </div>
            </div>
            <div class="row s-gap">
              <app-radio
              [options]="[false, true]"
              [optionNames]="['Male', 'Female']"
              [optionIcons]="['assets/male.png', 'assets/female.png']"
              [selectedIndex]="0"
              (selectEvent)="genderSelectEvent($event)"
              ></app-radio>
              <app-checkbox
              [checked]="pokemon.shiny ?? false"
              [label]="'shiny'"
              [icon]="'assets/shiny.png'"
              (checkEvent)="shinySelectEvent($event)"
              ></app-checkbox>
            </div>
          </div>
          <div class="form-item form-item-col stat-col">
            <div class="stat-selector" [ngClass]="{notAllowed: !pokemon.name}">
              <ng-container *ngFor="let stat of pokemon.ivs; index as i">
                <div class="stat-box" (click)="selectStat(i)"
                [ngClass]="{selectedStat: selectedStat === i, disabled: !pokemon.name}"
                >
                  {{stat.name}}
                </div>
              </ng-container>
            </div>
            <ng-container *ngIf="!pokemon.name">
              <div class="formFeedbackError row-center">
                Select a pokemon
              </div>
            </ng-container>
            <div class="range">
              <label for="" class="text-center">IV</label>
              <div class="range-slider">
                <input type="range" min="0" max="31" 
                value="{{this.pokemon.ivs ? this.pokemon.ivs[selectedStat].value : ''}}" 
                class="slider" id="myRange" formControlName="ivs" [ngStyle]="{background: ivSliders[this.selectedStat]}">
              </div>
              <input class="level" formControlName="ivs"
              value="{{this.pokemon.ivs ? this.pokemon.ivs[selectedStat].value : ''}}">
            </div>
            <div class="range">
              <label for="" class="text-center">EV</label>
              <div class="range-slider">
                <input type="range" min="0" max="{{currentMaxEVs}}" 
                value="{{this.pokemon.evs ? this.pokemon.evs[selectedStat].value : ''}}" 
                class="slider" id="myRange" formControlName="evs" [ngStyle]="{background: evSliders[this.selectedStat]}">
              </div>
              <input class="level" 
              value="{{this.pokemon.evs ? this.pokemon.evs[selectedStat].value : ''}}"
              formControlName="evs">
            </div>
            <div class="row-center">
              Remaining EVs: {{remainingEVs}}
            </div>
          </div>
      </form>
      <div class="preview">
        <div class="delete">
          <button (click)="deletePokemon()">X</button>
        </div>
        <app-pokemon
        [pokemon]="pokemon" 
        [teamOptions]="team?.options" 
        [showStatsStart]="true"
        [editorPreview] = "true"
        (triggerNotesEvent)="triggerNotes($event)"
        ></app-pokemon>
        <ng-container *ngIf="showNotes">
          <form [formGroup]="pokemonForm" class="notes-editor">
            <textarea
            class="custom-scrollbar-dark" 
            rows="5" 
            formControlName="notes"
            spellcheck="false"
            value="pokemon.notes ?? ''"
            [ngClass]="{controlInvalid: isInvalid('notes')}"
            ></textarea>
            <span *ngIf="isInvalid('notes')" class="formFeedbackError text-center">{{getError('notes')}}</span>
          </form>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
