<div class="gap-l flex-col justify-i-c relative">
  <div class="flex justify-c-c gap-m">
    <ng-container *ngFor="let pokemon of team.pokemons; index as i">
      <div 
      class="selector flex justify-c-c align-i-c bor-rad-20 bor-1-3 pointer no-select"
      [ngClass]="{selected: selectedPokemonIndex == i}"
      (click)="selectPokemon(i)"
      >
      <ng-container *ngIf="pokemon?.dexNumber && pokemon?.dexNumber !== -1; else index">
        <img class="icon-l" src="{{pokemon?.sprite?.base}}" alt="">
      </ng-container>
      <ng-template #index>{{i + 1}}</ng-template>
      </div>
    </ng-container>
    <ng-container *ngIf="team.pokemons && team.pokemons!.length < 6">
      <div class="selector flex justify-c-c align-i-c bor-rad-20 bor-1-3 pointer no-select" (click)="addEmptyPokemon()">
        +
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="pokemon">
    <div class="flex align-i-c gap-l" [ngClass]="{'flex-col': window.isMobile()}">
      <form class="gap-l form" [formGroup]="pokemonForm" 
      [ngClass]="
      {
        'gap-m': window.currentDevice === window.DeviceType.smallMobile,
        'gap-l': window.currentDevice !== window.DeviceType.smallMobile
      }">
        <app-smart-input
        #pokemonInput 
        [value]="util.getPokemonQueryResult(pokemon)"
        [label]="'team.pokemon_editor.pokemon' | translate"
        [keepSelected]="true"
        [getter]="queryService.queryPokemonCallback"
        (selectEvent)="pokemonSelectEvent($event)"
        class="smart-input-wrapper form-item"
        ></app-smart-input>
        <app-smart-input
        [value]="util.getItemQueryResult(pokemon.item)"
        [label]="'team.pokemon_editor.item' | translate"
        [keepSelected]="true"
        [getter]="queryService.queryItemCallback"
        (selectEvent)="itemSelectEvent($event)"
        class="smart-input-wrapper form-item"
        ></app-smart-input>
        <div class="flex-col justify-c-e align-i-c w-100 relative">
          <div class="smart-input-wrapper">
            <div class="smart-input-top">
              <div class="smart-input-label">
                {{'team.pokemon_editor.ability' | translate}}
              </div>
              <div class="font-s">
                <app-checkbox
                [checked]="allAbilities"
                [label]="'team.pokemon_editor.show_all' | translate"
                (checkEvent)="allAbilitiesSwitch()"
                ></app-checkbox>
              </div>
            </div>
            <ng-container *ngIf="allAbilities; else pokemonAbilities">
              <app-smart-input
              [value]="util.getAbilityQueryResult(pokemon.ability)"
              [keepSelected]="true"
              [getter]="queryService.queryAbilityCallback"
              [allGetter]="queryService.abilityAllCallback"
              (selectEvent)="abilitySelectEvent($event)"
              class="smart-input-wrapper form-item"
              ></app-smart-input>
            </ng-container>
            <ng-template #pokemonAbilities>
              <app-smart-input
              [value]="util.getAbilityQueryResult(pokemon.ability)"
              [keepSelected]="true"
              [allGetter]="queryService.pokemonAbilitiesCallback"
              [allGetterIndex]="this.pokemon?.dexNumber"
              (selectEvent)="abilitySelectEvent($event)"
              class="smart-input-wrapper form-item"
              ></app-smart-input>
            </ng-template>
          </div>
        </div>
        <app-smart-input
        [value]="util.getMoveQueryResult(pokemon.moves ? pokemon.moves[0] : undefined)"
        [label]="'team.pokemon_editor.move' | translate:{'index':1}"
        [keepSelected]="true"
        [getter]="queryService.queryMoveCallback"
        (selectEvent)="move1SelectEvent($event)"
        class="smart-input-wrapper form-item"
        ></app-smart-input>
        <app-smart-input
        [value]="util.getMoveQueryResult(pokemon.moves ? pokemon.moves[1] : undefined)"
        [label]="'team.pokemon_editor.move' | translate:{'index':2}"
        [keepSelected]="true"
        [getter]="queryService.queryMoveCallback"
        (selectEvent)="move2SelectEvent($event)"
        class="smart-input-wrapper form-item"
        ></app-smart-input>
        <app-smart-input
        [value]="util.getNatureQueryResult(pokemon.nature)"
        [label]="'team.pokemon_editor.nature' | translate"
        [keepSelected]="true"
        [getter]="queryService.queryNatureCallback"
        [allGetter]="queryService.naturesAllCallback"
        (selectEvent)="natureSelectEvent($event)"
        class="smart-input-wrapper form-item"
        ></app-smart-input>
        <app-smart-input
        [value]="util.getMoveQueryResult(pokemon.moves ? pokemon.moves[2] : undefined)"
        [label]="'team.pokemon_editor.move' | translate:{'index':3}"
        [keepSelected]="true"
        [getter]="queryService.queryMoveCallback"
        (selectEvent)="move3SelectEvent($event)"
        class="smart-input-wrapper form-item"
        ></app-smart-input>
        <app-smart-input
        [value]="util.getMoveQueryResult(pokemon.moves ? pokemon.moves[3] : undefined)"
        [label]="'team.pokemon_editor.move' | translate:{'index':4}"
        [keepSelected]="true"
        [getter]="queryService.queryMoveCallback"
        (selectEvent)="move4SelectEvent($event)"
        class="smart-input-wrapper form-item"
        ></app-smart-input>
        <app-smart-input
        [value]="util.getTypeQueryResult(pokemon.teraType)"
        [label]="'team.pokemon_editor.teratype' | translate"
        [keepSelected]="true"
        [getter]="queryService.queryTeratypeCallback"
        [allGetter]="queryService.teraTypesAllCallback"
        (selectEvent)="teraTypeSelectEvent($event)"
        class="smart-input-wrapper form-item"
        ></app-smart-input>
          <div class="flex-col align-i-c gap-m">
            <div class="flex-col">
              <div class="flex justify-c-c align-i-c gap-s" [ngClass]="{'flex-col': window.currentDevice === window.DeviceType.smallMobile}">
                <label for="">{{"team.pokemon_editor.nickname" | translate}}</label>
                <input type="text" class="nickname input-s" formControlName="nickname"
                [ngClass]="{controlInvalid: isInvalid('nickname')}"
                value="pokemon.nickname ?? 'error'"
                placeholder="Nickname..."
                >
              </div>
              <span *ngIf="isInvalid('nickname')" class="formFeedbackError text-center">{{getError('nickname')}}</span>
            </div>
            <div class="flex justify-c-c align-i-c gap-s">
              <div class="flex-col">
                <div class="flex justify-c-c align-i-c gap-s">
                  <label for="">{{"team.pokemon_editor.level" | translate}}</label>
                  <input 
                  type="text" 
                  class="level text-center" 
                  formControlName="level" 
                  value="pokemon.level ?? 0"
                  [ngClass]="{controlInvalid: isInvalid('level')}"
                  >
                </div>
                <span *ngIf="isInvalid('level')" class="formFeedbackError text-center">{{getError('level')}}</span>
              </div>
            </div>
            <div class="flex justify-c-c align-i-c gap-s" [ngClass]="{'flex-col': window.currentDevice === window.DeviceType.smallMobile}">
              <app-radio
              [options]="[false, true]"
              [optionNames]="['Male', 'Female']"
              [optionSVGs]="[maleSVG, femaleSVG]"
              [selectedIndex]="0"
              (selectEvent)="genderSelectEvent($event)"
              ></app-radio>
              <app-checkbox
              [checked]="pokemon.shiny ?? false"
              [label]="'shiny'"
              [svg]="shinySVG"
              (checkEvent)="shinySelectEvent($event)"
              ></app-checkbox>
            </div>
          </div>
          <div class="flex-col align-i-c gap-m stat-col">
            <div class="flex justify-c-c gap-m" [ngClass]="{'not-allowed': !pokemon.name}">
              <ng-container *ngFor="let stat of pokemon.ivs; index as i">
                <div class="pad-s bor-rad-5 pointer text-center no-select" (click)="selectStat(i)"
                style="color: white;"
                [ngStyle]="{backgroundColor: theme.getStatColor(util.getStatShortIdentifier(stat))}"
                [ngClass]="{selectedStat: selectedStat === i, disabled: !pokemon.name}"
                >
                  {{util.getStatCode(stat)}}
                </div>
              </ng-container>
            </div>
            <ng-container *ngIf="!pokemon.name">
              <div class="formFeedbackError row-center form-item">
                {{"team.pokemon_editor.no_pokemon_stats-error" | translate}}
              </div>
            </ng-container>
            <div class="range" [ngClass]="{'not-allowed': !pokemon.name}">
              <label for="" class="text-center">IV</label>
              <div class="range-slider">
                <input type="range" min="0" max="31" 
                value="{{this.pokemon.ivs ? this.pokemon.ivs[selectedStat].value : ''}}" 
                class="slider" id="myRange" formControlName="ivs"
                [ngClass]="{'not-allowed': !pokemon.name}" 
                [ngStyle]="{background: ivSliders[this.selectedStat]}">
              </div>
              <input 
              type="text" 
              class="level text-center"
              formControlName="ivs"
              [ngClass]="{'not-allowed': !pokemon.name}"
              value="{{this.pokemon.ivs ? this.pokemon.ivs[selectedStat].value : ''}}">
            </div>
            <div class="range" [ngClass]="{'not-allowed': !pokemon.name}">
              <label for="" class="text-center">EV</label>
              <div class="range-slider">
                <input type="range" min="0" max="{{currentMaxEVs}}" 
                value="{{this.pokemon.evs ? this.pokemon.evs[selectedStat].value : ''}}" 
                class="slider" id="myRange" formControlName="evs"
                [ngClass]="{'not-allowed': !pokemon.name}"
                [ngStyle]="{background: evSliders[this.selectedStat]}">
              </div>
              <input 
              type="text" 
              class="level text-center"  
              value="{{this.pokemon.evs ? this.pokemon.evs[selectedStat].value : ''}}"
              [ngClass]="{'not-allowed': !pokemon.name}"
              formControlName="evs">
            </div>
            <div class="text-center">
              {{"team.pokemon_editor.remaining_evs" | translate}} {{remainingEVs}}
            </div>
          </div>
      </form>
      <div class="preview w-fit flex-col justify-c-s gap-s relative">
        <div class="delete">
          <button (click)="deletePokemon()" class="icon-button">
            <svg class="icon-m" viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg">
              <path fill="var(--error)" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"/>
              <path fill="var(--white)" d="M8.96967 8.96967C9.26256 8.67678 9.73744 8.67678 10.0303 8.96967L12 10.9394L13.9697 8.96969C14.2626 8.6768 14.7374 8.6768 15.0303 8.96969C15.3232 9.26258 15.3232 9.73746 15.0303 10.0304L13.0607 12L15.0303 13.9696C15.3232 14.2625 15.3232 14.7374 15.0303 15.0303C14.7374 15.3232 14.2625 15.3232 13.9696 15.0303L12 13.0607L10.0304 15.0303C9.73746 15.3232 9.26258 15.3232 8.96969 15.0303C8.6768 14.7374 8.6768 14.2626 8.96969 13.9697L10.9394 12L8.96967 10.0303C8.67678 9.73744 8.67678 9.26256 8.96967 8.96967Z"/>
            </svg>
          </button>
        </div>
        <app-pokemon
        [pokemon]="pokemon" 
        [teamOptions]="team?.options" 
        [showStatsStart]="true"
        [editorPreview] = "true"
        (triggerNotesEvent)="triggerNotes($event)"
        ></app-pokemon>
        <ng-container *ngIf="showNotes">
          <form [formGroup]="pokemonForm" class="notes-editor">
            <textarea
            class="custom-scrollbar-dark" 
            rows="5" 
            formControlName="notes"
            spellcheck="false"
            value="pokemon.notes ?? ''"
            [ngClass]="{controlInvalid: isInvalid('notes')}"
            ></textarea>
            <span *ngIf="isInvalid('notes')" class="formFeedbackError text-center">{{getError('notes')}}</span>
          </form>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #maleSVG>
  <div class="flex justify-c-c align-i-c bor-rad-20" [ngStyle]="{backgroundColor: genderColors.male}">
    <svg class="icon-m" xmlns="http://www.w3.org/2000/svg" width="24" height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0" /><path d="M19 5l-5.4 5.4" /><path d="M19 5h-5" /><path d="M19 5v5" /></svg>                  
  </div>
</ng-template>
<ng-template #femaleSVG>
  <div class="flex justify-c-c align-i-c bor-rad-20" [ngStyle]="{backgroundColor: genderColors.female}">
    <svg class="icon-m" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0" /><path d="M12 14v7" /><path d="M9 18h6" /></svg>
  </div>
</ng-template>
<ng-template #shinySVG>
  <div class="flex justify-c-c align-i-c bor-rad-20">
    <svg class="icon-m" [attr.fill]="shinyColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"/>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
      <g id="SVGRepo_iconCarrier">
        <path d="M208,512,155.62,372.38,16,320l139.62-52.38L208,128l52.38,139.62L400,320,260.38,372.38Z"/>
        <path d="M88,176,64.43,111.57,0,88,64.43,64.43,88,0l23.57,64.43L176,88l-64.43,23.57Z"/>
        <path d="M400,256l-31.11-80.89L288,144l80.89-31.11L400,32l31.11,80.89L512,144l-80.89,31.11Z"/>
      </g>
    </svg>
  </div>
</ng-template>