<div class="pokemon-editor">
  <div class="selectors">
    <ng-container *ngFor="let pokemon of team.pokemons; index as i">
      <div 
      class="selector"
      [ngClass]="{selected: selectedPokemonIndex == i}"
      (click)="selectPokemon(i)"
      >
        {{i + 1}}
      </div>
    </ng-container>
    <ng-container *ngIf="team.pokemons && team.pokemons!.length < 6">
      <div class="selector" (click)="addEmptyPokemon()">
        +
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="pokemon">
    <div class="editor">
      <form class="form" [formGroup]="pokemonForm">
          <div class="form-item">
            <app-smart-input
            #pokemonInput 
            [value]="util.getPokemonTag(pokemon)"
            [label]="'team.pokemon_editor.pokemon' | translate"
            [keepSelected]="true"
            [getter]="queryService.queryPokemonCallback"
            (selectEvent)="pokemonSelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="util.getItemTag(pokemon.item)"
            [label]="'team.pokemon_editor.item' | translate"
            [keepSelected]="true"
            [getter]="queryService.queryItemCallback"
            (selectEvent)="itemSelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <div class="col-center w-100">
              <div class="smart-input-wrapper">
                <div class="smart-input-top">
                  <div class="smart-input-label">
                    {{'team.pokemon_editor.ability' | translate}}
                  </div>
                  <div class="checkbox-wrapper">
                    <app-checkbox
                    [checked]="allAbilities"
                    [label]="'team.pokemon_editor.show_all' | translate"
                    (checkEvent)="allAbilitiesSwitch()"
                    ></app-checkbox>
                  </div>
                </div>
                <ng-container *ngIf="allAbilities; else notAllAbilities">
                  <app-smart-input
                  [value]="util.getAbilityTag(pokemon.ability)"
                  [keepSelected]="true"
                  [getter]="queryService.queryAbilityCallback"
                  [allGetter]="queryService.abilityAllCallback"
                  (selectEvent)="abilitySelectEvent($event)"
                  class="smart-input-wrapper"
                  ></app-smart-input>
                </ng-container>
                <ng-template #notAllAbilities>
                  <app-smart-input
                  [value]="util.getAbilityTag(pokemon.ability)"
                  [keepSelected]="true"
                  [allGetter]="queryService.pokemonAbilitiesCallback"
                  [allGetterIndex]="this.pokemon?.dexNumber"
                  [disabled]="!this.pokemon?.dexNumber"
                  (selectEvent)="abilitySelectEvent($event)"
                  class="smart-input-wrapper"
                  ></app-smart-input>
                </ng-template>
              </div>
              <ng-container *ngIf="!pokemon.name && !allAbilities">
                <div class="formFeedbackError row-center">
                  {{'team.pokemon_editor.no_pokemon_ability-error' | translate}}
                </div>
              </ng-container>
            </div>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="util.getMoveTag(pokemon.moves ? pokemon.moves[0] : undefined)"
            [label]="'team.pokemon_editor.move' | translate:{'index':1}"
            [keepSelected]="true"
            [getter]="queryService.queryMoveCallback"
            (selectEvent)="move1SelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="util.getMoveTag(pokemon.moves ? pokemon.moves[1] : undefined)"
            [label]="'team.pokemon_editor.move' | translate:{'index':2}"
            [keepSelected]="true"
            [getter]="queryService.queryMoveCallback"
            (selectEvent)="move2SelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="util.getNatureTag(pokemon.nature)"
            [label]="'team.pokemon_editor.nature' | translate"
            [keepSelected]="true"
            [getter]="queryService.queryNatureCallback"
            [allGetter]="queryService.naturesAllCallback"
            (selectEvent)="natureSelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="util.getMoveTag(pokemon.moves ? pokemon.moves[2] : undefined)"
            [label]="'team.pokemon_editor.move' | translate:{'index':3}"
            [keepSelected]="true"
            [getter]="queryService.queryMoveCallback"
            (selectEvent)="move3SelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="util.getMoveTag(pokemon.moves ? pokemon.moves[3] : undefined)"
            [label]="'team.pokemon_editor.move' | translate:{'index':4}"
            [keepSelected]="true"
            [getter]="queryService.queryMoveCallback"
            (selectEvent)="move4SelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item">
            <app-smart-input
            [value]="util.getTypeTag(pokemon.teraType)"
            [label]="'team.pokemon_editor.teratype' | translate"
            [keepSelected]="true"
            [getter]="queryService.queryTeratypeCallback"
            [allGetter]="queryService.teraTypesAllCallback"
            (selectEvent)="teraTypeSelectEvent($event)"
            class="smart-input-wrapper"
            ></app-smart-input>
          </div>
          <div class="form-item form-item-col">
            <div class="col">
              <div class="row-center s-gap">
                <label for="">{{"team.pokemon_editor.nickname" | translate}}</label>
                <input type="text" class="nickname" formControlName="nickname"
                [ngClass]="{controlInvalid: isInvalid('nickname')}"
                value="pokemon.nickname ?? 'error'"
                >
              </div>
              <span *ngIf="isInvalid('nickname')" class="formFeedbackError text-center">{{getError('nickname')}}</span>
            </div>
            <div class="row-center s-gap">
              <div class="col">
                <div class="row-center s-gap">
                  <label for="">{{"team.pokemon_editor.level" | translate}}</label>
                  <input 
                  type="text" 
                  class="level" 
                  formControlName="level" 
                  value="pokemon.level ?? 0"
                  [ngClass]="{controlInvalid: isInvalid('level')}"
                  >
                </div>
                <span *ngIf="isInvalid('level')" class="formFeedbackError text-center">{{getError('level')}}</span>
              </div>
            </div>
            <div class="row s-gap">
              <app-radio
              [options]="[false, true]"
              [optionNames]="['Male', 'Female']"
              [optionSVGs]="[maleSVG, femaleSVG]"
              [selectedIndex]="0"
              (selectEvent)="genderSelectEvent($event)"
              ></app-radio>
              <app-checkbox
              [checked]="pokemon.shiny ?? false"
              [label]="'shiny'"
              [svg]="shinySVG"
              (checkEvent)="shinySelectEvent($event)"
              ></app-checkbox>
            </div>
          </div>
          <div class="form-item form-item-col stat-col">
            <div class="stat-selector" [ngClass]="{notAllowed: !pokemon.name}">
              <ng-container *ngFor="let stat of pokemon.ivs; index as i">
                <div class="stat-box" (click)="selectStat(i)"
                [ngClass]="{selectedStat: selectedStat === i, disabled: !pokemon.name}"
                >
                  {{stat.name.content}}
                </div>
              </ng-container>
            </div>
            <ng-container *ngIf="!pokemon.name">
              <div class="formFeedbackError row-center">
                {{"team.pokemon_editor.no_pokemon_stats-error" | translate}}
              </div>
            </ng-container>
            <div class="range" [ngClass]="{notAllowed: !pokemon.name}">
              <label for="" class="text-center">IV</label>
              <div class="range-slider">
                <input type="range" min="0" max="31" 
                value="{{this.pokemon.ivs ? this.pokemon.ivs[selectedStat].value : ''}}" 
                class="slider" id="myRange" formControlName="ivs"
                [ngClass]="{notAllowed: !pokemon.name}" 
                [ngStyle]="{background: ivSliders[this.selectedStat]}">
              </div>
              <input class="level" formControlName="ivs"
              [ngClass]="{notAllowed: !pokemon.name}"
              value="{{this.pokemon.ivs ? this.pokemon.ivs[selectedStat].value : ''}}">
            </div>
            <div class="range" [ngClass]="{notAllowed: !pokemon.name}">
              <label for="" class="text-center">EV</label>
              <div class="range-slider">
                <input type="range" min="0" max="{{currentMaxEVs}}" 
                value="{{this.pokemon.evs ? this.pokemon.evs[selectedStat].value : ''}}" 
                class="slider" id="myRange" formControlName="evs"
                [ngClass]="{notAllowed: !pokemon.name}"
                [ngStyle]="{background: evSliders[this.selectedStat]}">
              </div>
              <input class="level" 
              value="{{this.pokemon.evs ? this.pokemon.evs[selectedStat].value : ''}}"
              [ngClass]="{notAllowed: !pokemon.name}"
              [disabled]="true"
              formControlName="evs">
            </div>
            <div class="row-center">
              {{"team.pokemon_editor.remaining_evs" | translate}} {{remainingEVs}}
            </div>
          </div>
      </form>
      <div class="preview">
        <div class="delete">
          <button (click)="deletePokemon()">X</button>
        </div>
        <app-pokemon
        [pokemon]="pokemon" 
        [teamOptions]="team?.options" 
        [showStatsStart]="true"
        [editorPreview] = "true"
        (triggerNotesEvent)="triggerNotes($event)"
        ></app-pokemon>
        <ng-container *ngIf="showNotes">
          <form [formGroup]="pokemonForm" class="notes-editor">
            <textarea
            class="custom-scrollbar-dark" 
            rows="5" 
            formControlName="notes"
            spellcheck="false"
            value="pokemon.notes ?? ''"
            [ngClass]="{controlInvalid: isInvalid('notes')}"
            ></textarea>
            <span *ngIf="isInvalid('notes')" class="formFeedbackError text-center">{{getError('notes')}}</span>
          </form>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #maleSVG>
  <div class="row-center border-100 big-icon" [ngStyle]="{backgroundColor: genderColors.male}">
    <svg class="big-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0" /><path d="M19 5l-5.4 5.4" /><path d="M19 5h-5" /><path d="M19 5v5" /></svg>                  
  </div>
</ng-template>
<ng-template #femaleSVG>
  <div class="row-center border-100 big-icon" [ngStyle]="{backgroundColor: genderColors.female}">
    <svg class="big-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0" /><path d="M12 14v7" /><path d="M9 18h6" /></svg>
  </div>
</ng-template>
<ng-template #shinySVG>
  <svg class="big-icon" [attr.fill]="shinyColor" viewBox="0 0 512 512" id="icons" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M208,512,155.62,372.38,16,320l139.62-52.38L208,128l52.38,139.62L400,320,260.38,372.38Z"></path><path d="M88,176,64.43,111.57,0,88,64.43,64.43,88,0l23.57,64.43L176,88l-64.43,23.57Z"></path><path d="M400,256l-31.11-80.89L288,144l80.89-31.11L400,32l31.11,80.89L512,144l-80.89,31.11Z"></path></g></svg>
</ng-template>