

.tag-editor
{
  background-color: var(--bg-color-2);
  padding: 5%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;

  .close
  {
    position: absolute;
    right: 0.2em;
    top: 0.2em;

    .icon
    {
      width: 1.5em;
      height: 1.5em;
      border: none;
      border-radius: 20px;

      &:hover
      {
        transition: .4s;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
      }
    }
  }

  .title
  {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }

  .form
  {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .item
    {
      display: flex;
      flex-direction: column;
      gap: 0.2em;
    }
    
    .color
    {
      display: grid;
      grid-template-columns: 15% 80%;
      align-items: center;
      justify-items: center;
      gap: 0.2vw;

      .color-input
      {
        width: 1em;
        height: 1em;
      }
    }
  }
}

.icon
{
  width: 1em;
  height: 1em;
  border: 1px solid black;
}