.s-gap
{
  gap: 0.2vw;
}

.b-gap
{
  gap: 0.4vw;
}

.no-gap
{
  gap: 0;
}

.margin-x-s
{
  margin: 0.5em 0;
}

.margin-y-s
{
  margin: 0 0.5em;
}

.no-pad
{
  padding: 0 !important;
}

.pad-s
{
  padding: 0.2em;
}

.pad-m
{
  padding: 0.4em;
}

.pad-l
{
  padding: 0.8em;
}

.border-100
{
  border-radius: 20px;
}
