<div class="flex gap-m pad-s">
  @for (option of options; track option; let i = $index) {
    <div class="option tooltip-wrapper" (click)="select(i)"
    [ngClass]="{'selected-background': selectedIndex == i && !(optionIcons[i] || optionSVGs[i]),
    'selected-border': selectedIndex == i && (optionIcons[i] || optionSVGs[i])}"
      >
      @if (optionIcons[i]) {
        <img src="{{optionIcons[i]}}" alt="{{optionNames[i]}}" class="big-icon">
      }
      @if (optionSVGs[i]) {
        <ng-container [ngTemplateOutlet]="optionSVGs[i]"></ng-container>
      }
      @if (!optionIcons[i] && !optionSVGs[i]) {
        {{optionNames[i]}}
      }
      @if (tooltipTexts && tooltipTexts[i]) {
        <app-tooltip
          [text]="tooltipTexts[i]"
          [side]="'top'"
        ></app-tooltip>
      }
    </div>
  }
</div>
