$pageWidth: 1vw;
$pagePadding: 0.4vw;

.pagination
{
  margin: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.4vw;

  .pages
  {
    display: flex;
    justify-items: center;
    gap: 0.4vw;

    .page
    {
      text-align: center;
      width: $pageWidth;
      padding: $pagePadding;
      border-radius: 5px;
      background-color: var(--bg-color-2);
      color: var(--text-color);
      border: 1px solid black;
      cursor: pointer;
      user-select: none; 
  
      &:hover
      {
        opacity: 0.7;
      }
    }

    .selected
    {
      border: 1px solid var(--bg-color-3);
      background-color: var(--bg-color-2);
    }
  }

  button:disabled 
  {
    background-color: var(--bg-color-2) !important;
    color: var(--text-color) !important;
    border-color: var(--bg-color-3) !important;
    pointer-events: none;
  }

  .empty
  {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: var(--bg-color-2);
    color: var(--text-color);
    border: 1px solid black;
    border-radius: 5px;
    padding: $pagePadding;
  }
}