
<div class="m-auto w-fit flex align-i-c gap-m">
  <ng-container *ngIf="totalItems > 0; else empty">
    <button 
    (click)="changePage(1)" 
    [disabled]="currentPage === 1"
    class="page"
    > << </button>
    <button 
    (click)="changePage(currentPage - 1)" 
    [disabled]="currentPage === 1"
    class="page"
    > < </button>
    <div class="flex justify-i-c gap-m">
      <ng-container *ngIf="currentPage <= 3">
        <button class="page" (click)="changePage(1)" [ngClass]="{selected: currentPage == 1}">
          1
        </button>
        <ng-container *ngIf="totalPages > 1">
          <button class="page" (click)="changePage(2)" [ngClass]="{selected: currentPage == 2}">
            2
          </button>
        </ng-container>
        <ng-container *ngIf="totalPages > 2">
          <button class="page" (click)="changePage(3)" [ngClass]="{selected: currentPage == 3}">
            3
          </button>
        </ng-container>
        <ng-container *ngIf="totalPages > 3">
          <button class="page" (click)="changePage(4)" [ngClass]="{selected: currentPage == 4}">
            4
          </button>
        </ng-container>
        <ng-container *ngIf="totalPages > 4">
          <button class="page" (click)="changePage(5)" [ngClass]="{selected: currentPage == 5}">
            5
          </button>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="currentPage > 3 && (currentPage <= totalPages - 3)">
        <button class="page" 
        (click)="changePage(currentPage - 2)">
          {{currentPage - 2}}
        </button>
        <button class="page" 
        (click)="changePage(currentPage - 1)">
          {{currentPage - 1}}
        </button>
        <button class="page selected">
          {{currentPage}}
        </button>
        <button class="page" (click)="changePage(currentPage + 1)">
          {{currentPage + 1}}
        </button>
        <button class="page" (click)="changePage(currentPage + 2)">
          {{currentPage + 2}}
        </button>
      </ng-container>
      <ng-container *ngIf="currentPage > 3 && currentPage > totalPages - 3">
        <button class="page" (click)="changePage(totalPages - 4)" [ngClass]="{selected: currentPage == totalPages - 4}">
          {{totalPages - 4}}
        </button>
        <button class="page" (click)="changePage(totalPages - 3)" [ngClass]="{selected: currentPage == totalPages - 3}">
          {{totalPages - 3}}
        </button>
        <button class="page" (click)="changePage(totalPages - 2)" [ngClass]="{selected: currentPage == totalPages - 2}">
          {{totalPages - 2}}
        </button>
        <button class="page" (click)="changePage(totalPages - 1)" [ngClass]="{selected: currentPage == totalPages - 1}">
          {{totalPages - 1}}
        </button>
        <button class="page" (click)="changePage(totalPages)" [ngClass]="{selected: currentPage == totalPages}">
          {{totalPages}}
        </button>
      </ng-container>
    </div>
    <button 
    (click)="changePage(currentPage + 1)" 
    [disabled]="currentPage === totalPages"
    class="page"
    > > </button>
    <button 
    (click)="changePage(totalPages)" 
    [disabled]="currentPage === totalPages"
    class="page"
    > >> </button>
  </ng-container>
  <ng-template #empty>
    <div class="flex align-i-c w-fit b-2 text-c bor-1-b bor-rad-5 pad-l">
      No results!
    </div>
  </ng-template>
</div>

