.page
{
  text-align: center;
  width: 2.5em;
  padding: 0.6em;
  border-radius: 5px;
  background-color: var(--bg-color-1);
  color: var(--text-color);
  border: 1px solid var(--bg-color-2);
  cursor: pointer;
  user-select: none; 
}

.selected
{
  border: 1px solid var(--text-color);
}

button:disabled 
{
  opacity: 0.5;
  pointer-events: none;
}