
.team
{
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, auto));
  grid-gap: 4px;
  //outline: 2px grey solid;
  border-radius: 5px;
  //background-color: grey;
}

.wrapper
{
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.sprite
{
  width: 3vw;
  height: 3vw;
}

.item
{
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1vw;
  height: 1vw;
  z-index: 2;
  border-radius: 20px;
}