.content
{
  display: grid;
  grid-template-columns: 15% 70% 15%;

  .left-panel
  {
    height: 100%;
    background-color: lightgray;
  }

  .right-panel
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    background-color: lightgray;
    padding-top: 4vh;
    height: 100%;
  
    .item
    {
      width: 80%;
      height: 20vh;
      border: 1px solid grey;
    }
  }
}