<div class="static-page">
  <h1>About PokeTeams</h1>
  <p>
    <strong>PokeTeams</strong> is an free and open source website aimed at helping players learn and play with a specific pokemon team. It also allows for saving and sharing your pokemon teams, letting you have your pokepastes stored all in the same place. 
  </p>

  <h2>Contact</h2>
  <p>
    If you have any issues, suggestions or questions, feel free to write an email at poketeamsweb&#64;gmail.com or submit an issue on <a href="https://github.com/sergiomadd/PokeTeams" target="_blank">PokeTeams's GitHub page</a>.
  </p>
</div>
