@use "/src/app/core/styles/variables.scss" as *;

.color-picker
{
  max-width: 0;
  transition: max-width 0.3s ease;
  overflow: hidden;
}

.color-picker-right
{
  position: absolute;
  left: 11.8em;
  top: 0.2em;
  transform: translate(0, 0.2em);
  border-radius: 0 5px 5px 0;
  border: 1px solid black;
  transition: transform 0.5s ease-in, max-width 0.5s ease-in;
}

.color-picker-left
{
  position: absolute;
  left: 0;
  bottom: 0.4em;
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
  transform: translateX(0);
  transition: transform 0.5s ease-in, max-width 0.5s ease-in;
}

.color-picker-content
{
  background-color: var(--bg-color-2);
  padding: 0.4em;
  white-space: nowrap;
  float: right;
}

.color-picker-visible
{
  max-width: 20em;
  width: fit-content;
  z-index: 2;
}

.color-picker-visible.color-picker-left
{
  transform: translateX(-12em);
  transition: transform 0.5s ease-in;
}

.colors
{
  display: grid;
  grid-template-columns: repeat(4, 2.5em);
  justify-content: start;
  justify-items: center;
  gap: 0.4em;
  margin: auto;
}

.color
{
  width: 3em;
  height: 3em;
  border-radius: 5px;
}

@media (max-width: $mobile) 
{
  .color-picker-left
  {
    bottom: 1.7em;
  }

  .color-picker-visible.color-picker-left
  {
    transform: translateX(-10.2em);
    transition: transform 0.5s ease-in;
  }  

  .colors
  {
    display: grid;
    grid-template-columns: repeat(4, 2.2em);
    justify-content: start;
    justify-items: center;
    gap: 0.2em;
    margin: auto;
  }
  
  .color
  {
    width: 2.5em;
    height: 2.5em;
    border-radius: 5px;
  }
}