.color-picker
{
  max-width: 0;
  transition: max-width 0.3s ease;
  overflow: hidden;
}

.color-picker-right
{
  position: absolute;
  left: 11.8em;
  bottom: 0.6em;
  border-radius: 0 5px 5px 0;
  border: 1px solid black;
}

.color-picker-left
{
  position: absolute;
  left: -1em;
  bottom: 0.6em;
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
  transform: translateX(0);
  transition: transform 0.5s ease-in, max-width 0.5s ease-in;
}

.color-picker-content
{
  background-color: var(--bg-color-2);
  padding: 0.4em;
  white-space: nowrap;
  float: right;
}

.color-picker-visible
{
  max-width: 20em;
  width: fit-content;
  z-index: 2;
  transition: max-width 0.5s ease-in;
}

.color-picker-visible.color-picker-left
{
  transform: translateX(-23.2em);
  transition: transform 0.5s ease-in, max-width 0.5s ease-in;
}

.colors
{
  display: grid;
  grid-template-columns: repeat(4, 2.5em);
  justify-content: start;
  justify-items: center;
  gap: 0.5em;
  margin: auto;
}

.color
{
  width: 3em;
  height: 3em;
  border-radius: 5px;
}