<div class="color-picker"
[ngClass]="
{
  'color-picker-visible': visible(),
  'color-picker-right': !window.isTabletLandscapeOrLess(),
  'color-picker-left': window.isTabletLandscapeOrLess()
}">
  <div class="color-picker-content">
    <div class="font-m text-center" style="margin-bottom: 0.2em;">{{"team.color_picker.title" | translate}}</div>
    <div class="colors">
      @for (color of colors(); track color; let i = $index) {
        <button
          class="color"
          [ngStyle]="{backgroundColor: color}"
          (click)="choose(i)"
        ></button>
      }
    </div>
  </div>
</div>
