

<div class="regulation-selector">
  <div class="carousel">
    <ng-container *ngIf="showArrows">
      <button class="button-primary-clear" (click)="prev()" [ngClass]="{disabled: currentIndex === 0}"><</button>
    </ng-container>
    <div class="items">
      <ng-container *ngIf="sideItemsAmount === 1 && currentIndex > 0; else empty">
        <div class="item prev regulation" (click)="prev()">
          {{items[currentIndex-1]?.identifier}}
        </div>
      </ng-container>
      <ng-template #empty>
        <div class="empty-regulation"></div>
      </ng-template>
      <div class="item selected regulation">
        {{items[currentIndex]?.identifier}}
      </div>
      <ng-container *ngIf="sideItemsAmount === 1 && currentIndex < items.length-1; else empty">
        <div class="item next regulation" (click)="next()">
          {{items[currentIndex+1]?.identifier}}
        </div>
      </ng-container>
      <ng-template #empty>
        <div class="empty-regulation"></div>
      </ng-template>
    </div>
    <ng-container *ngIf="showArrows">
      <button class="button-primary-clear" (click)="next()" [ngClass]="{disabled: currentIndex === items.length-1}">></button>
    </ng-container>
  </div>
</div>