<div class="stage">
  <div class="part sprite">
    <img src={{pokemonSpritePath}} alt="" class="sprite-small">
  </div>
  <div class="part types">
    <ng-container *ngIf="pokemon.types?.type2; else monotype">
      <img src="{{pokemon.types?.type1?.iconPath}}" title="{{pokemon.types?.type1?.name?.content}}" alt="{{pokemon.types?.type1?.name?.content}}" class="icon">
      <img src="{{pokemon.types?.type2?.iconPath}}" title="{{pokemon.types?.type2?.name?.content}}" alt="{{pokemon.types?.type2?.name?.content}}" class="icon">
    </ng-container>
    <ng-template #monotype>
      <img src="{{pokemon.types?.type1?.iconPath}}" title="{{pokemon.types?.type1?.name?.content}}" alt="{{pokemon.types?.type1?.name?.content}}" class="icon">
    </ng-template>
  </div>
  <div class="part name">
    {{pokemon.name?.content}}
  </div>
</div>
