@use "/src/app/core/styles/variables.scss" as *;

.tag-editor
{
  width: 40em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.tag-editor-visible
{
  max-height: 40rem;
  overflow: hidden;
  transition: max-height 0.5s 0.1s ease-in;
}

.tag-editor-content
{
  position: relative;
  width: 11em;
  background-color: var(--bg-color-2);
  padding: 0.4em;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 3;
}

.tag-editor-right
{
  position: absolute;
  left: calc(100% + 0.4em);
  bottom: 0.2em;
}

.tag-editor-top
{
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(round(calc(-50%), 1px), round(-4em, 1px));

  display: flex;
  justify-content: center;
}

.close
{
  position: absolute;
  right: 0.2em;
  top: 0.2em;
}

.color
{
  height: 1.4em;
  width: 5em;
  border-radius: 5px;
  border: 1px solid black;
}

.color-picker-wrapper
{
  position: relative;
}

@media (max-width: $mobileBreakpoint) 
{
  /*
  .color-picker-wrapper
  {
    right: 0;
    left: 0;
  }  
  */
}