<div class="tag-editor" 
[ngClass]="
{
  'tag-editor-visible': visible,
  'tag-editor-right': !window.isTabletLandscapeOrLess(),
  'tag-editor-top': window.isTabletLandscapeOrLess()
}">
  <div class="color-picker-wrapper">
    <app-color-picker 
    [colors]="tagBackgroundColors" 
    [visible]="colorPickerOpen"
    (chooseEvent)="chooseColor($event)"
    ></app-color-picker>
  </div>
  <div class="tag-editor-content">
    <button (click)="close()" class="close icon-button icon-m">
      <svg viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg">
        <path fill="var(--error)" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"/>
        <path fill="var(--white)" d="M8.96967 8.96967C9.26256 8.67678 9.73744 8.67678 10.0303 8.96967L12 10.9394L13.9697 8.96969C14.2626 8.6768 14.7374 8.6768 15.0303 8.96969C15.3232 9.26258 15.3232 9.73746 15.0303 10.0304L13.0607 12L15.0303 13.9696C15.3232 14.2625 15.3232 14.7374 15.0303 15.0303C14.7374 15.3232 14.2625 15.3232 13.9696 15.0303L12 13.0607L10.0304 15.0303C9.73746 15.3232 9.26258 15.3232 8.96969 15.0303C8.6768 14.7374 8.6768 14.2626 8.96969 13.9697L10.9394 12L8.96967 10.0303C8.67678 9.73744 8.67678 9.26256 8.96967 8.96967Z"/>
      </svg>
    </button>
    <div class="font-m text-center" style="margin-bottom: 0.4em;">
      {{"team.tag_editor.title" | translate}}
    </div>
    <form class="flex-col gap-m" [formGroup]="form">
      <div class="flex-col gap-s">
        <label for="">{{"team.tag_editor.name" | translate}}</label>
        <input 
        #inputName 
        type="text" 
        formControlName="name" 
        class="input-s"
        [ngClass]="{controlInvalid: isInvalid('name')}"
        >
        <span *ngIf="isInvalid('name')" class="formFeedbackError">{{getError('name')}}</span>
      </div>
      <div class="flex-col gap-s">
        <label for="">{{"team.tag_editor.description" | translate}}</label>
        <textarea 
          class="custom-scrollbar-dark" 
          rows="3" 
          formControlName="desc"
          spellcheck="false"
          [ngClass]="{controlInvalid: isInvalid('desc')}"
          ></textarea>
        <span *ngIf="isInvalid('desc')" class="formFeedbackError">{{getError('desc')}}</span>
      </div>
      <div class="flex justify-c-sb align-i-c">
        <div class="tag-preview bor-rad-5 no-overflow" style="width: 48%;">
          <app-chip 
          [name]="tag.name"
          [tooltipText]="tag.description"
          [minWidth]="'100%'"
          [bgColor]="tag.color !== undefined ? tagBackgroundColors[tag.color] : undefined"
          [textColor]="tag.color !== undefined ? theme.getTagTextColor(tag.color) : undefined"
          ></app-chip>
        </div>
        <div style="width: 48%;">
          <button class="button-secondary" 
          (click)="toggleColorPicker()"
          >{{"team.tag_editor.show_colors" | translate}}</button>
        </div>
      </div>
      <div class="flex justify-c-c gap-m">
        <button class="button-primary w-60" (click)="add()">{{"team.tag_editor.add" | translate}}</button>
      </div>
    </form>
  </div>
</div>

