@use "/src/app/core/styles/variables.scss" as *;

$moveWidth: 6em;
$moveHeight: 3.4em;

.item
{
  position: absolute;
  bottom: 0.1em;
  right: 0.1em;
}

.teratype
{
  position: absolute;
  top: 0.1em;
  right: 0.1em;
}

.center
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--bg-color-2);
}

.ability
{
  background-color: var(--bg-color-3);
  height: 1.3em;
  border-radius: 0 0 20px 20px;
  padding: 0.4em;
}

.moves-section
{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: calc(($moveWidth + 0.5em) * 2);
}

.move-section
{
  width: $moveWidth;
  height: $moveHeight;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, round($moveWidth/3, 1px));
  grid-template-rows: repeat(2, round($moveHeight/2, 1px));
  word-wrap: break-word;
  overflow-wrap: break-word;
  
  &:nth-child(1) 
  {
    border-radius: 20px 0 0 0;
    align-items: flex-start;
    justify-items: start;
    justify-self: end;

    .row-one
    {
      grid-column: 2 / 4;
      grid-row: 1;
    }

    .row-two
    {
      grid-column: 1 / 3;
      grid-row: 2;
    }

    .type
    {
      grid-column: 1 / 2;
      grid-row: 1;
    }

    .inverted-border
    {
      grid-column: 3 / 4;
      grid-row: 2;
    }
  }

  &:nth-child(2) 
  {
    border-radius: 0 20px 0 0;
    text-align: right;
    align-items: flex-start;
    justify-items: end;
    justify-self: start;

    .row-one
    {
      grid-column: 1 / 3;
      grid-row: 1;
    }

    .row-two
    {
      grid-column: 2 / 4;
      grid-row: 2;
    }

    .type
    {
      grid-column: 3 / 3;
      grid-row: 1;
    }

    .inverted-border
    {
      grid-column: 1 / 1;
      grid-row: 2;
    }
  }

  &:nth-child(3) 
  {
    border-radius: 0 0 0 20px;
    align-items: end;
    justify-items: start;
    justify-self: end;

    .row-one
    {
      grid-column: 1 / 2;
      grid-row: 1;
    }

    .row-two
    {
      grid-column: 2 / 3;
      grid-row: 2;
    }

    .type
    {
      grid-column: 1 / 1;
      grid-row: 2;
    }

    .inverted-border
    {
      grid-column: 3 / 3;
      grid-row: 1;
    }
  }

  &:nth-child(4) 
  {
    border-radius: 0 0 20px 0;
    text-align: right;
    align-items: end;
    justify-items: end;
    justify-self: start;

    .row-one
    {
      grid-column: 2 / 4;
      grid-row: 1;
    }

    .row-two
    {
      grid-column: 1 / 3;
      grid-row: 2;
    }
  }
}

@media (max-width: $tabletPortrait) 
{
  $moveWidth: 5em;
  $moveHeight: 3.4em;

  .moves-section
  {
    width: calc(($moveWidth + 0.5em) * 2);
  }  

  .move-section
  {
    width: $moveWidth;
    grid-template-columns: repeat(3, round($moveWidth/3, 1px));
  }
}

@media (max-width: $mobile) 
{
  $moveWidth: 4.5em;
  $moveHeight: 3.4em;

  .moves-section
  {
    width: calc(($moveWidth + 0.5em) * 2);
  }  

  .move-section
  {
    width: $moveWidth;
    grid-template-columns: repeat(3, round($moveWidth/3, 1px));

    & > * 
    {
      font-size: 0.9em;
    }
  }
}

@media (max-width: $smallMobile) 
{
  $moveWidth: 4em;
  $moveHeight: 3.4em;

  .moves-section
  {
    width: calc(($moveWidth + 0.5em) * 2);
  } 

  .move-section
  {
    width: $moveWidth;
    grid-template-columns: repeat(3, round($moveWidth/3, 1px));
    
    &:nth-child(1) 
    {
      border-radius: 20px 0 0 0;
      align-items: flex-start;
      justify-items: start;
      justify-self: end;

      .row-one
      {
        grid-column: 1 / 4;
        grid-row: 1;
      }

      .row-two
      {
        grid-column: 1 / 3;
        grid-row: 2;
      }

      .inverted-border
      {
        grid-column: 3 / 4;
        grid-row: 2;
      }
    }

    &:nth-child(2) 
    {
      border-radius: 0 20px 0 0;
      text-align: right;
      align-items: flex-start;
      justify-items: end;
      justify-self: start;

      .row-one
      {
        grid-column: 1 / 4;
        grid-row: 1;
      }

      .row-two
      {
        grid-column: 2 / 4;
        grid-row: 2;
      }

      .inverted-border
      {
        grid-column: 1 / 1;
        grid-row: 2;
      }
    }

    &:nth-child(3) 
    {
      border-radius: 0 0 0 20px;
      align-items: end;
      justify-items: start;
      justify-self: end;

      .row-one
      {
        grid-column: 1 / 2;
        grid-row: 1;
      }

      .row-two
      {
        grid-column: 1 / 4;
        grid-row: 2;
      }

      .inverted-border
      {
        grid-column: 3 / 3;
        grid-row: 1;
      }
    }

    &:nth-child(4) 
    {
      border-radius: 0 0 20px 0;
      text-align: right;
      align-items: end;
      justify-items: end;
      justify-self: start;

      .row-one
      {
        grid-column: 2 / 4;
        grid-row: 1;
      }

      .row-two
      {
        grid-column: 1 / 4;
        grid-row: 2;
      }
    }
  }
}