<div class="flex flex-col align-i-c pad-s">
  <div class='moves-section relative'>
    @for (move of pokemon?.moves; track move; let i = $index) {
      <div
        class="move-section pad-m"
        [ngClass]="{'flex-reverse': i % 2 !== 0}"
        [ngStyle]="{'background': move ? (move?.pokeType?.identifier ?? '' | getMoveColor:theme.selectedThemeName) : 'var(--bg-color-3)'}"
        >
        @if (move) {
          <div class="inverted-border"></div>
          <span class="row-one">{{getMoveNameRows(i)[0]}}</span>
          <span class="row-two">{{getMoveNameRows(i)[1]}}</span>
          @if (!window.isSmallMobile()) {
            <img src="{{move?.pokeType?.iconPath}}" title="{{move?.pokeType?.name?.content}}"
              alt="{{move?.pokeType?.name?.content}}" class="type"
          [ngClass]="
          {
            'icon-s': window.isSmallMobile(),
            'icon-m': !window.isSmallMobile()
          }">
            }
          }
        </div>
      }
      <div class="no-overflow">
        <div class='center'>
          <div class="pointer tooltip-wrapper">
            <img [src]="pokemonSpritePath"
              [alt]="pokemon?.name?.content"
          [ngClass]="
          {
            'sprite-small': window.isSmallMobile(),
            'sprite-m': !window.isSmallMobile()
          }">
              <app-tooltip
                [text]="pokemon?.name?.content"
              [side]="'top'"></app-tooltip>
            </div>
            @if (pokemon?.teraType) {
              <div class="teratype w-fit h-fit bor-rad-20 bg-2 tooltip-wrapper"
          [ngClass]="
          {
            'icon-s': window.isSmallMobile(),
            'icon-m': !window.isSmallMobile()
          }">
                <img [src]="pokemon?.teraType?.iconPath"
                  [title]="pokemon?.teraType?.name?.content"
            [ngClass]="
            {
              'icon-s': window.isSmallMobile(),
              'icon-m': !window.isSmallMobile()
            }">
                </div>
              }
              @if (pokemon?.item) {
                <div class="item bor-rad-20 bg-2 pointer tooltip-wrapper"
          [ngClass]="
          {
            'icon-s': window.isSmallMobile(),
            'icon-m': !window.isSmallMobile()
          }">
                  <img [src]="pokemon?.item?.iconPath"
            [ngClass]="
            {
              'icon-s': window.isSmallMobile(),
              'icon-m': !window.isSmallMobile()
            }">
                    <app-tooltip [text]="pokemon?.item?.name?.content" [side]="'top'"></app-tooltip>
                  </div>
                }
              </div>
            </div>
          </div>
          @if (pokemon?.abilityName) {
            <div class="ability">
              {{pokemon?.abilityName?.content}}
            </div>
          }
        </div>
