.pokemon-preview
{
  transition: all ease 0.5s;
  //white-space: nowrap;
  padding: 0.2em;
  font-size: 1em;
  width: 1fr;
}

.single
{

  .sprite
  {
    position: relative;
    width: 5em;
    height: 5em;
  }

  .right
  {
    height: 100%;
    display: flex;
    flex-direction: column;
    
  }

  .moves
  {
    width: 5em;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    
    .move
    {
      border-radius: 10px;
      padding: 0.2em;
      text-align: center;
    }
  }
}

.double
{

  .sprite
  {
    position: relative;
    width: 5em;
    height: 5em;
  }

  .moves
  {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

.item
{
  position: absolute;
  bottom: 0;
  right: 0;

  &:hover
  {
    background-color: var(--bg-color-3);
    border-radius: 10px;
  }
}

.icon
{
  width: 1em;
  height: 1em;
}

.section
{
  height: 1em;

}