
<div class="team">
  <ng-container *ngIf="getVisibility(); else private">
    <div class="top col s-gap">
      <div class="row w-100">
        <div class="row-start s-gap wrap">
          <ng-container *ngIf="logged">
            <ng-container *ngIf="!team?.visibility">
              <img src="{{(selectedTheme$ | async) === 'light' 
              ? 'assets/img/lock.png' 
              : 'assets/img/lock-white.png'}}" alt="" class="icon">
            </ng-container>
          </ng-container>
          <div class="row no-gap">
            <div class="detail" [ngClass]="{unkownPlayer: team?.player?.username === 'Unkown'}">
              <ng-container *ngIf="team?.player?.picture">
                <img src="{{team?.player?.picture}}" alt="" class="icon">
              </ng-container>
              {{team?.player?.username}}
            </div>
          </div>
          <ng-container *ngIf="team?.tournament">
            <div class="detail">
              <img src="assets/img/regionals.png" alt="" class="icon">
              {{team?.tournament?.name}}
            </div>
          </ng-container>
          <ng-container *ngIf="team?.regulation">
            <div class="detail regulation">
              {{team?.regulation?.identifier}}
            </div>
          </ng-container>
          <ng-container *ngIf="layout === 0">
            <ng-container *ngIf="team?.tags && team?.tags!.length > 0">
              <div class="row-start s-gap">
                <ng-container *ngFor="let tag of team?.tags">
                  <app-tag [tag]="tag"></app-tag>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="row-end s-gap">
          <div class="detail views">
            <img src="{{(selectedTheme$ | async) === 'light' 
            ? 'assets/img/visible.png' 
            : 'assets/img/visible-white.png'}}" alt="" class="icon">
            {{team && team?.viewCount ? util.formatCount(team.viewCount) : team?.viewCount}}
          </div>
          <div class="detail">
            {{util.customFormatDate(team?.date!)}}
          </div>  
          <button (click)="copyPaste()" class="button tooltip-wrapper">
            <img src="{{(selectedTheme$ | async) === 'light' 
            ? 'assets/img/copy.png' 
            : 'assets/img/copy-white.png'}}" alt="" class="icon">            
            <app-tooltip
            [text]="'Copy paste'"
            [side]="'top'"
            ></app-tooltip>
          </button>
          <button (click)="copyLink()" class="button tooltip-wrapper">
            <img src="{{(selectedTheme$ | async) === 'light' 
            ? 'assets/img/link.png' 
            : 'assets/img/link-white.png'}}" alt="" class="icon">            
            <app-tooltip
            [text]="'Copy link'"
            [side]="'top'"
            ></app-tooltip>
          </button>
          <button class="button tooltip-wrapper">
            <a [routerLink]="['/', team?.id]" target="_blank" class="button">
              <img src="{{(selectedTheme$ | async) === 'light' 
              ? 'assets/img/external-link.png' 
              : 'assets/img/external-link-white.png'}}" alt="" class="icon">
            </a>
            <app-tooltip
            [text]="'Open team'"
            [side]="'top'"
            ></app-tooltip>
          </button>
          <ng-container *ngIf="logged">
            <button class="button tooltip-wrapper">
              <a [routerLink]="['/edit/', team?.id]" target="_blank" class="button button-tertiary">
                <img src="assets/img/edit-white.png" alt="" class="icon">
              </a>
              <app-tooltip
              [text]="'Edit team'"
              [side]="'top'"
              ></app-tooltip>
            </button>
            <button (click)="delete()" class="button button-primary tooltip-wrapper">
              <img src="assets/img/trash-white.png" alt="" class="icon">
              <app-tooltip
              [text]="'Delete team'"
              [side]="'top'"
              ></app-tooltip>
            </button>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="layout === 1">
        <ng-container *ngIf="team?.tags && team?.tags!.length > 0">
          <div class="row-start s-gap w-100 wrap">
            <ng-container *ngFor="let tag of team?.tags">
              <app-tag [tag]="tag"></app-tag>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <ng-container *ngIf="feedback">
      <div class="errors">
        {{feedback}}
      </div>
    </ng-container>
    <div class="pokemons"
    (mouseenter)="expand()"
    (mouseleave)="expand()"
    >
      <ng-container *ngFor="let pokemon of team?.pokemons">
        <app-pokemon-preview [pokemon]="pokemon" [layout]="layout"></app-pokemon-preview>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #private>
    TEAM IS PRIVATE
  </ng-template>
</div>

