input[type="text"] 
{
  background-color: var(--bg-color-3);
  color: var(--text-color);
  border-radius: 5px;

  font-size: 1em;
  border: none;
  outline: none;

  padding: 0 0.2em 0 0.2em;
  padding-block: 0;
  box-sizing: border-box;

  &:focus
  {
    outline: 1px solid black; 
  }
}

.input-s
{
  min-height: 1.5em;
}

.input-m
{
  min-height: 2em;
}

input[type="password"] 
{
  width: 100%;
  height: 100%;

  background-color: var(--bg-color-3);
  color: var(--text-color);
  border-radius: 5px;

  font-size: 1em;
  border: none;
  outline: none;

  padding: 0 0.2em 0 0.2em;
  padding-block: 0;
  box-sizing: border-box;

  &:focus
  {
    outline: 1px solid black; 
  }
}

input[type="checkbox"]
{
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  background-color: var(--bg-color-1);
  cursor: pointer;
  position: relative;

  &::before 
  {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%) scale(0);
    content: "";
    width: 80%;
    height: 80%;
    transition: 0.1s transform ease-in-out;
    background-color: var(--primary);
    display: inline-block;
    border-radius: 3px;
  }

  &:checked::before 
  {
    transform: translate(-50%, 50%) scale(1);
  }
}

textarea
{
  resize: none;
  background-color: var(--bg-color-3);
  color: var(--text-color);
  border-radius: 5px;

  font-size: 1em;
  border: none;
  outline: none;
  cursor: auto;

  padding: 0.2em;
  box-sizing: border-box;

  &:focus
  {
    outline: 1px solid black; 
  }
}

//Range slider
input[type="range"] 
{
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: round(100%, 1px);
  height: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

input[type="range"]:focus 
{
  outline: none;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-color-3);
  border-radius: 20px;
  height: 1em;
  width: 1em;
}

input[type="range"]:focus::-webkit-slider-thumb 
{
  outline: 1px solid #808080;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track 
{
  border-radius: 20px;
  height: 1.5em;
  width: 1.5em;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb 
{
  border: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-color-3);
  border-radius: 20px;
  height: 1em;
  width: 1em;
}