


.relative
{
  position: relative;
}

.absolute
{
  position: absolute;
}

.w-100
{
  width: 100%;
}

.w-fit
{
  width: fit-content;
}

.h-100
{
  height: 100%;
}

.wrap
{
  flex-wrap: wrap;
}

.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.row
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-around
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row-between
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-start
{
  display: flex;
  justify-content: start;
  align-items: center;
}

.row-end
{
  display: flex;
  justify-content: end;
  align-items: center;
}

.row-top
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.align-top
{
  align-items: flex-start;
}

.s-gap
{
  gap: 0.2vw;
}

.b-gap
{
  gap: 0.4vw;
}

.no-gap
{
  gap: 0;
}

.margin-x-s
{
  margin: 0.5em 0;
}

.margin-y-s
{
  margin: 0 0.5em;
}

.col
{
  display: flex;
  flex-direction: column;
}

.col-center
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.no-pad
{
  padding: 0 !important;
}

.pad-s
{
  padding: 0.4vw;
}

.pad-b
{
  padding: 0.8vw;
}

.border-100
{
  border-radius: 20px;
}

.formFeedbackError
{
  font-size: 0.8em;
  color: red;
}

.formFeedbackSuccess
{
  font-size: 0.8em;
  color: green;
}

.x-divider
{
  height: 1px;
  width: 100%;
  background-color: var(--bg-color-3);
}

.no-overflow
{
  overflow: hidden;
  width: 100%;
}

.text-center
{
  text-align: center;
}

.disabled
{
  opacity: 0.7;
  cursor: not-allowed;
}

.selectable
{
  cursor: pointer;
}

.no-shadow
{
  box-shadow: none;
  &:hover
  {
    box-shadow: none;  
  }
}

.inside-shadow
{
  box-shadow: inset rgb(160, 160, 160) 0px 0px 5px; 
}

.controlInvalid
{
  outline: 3px solid rgba(255, 0, 0, 0.479) !important;
  border: none !important;
}

.custom-scrollbar
{
  &::-webkit-scrollbar 
  {
    width: 0.4vw;
    height: 0.4vw;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track 
  {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb 
  {
    background: var(--bg-color-3);
    border-radius: 5px;
  }
}

.custom-scrollbar-dark
{
  &::-webkit-scrollbar 
  {
    width: 0.4vw;
    height: 0.4vw;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track 
  {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb 
  {
    background: grey;
    border-radius: 5px;
  }
}


.regulation
{
  color: var(--primary-dark);
  border: 1px solid var(--primary);  
  color: var(--text-color);
  padding: 0.2vw;
  border-radius: 5px;
  width: 1vw;
  height: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-regulation
{
  padding: 0.2vw;
  border-radius: 5px;
  width: 1vw;
  height: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

