.icon
{
  width: 1em;
  height: 1em;
}

.icon-xs
{
  width: 0.8em;
  height: 0.8em;
}

.icon-s
{
  width: 1.2em;
  height: 1.2em;
}

.icon-m
{
  width: 1.5em;
  height: 1.5em;
}

.icon-l
{
  width: 2em;
  height: 2em;
}

.icon-xl
{
  width: 4em;
  height: 4em;
}

.sprite
{
  width: 6em;
  height: 6em;
}

.sprite-m
{
  width: 5em;
  height: 5em;
}

.sprite-small
{
  width: 4em;
  height: 4em;
}
