.smart-input-wrapper
{
  display: flex;
  flex-direction: column;
  width: 100%;

  .smart-input-top
  {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 0.2vw 0 0.2vw;

    .smart-input-label
    {
  
    }
  }
}

$tooltipColor: var(--bg-color-tooltip);
$arrowSize: 0.4vw;

.tooltip-wrapper
{
  position: relative;

  &:hover .tooltip
  {
    width: max-content;
    height: fit-content;
    max-width: 10em;
    padding: 0.4em;
    
    display: flex;
    align-items: center;

    background-color: $tooltipColor;
    
    color: var(--text-color-reverse);
    border-radius: 5px;

    font-size: 0.80rem;
    text-align: center;
    cursor: default;
    opacity: 1;

    transition: opacity 0.2s 0.5s ease;
  }

  &:hover .top
  {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(calc(-50%), calc($arrowSize * -1.5));
  }

  &:hover .right
  {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(calc($arrowSize * 1.5), calc(-50%));
  }

  &:hover .bottom
  {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(calc(-50%), calc($arrowSize * 1.5));
  }

  &:hover .left
  {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate(calc($arrowSize * -1.5), calc(-50%));
  }
}

.arrowtop 
{
  width: 0; 
  height: 0; 
  border-left: $arrowSize solid transparent;
  border-right: $arrowSize solid transparent;
  border-bottom: $arrowSize solid $tooltipColor;

  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(calc(-50%), calc($arrowSize * -1 + 1px));
}

.arrowright 
{
  width: 0; 
  height: 0; 
  border-top: $arrowSize solid transparent;
  border-bottom: $arrowSize solid transparent;
  border-left: $arrowSize solid $tooltipColor;

  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(calc($arrowSize - 1px), calc(-50%));
}

.arrowbottom 
{
  width: 0; 
  height: 0; 
  border-left: $arrowSize solid transparent;
  border-right: $arrowSize solid transparent;
  border-top: $arrowSize solid $tooltipColor;

  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(calc(-50%), calc($arrowSize - 1px));
}

.arrowleft 
{
  width: 0; 
  height: 0; 
  border-top: $arrowSize solid transparent;
  border-bottom: $arrowSize solid transparent; 
  border-right: $arrowSize solid $tooltipColor;

  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(calc($arrowSize * -1 + 1px), calc(-50%));
}

.poke-tooltip-wrapper
{
  position: relative;

  &:hover > .section-content > .tooltip-component > .poke-tooltip
  {
    width: max-content;
    height: fit-content;
    
    display: flex;
    align-items: center;

    background-color: var(--bg-color-2);
    color: var(--text-color);
    border-radius: 5px;
    border: 1px solid black;

    text-align: center;
    cursor: default;
    opacity: 1;
    overflow: visible;
  }
}


@media (pointer: coarse) 
{
  .poke-tooltip-wrapper
  {
    position: relative;

    &:hover 
    {
      all: revert-layer;
    }
  }
}